<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<false/>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>com.typemytype.robofont.segmentType</key>
			<string>curve</string>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1597766770.5 D_.glif
1597766770.5 G_.glif
1597766770.5 J_.glif
1597766770.5 M_.glif
1597766770.5 O_.glif
1597766770.5 U_.glif
1597766770.5 a.glif
1607654396.8 asciitilde.glif
1597766770.5 c.glif
1597766770.5 g.glif
1597766770.5 i.italic.glif
1597766770.5 j.glif
1597766770.5 numbersign.glif
1597766770.5 question.glif
1597766770.5 r.glif
1597766770.5 t.glif
1597766770.5 zero.glif</string>
		</dict>
	</dict>
</plist>
