<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>a.italic.copy_1</key>
	<string>a.italic.copy_1.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.copy_1</key>
	<string>c.copy_1.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.copy_1</key>
	<string>e.copy_1.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.copy_1</key>
	<string>f.copy_1.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.copy_2</key>
	<string>g.copy_2.glif</string>
	<key>i.italic</key>
	<string>i.italic.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.copy_1</key>
	<string>t.copy_1.glif</string>
</dict>
</plist>
