<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.nokinks</key>
	<string>R_.nokinks.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.nokinks</key>
	<string>e.nokinks.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.smoother</key>
	<string>k.smoother.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.nokinks</key>
	<string>q.nokinks.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.smoother</key>
	<string>x.smoother.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.smoother</key>
	<string>y.smoother.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
