<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>at.prop</key>
		<string>at.prop.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.sans</key>
		<string>l.sans.glif</string>
		<key>ldot</key>
		<string>ldot.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>w</key>
		<string>w.glif</string>
	</dict>
</plist>
