<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<string>C_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.copy_1</key>
	<string>c.copy_1.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.copy_1</key>
	<string>e.copy_1.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.copy_2</key>
	<string>g.copy_2.glif</string>
	<key>o</key>
	<string>o.glif</string>
</dict>
</plist>
