<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>b.italic</key>
    <string>b.italic.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
