<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,0.25,1,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1597766769.4 b.italic.glif
1597766769.4 backslash.glif
1597766769.4 brokenbar.glif
1597766769.4 dagger.glif
1597766769.4 daggerdbl.glif
1597766769.4 emdash.glif
1597766769.4 exclam.glif
1597766769.4 exclamdown.glif
1597766769.4 f.glif
1597766769.4 partialdiff.glif
1597766769.4 perthousand.glif
1597766769.4 quotedblbase.glif
1597766769.4 quotesinglbase.glif
1597766769.4 w.glif</string>
		</dict>
	</dict>
</plist>
