<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>H</key>
		<string>H_.glif</string>
		<key>H.skewed</key>
		<string>H_.skewed.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.skewed</key>
		<string>I_.skewed.glif</string>
		<key>P</key>
		<string>P_.glif</string>
	</dict>
</plist>
