<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b.higherjoints</key>
	<string>b.higherjoints.glif</string>
	<key>b.lessextreme</key>
	<string>b.lessextreme.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>m.morecasual</key>
	<string>m.morecasual.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n.curvy</key>
	<string>n.curvy.glif</string>
	<key>n.higherjoints</key>
	<string>n.higherjoints.glif</string>
	<key>n.lessextreme</key>
	<string>n.lessextreme.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q.lessextreme</key>
	<string>q.lessextreme.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>r.lessextreme</key>
	<string>r.lessextreme.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.morecasual</key>
	<string>u.morecasual.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
</dict>
</plist>
