<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Recursive</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-20</integer>
			<integer>0</integer>
			<integer>526</integer>
			<integer>546</integer>
			<integer>700</integer>
			<integer>720</integer>
			<integer>750</integer>
			<integer>770</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleName</key>
		<string>Sans Linear A</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>5</integer>
		<key>xHeight</key>
		<integer>526</integer>
	</dict>
</plist>
