<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>uniE0A1</key>
		<string>uniE_0A_1.glif</string>
		<key>uniE0A3</key>
		<string>uniE_0A_3.glif</string>
		<key>uniE0B0</key>
		<string>uniE_0B_0.glif</string>
	</dict>
</plist>
