<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.titl</key>
		<string>Q_.titl.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>_arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>ampersand_ampersand.code</key>
		<string>ampersand_ampersand.code.glif</string>
		<key>arrowNE</key>
		<string>arrowN_E_.glif</string>
		<key>arrowNW</key>
		<string>arrowN_W_.glif</string>
		<key>arrowleftright</key>
		<string>arrowleftright.glif</string>
		<key>arrowupdown</key>
		<string>arrowupdown.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>bracketleft.case</key>
		<string>bracketleft.case.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>dotbelowcomb.case</key>
		<string>dotbelowcomb.case.glif</string>
		<key>dotlessij</key>
		<string>dotlessij.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.italic</key>
		<string>e.italic.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gmtr:diamondblack</key>
		<string>gmtr_diamondblack.glif</string>
		<key>gmtr:diamondwhite</key>
		<string>gmtr_diamondwhite.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ohm</key>
		<string>ohm.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>overline</key>
		<string>overline.glif</string>
		<key>parenleft.case</key>
		<string>parenleft.case.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>question_question.code</key>
		<string>question_question.code.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>squareblack</key>
		<string>squareblack.glif</string>
		<key>squarewhite</key>
		<string>squarewhite.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>trianglerightblack</key>
		<string>trianglerightblack.glif</string>
		<key>trianglerightwhite</key>
		<string>trianglerightwhite.glif</string>
		<key>triangleupblack</key>
		<string>triangleupblack.glif</string>
		<key>triangleupwhite</key>
		<string>triangleupwhite.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
