.DS_Store
__pycache__/
venv
node_modules
bin/*
lib/*
share/*
pyvenv.cfg

*.ttx
# *.zip

mastering/build/*
node_modules
instances
*/instances/*
*/instances
*glyph_widths.json

recursive-split
recursive-split*
.idea