fontTools[lxml,ufo,unicode,woff]>=4.2.2
afdko>=3.2.0
fontmake==2.0.5
defcon
cu2qu
brotli
fontParts>=0.9.2
psautohint>=2.0.0
ttfautohint-py>=0.4.3
ufonormalizer
fontPens
fontbakery

# The install of afdko will complain about this version of
# ufoProcessor, but this version (or higher) is needed for
# the designspace of Recusive. This causes no known problems
# with afdko in our usage, as we aren't using any of the
# afdko that uses ufoProcessor
git+https://github.com/LettError/ufoProcessor
git+https://github.com/LettError/DesignspaceProblems

# to run drawbot proofs
git+https://github.com/typemytype/drawbot

# to run font splitting script for specimen
fire

# to run the code font instantiation script
opentype-feature-freezer

# notifications for when a build has completed
pync
