afdko>=3.1.0
fontmake==2.0.5
defcon
cu2qu
brotli
fontParts>=0.9.2
psautohint>=2.0.0
statmake>=0.2.2
ttfautohint-py>=0.4.3

# The install of afdko will complain about this version of
# ufoProcessor, but this version (or higher) is needed for
# the designspace of Recusive. This causes no known problems
# with afdko in our usage, as we aren't using any of the
# afdko that uses ufoProcessor
ufoProcessor>=1.8
git+https://github.com/LettError/DesignspaceProblems

# to run drawbot proofs
git+https://github.com/typemytype/drawbot
