<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>F</key>
		<dict>
			<key>ampersand</key>
			<integer>-20</integer>
			<key>public.kern2.A_left</key>
			<integer>-30</integer>
			<key>public.kern2.I_left</key>
			<integer>-20</integer>
			<key>public.kern2.O_left</key>
			<integer>-30</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-50</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-30</integer>
			<key>public.kern2.S_left</key>
			<integer>-40</integer>
			<key>public.kern2.Y_left</key>
			<integer>-20</integer>
			<key>public.kern2.Z_left</key>
			<integer>-20</integer>
			<key>public.kern2.a_left</key>
			<integer>-10</integer>
			<key>public.kern2.g_left</key>
			<integer>-60</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.s_left</key>
			<integer>-40</integer>
			<key>public.kern2.t_left</key>
			<integer>-20</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>public.kern2.x_left</key>
			<integer>-30</integer>
		</dict>
		<key>K</key>
		<dict>
			<key>four</key>
			<integer>-20</integer>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-70</integer>
			<key>public.kern2.S_left</key>
			<integer>-20</integer>
			<key>public.kern2.T_left</key>
			<integer>-20</integer>
			<key>public.kern2.Y_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-30</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>M</key>
		<dict>
			<key>public.kern2.T_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>P</key>
		<dict>
			<key>M</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-30</integer>
			<key>ampersand</key>
			<integer>-30</integer>
			<key>public.kern2.A_left</key>
			<integer>-30</integer>
			<key>public.kern2.I_left</key>
			<integer>-30</integer>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-90</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-20</integer>
			<key>public.kern2.S_left</key>
			<integer>-30</integer>
			<key>public.kern2.T_left</key>
			<integer>-30</integer>
			<key>public.kern2.Y_left</key>
			<integer>-30</integer>
			<key>public.kern2.Z_left</key>
			<integer>-20</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-40</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.s_left</key>
			<integer>-30</integer>
			<key>public.kern2.x_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>V</key>
		<dict>
			<key>public.kern2.A_left</key>
			<integer>-30</integer>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-60</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-30</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-30</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
		</dict>
		<key>X</key>
		<dict>
			<key>four</key>
			<integer>-30</integer>
			<key>public.kern2.A_left</key>
			<integer>-20</integer>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-40</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
			<key>public.kern2.s_left</key>
			<integer>-30</integer>
		</dict>
		<key>ampersand</key>
		<dict>
			<key>public.kern2.T_left</key>
			<integer>-30</integer>
			<key>public.kern2.Y_left</key>
			<integer>-20</integer>
		</dict>
		<key>h</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-40</integer>
		</dict>
		<key>l</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-20</integer>
		</dict>
		<key>m</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-20</integer>
		</dict>
		<key>n</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-60</integer>
		</dict>
		<key>public.kern1.A_right</key>
		<dict>
			<key>V</key>
			<integer>-30</integer>
			<key>public.kern2.O_left</key>
			<integer>-10</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-10</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-40</integer>
			<key>public.kern2.T_left</key>
			<integer>-70</integer>
			<key>public.kern2.W_left</key>
			<integer>-20</integer>
			<key>public.kern2.Y_left</key>
			<integer>-60</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.t_left</key>
			<integer>-20</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.B_right</key>
		<dict>
			<key>V</key>
			<integer>-20</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>public.kern2.O_left</key>
			<integer>-10</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-20</integer>
			<key>public.kern2.S_left</key>
			<integer>-40</integer>
			<key>public.kern2.T_left</key>
			<integer>-40</integer>
			<key>public.kern2.Y_left</key>
			<integer>-40</integer>
			<key>public.kern2.Z_left</key>
			<integer>-30</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-40</integer>
			<key>public.kern2.o_left</key>
			<integer>-40</integer>
			<key>public.kern2.s_left</key>
			<integer>-30</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.C_right</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>public.kern2.T_left</key>
			<integer>-30</integer>
			<key>public.kern2.Y_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-30</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.E_right</key>
		<dict>
			<key>public.kern2.S_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.v_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.G_right</key>
		<dict>
			<key>public.kern2.T_left</key>
			<integer>-40</integer>
			<key>public.kern2.Y_left</key>
			<integer>-30</integer>
			<key>public.kern2.Z_left</key>
			<integer>-20</integer>
			<key>public.kern2.x_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.I_right</key>
		<dict>
			<key>public.kern2.Y_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.L_right</key>
		<dict>
			<key>V</key>
			<integer>-40</integer>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-30</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-100</integer>
			<key>public.kern2.T_left</key>
			<integer>-100</integer>
			<key>public.kern2.W_left</key>
			<integer>-20</integer>
			<key>public.kern2.Y_left</key>
			<integer>-90</integer>
			<key>public.kern2.i_left</key>
			<integer>-20</integer>
			<key>public.kern2.t_left</key>
			<integer>-40</integer>
			<key>public.kern2.v_left</key>
			<integer>-50</integer>
			<key>public.kern2.w_left</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.O_right</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-30</integer>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>public.kern2.I_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-20</integer>
			<key>public.kern2.S_left</key>
			<integer>-30</integer>
			<key>public.kern2.T_left</key>
			<integer>-20</integer>
			<key>public.kern2.Y_left</key>
			<integer>-40</integer>
			<key>public.kern2.Z_left</key>
			<integer>-30</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
			<key>public.kern2.x_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.Punct_low_right</key>
		<dict>
			<key>l</key>
			<integer>-20</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.t_left</key>
			<integer>-60</integer>
			<key>public.kern2.v_left</key>
			<integer>-80</integer>
			<key>public.kern2.w_left</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.Punct_mid_right</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>public.kern2.I_left</key>
			<integer>-40</integer>
			<key>public.kern2.S_left</key>
			<integer>-10</integer>
			<key>public.kern2.T_left</key>
			<integer>-60</integer>
			<key>public.kern2.Y_left</key>
			<integer>-60</integer>
			<key>public.kern2.Z_left</key>
			<integer>-30</integer>
			<key>public.kern2.x_left</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.Punct_top_right</key>
		<dict>
			<key>n</key>
			<integer>-40</integer>
			<key>public.kern2.A_left</key>
			<integer>-50</integer>
			<key>public.kern2.O_left</key>
			<integer>-30</integer>
			<key>public.kern2.o_left</key>
			<integer>-60</integer>
			<key>public.kern2.s_left</key>
			<integer>-60</integer>
		</dict>
		<key>public.kern1.R_right</key>
		<dict>
			<key>public.kern2.A_left</key>
			<integer>-10</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.T_right</key>
		<dict>
			<key>ampersand</key>
			<integer>-30</integer>
			<key>four</key>
			<integer>-50</integer>
			<key>public.kern2.A_left</key>
			<integer>-70</integer>
			<key>public.kern2.I_left</key>
			<integer>-20</integer>
			<key>public.kern2.O_left</key>
			<integer>-30</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-80</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-40</integer>
			<key>public.kern2.S_left</key>
			<integer>-30</integer>
			<key>public.kern2.T_left</key>
			<integer>-20</integer>
			<key>public.kern2.a_left</key>
			<integer>-50</integer>
			<key>public.kern2.g_left</key>
			<integer>-70</integer>
			<key>public.kern2.o_left</key>
			<integer>-60</integer>
			<key>public.kern2.s_left</key>
			<integer>-70</integer>
			<key>public.kern2.t_left</key>
			<integer>-30</integer>
			<key>public.kern2.v_left</key>
			<integer>-30</integer>
			<key>public.kern2.x_left</key>
			<integer>-30</integer>
			<key>seven</key>
			<integer>-30</integer>
			<key>u</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.W_right</key>
		<dict>
			<key>public.kern2.A_left</key>
			<integer>-20</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-50</integer>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.Y_right</key>
		<dict>
			<key>ampersand</key>
			<integer>-30</integer>
			<key>four</key>
			<integer>-40</integer>
			<key>public.kern2.A_left</key>
			<integer>-80</integer>
			<key>public.kern2.I_left</key>
			<integer>-20</integer>
			<key>public.kern2.O_left</key>
			<integer>-40</integer>
			<key>public.kern2.Punct_low_left</key>
			<integer>-120</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-70</integer>
			<key>public.kern2.S_left</key>
			<integer>-40</integer>
			<key>public.kern2.Y_left</key>
			<integer>-30</integer>
			<key>public.kern2.Z_left</key>
			<integer>-30</integer>
			<key>public.kern2.a_left</key>
			<integer>-60</integer>
			<key>public.kern2.g_left</key>
			<integer>-70</integer>
			<key>public.kern2.o_left</key>
			<integer>-50</integer>
			<key>public.kern2.s_left</key>
			<integer>-70</integer>
			<key>public.kern2.t_left</key>
			<integer>-30</integer>
			<key>public.kern2.v_left</key>
			<integer>-30</integer>
			<key>public.kern2.x_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-40</integer>
			<key>u</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.Z_right</key>
		<dict>
			<key>public.kern2.O_left</key>
			<integer>-30</integer>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-40</integer>
			<key>public.kern2.a_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.a_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-50</integer>
			<key>public.kern2.g_left</key>
			<integer>-10</integer>
			<key>public.kern2.t_left</key>
			<integer>-20</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.c_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.e_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-50</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.f_right</key>
		<dict>
			<key>public.kern2.Punct_low_left</key>
			<integer>-40</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.s_left</key>
			<integer>-40</integer>
			<key>public.kern2.x_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.g_right</key>
		<dict>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.n_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>0</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
			<key>public.kern2.w_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.o_right</key>
		<dict>
			<key>public.kern2.Punct_low_left</key>
			<integer>-10</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-70</integer>
			<key>public.kern2.v_left</key>
			<integer>-10</integer>
			<key>public.kern2.w_left</key>
			<integer>-10</integer>
			<key>public.kern2.x_left</key>
			<integer>-10</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.r_right</key>
		<dict>
			<key>public.kern2.Punct_low_left</key>
			<integer>-70</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-20</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-30</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.s_left</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.s_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.t_right</key>
		<dict>
			<key>public.kern2.Punct_top_left</key>
			<integer>-30</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.i_left</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.v_right</key>
		<dict>
			<key>public.kern2.Punct_low_left</key>
			<integer>-60</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-30</integer>
			<key>public.kern2.o_left</key>
			<integer>-10</integer>
			<key>public.kern2.v_left</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.w_right</key>
		<dict>
			<key>public.kern2.Punct_low_left</key>
			<integer>-30</integer>
			<key>public.kern2.a_left</key>
			<integer>-20</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.x_right</key>
		<dict>
			<key>public.kern2.Punct_mid_left</key>
			<integer>-40</integer>
			<key>public.kern2.Punct_top_left</key>
			<integer>-40</integer>
			<key>public.kern2.a_left</key>
			<integer>-10</integer>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
			<key>public.kern2.o_left</key>
			<integer>-20</integer>
			<key>public.kern2.s_left</key>
			<integer>-20</integer>
			<key>public.kern2.t_left</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.z_right</key>
		<dict>
			<key>public.kern2.g_left</key>
			<integer>-20</integer>
		</dict>
		<key>seven</key>
		<dict>
			<key>public.kern2.O_left</key>
			<integer>-20</integer>
		</dict>
	</dict>
</plist>
