<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>K</key>
		<string>K_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>arrowNE</key>
		<string>arrowN_E_.glif</string>
		<key>arrowNW</key>
		<string>arrowN_W_.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>delta</key>
		<string>delta.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gamma</key>
		<string>gamma.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
