<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
