<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.stemtaper</key>
	<string>B_.stemtaper.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D.stemtaper</key>
	<string>D_.stemtaper.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.stemtaper</key>
	<string>E_.stemtaper.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H.stemtaper</key>
	<string>H_.stemtaper.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.smoother</key>
	<string>R_.smoother.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.smoothtraps</key>
	<string>a.smoothtraps.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.alt8</key>
	<string>b.alt8.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.smoother</key>
	<string>g.smoother.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.reversewedge</key>
	<string>i.reversewedge.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.smoother</key>
	<string>k.smoother.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.smoother</key>
	<string>l.smoother.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>l.wedgeserif</key>
	<string>l.wedgeserif.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less.arrow</key>
	<string>less.arrow.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.smoothtraps</key>
	<string>r.smoothtraps.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.fraction</key>
	<string>slash.fraction.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x.smoother</key>
	<string>x.smoother.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.smoother</key>
	<string>y.smoother.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
</dict>
</plist>
