<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gamma</key>
		<string>G_amma.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Pi</key>
		<string>P_i.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.titl</key>
		<string>Q_.titl.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>_arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>ampersand_ampersand.code</key>
		<string>ampersand_ampersand.code.glif</string>
		<key>ampersand_ampersand_ampersand.code</key>
		<string>ampersand_ampersand_ampersand.code.glif</string>
		<key>arrowNE</key>
		<string>arrowN_E_.glif</string>
		<key>arrowNW</key>
		<string>arrowN_W_.glif</string>
		<key>arrowleftright</key>
		<string>arrowleftright.glif</string>
		<key>arrowupdown</key>
		<string>arrowupdown.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>at.cap</key>
		<string>at.cap.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>beta</key>
		<string>beta.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>delta</key>
		<string>delta.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dotbelowcomb.case</key>
		<string>dotbelowcomb.case.glif</string>
		<key>dotlessij</key>
		<string>dotlessij.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>equal_asciitilde.code</key>
		<string>equal_asciitilde.code.glif</string>
		<key>equal_greater.code</key>
		<string>equal_greater.code.glif</string>
		<key>equal_slash_equal.code</key>
		<string>equal_slash_equal.code.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>exclam_asciitilde.code</key>
		<string>exclam_asciitilde.code.glif</string>
		<key>exclam_equal.code</key>
		<string>exclam_equal.code.glif</string>
		<key>exclam_equal_equal.code</key>
		<string>exclam_equal_equal.code.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>f_f_i</key>
		<string>f_f_i.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gamma</key>
		<string>gamma.glif</string>
		<key>gmtr:diamondwhite</key>
		<string>gmtr_diamondwhite.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>heartwhite</key>
		<string>heartwhite.glif</string>
		<key>hyphen_hyphen_greater.code</key>
		<string>hyphen_hyphen_greater.code.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>kip</key>
		<string>kip.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lambda</key>
		<string>lambda.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>less_equal_greater.code</key>
		<string>less_equal_greater.code.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nu</key>
		<string>nu.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonekcomb</key>
		<string>ogonekcomb.glif</string>
		<key>ohm</key>
		<string>ohm.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>squarewhite</key>
		<string>squarewhite.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
		<key>trianglerightwhite</key>
		<string>trianglerightwhite.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>uhorn</key>
		<string>uhorn.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zerosuperior</key>
		<string>zerosuperior.glif</string>
	</dict>
</plist>
