<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>U</key>
	<string>U_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.copy_1</key>
	<string>a.copy_1.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.copy_1</key>
	<string>g.copy_1.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
	<key>p.higherjoints</key>
	<string>p.higherjoints.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
</dict>
</plist>
