<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.sloped</key>
	<string>M_.sloped.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt1</key>
	<string>a.alt1.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.002</key>
	<string>e.002.glif</string>
	<key>e.alt1</key>
	<string>e.alt1.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.alt1</key>
	<string>eight.alt1.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.alt1</key>
	<string>f.alt1.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt1</key>
	<string>five.alt1.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt1</key>
	<string>four.alt1.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt1</key>
	<string>g.alt1.glif</string>
	<key>g.alt3</key>
	<string>g.alt3.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ver02</key>
	<string>g.ver02.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.monoish</key>
	<string>i.monoish.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.monoish</key>
	<string>l.monoish.glif</string>
	<key>l.narrow</key>
	<string>l.narrow.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.alt3</key>
	<string>m.alt3.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt1</key>
	<string>nine.alt1.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.alt1</key>
	<string>one.alt1.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.copy_1</key>
	<string>quotedblleft.copy_1.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.copy_1</key>
	<string>quoteleft.copy_1.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt2</key>
	<string>r.alt2.glif</string>
	<key>r.alt3</key>
	<string>r.alt3.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt1</key>
	<string>s.alt1.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt1</key>
	<string>seven.alt1.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt1</key>
	<string>six.alt1.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt1</key>
	<string>three.alt1.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt1</key>
	<string>two.alt1.glif</string>
	<key>two.sharp</key>
	<string>two.sharp.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt1</key>
	<string>y.alt1.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt1</key>
	<string>zero.alt1.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
</dict>
</plist>
