<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766768.0 C_.glif
1597766768.0 O_slash.glif
1597766768.0 arrowN_E_.glif
1597766768.0 at.glif
1597766768.0 c.glif
1597766768.0 e.glif
1597766768.0 f.glif
1597766768.0 g.glif
1597766768.0 i.italic.glif
1597766768.0 k.italic.glif
1597766768.0 lslash.glif
1597766768.0 ordfeminine.glif
1597766768.0 percent.glif
1597766768.0 perthousand.glif
1597766768.0 x.italic.glif
1597766768.0 zero.glif</string>
    </dict>
  </dict>
</plist>
