<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>IJ</key>
		<string>I_J_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Nhookleft</key>
		<string>N_hookleft.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>S.overlap2</key>
		<string>S_.overlap2.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tbar</key>
		<string>T_bar.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>a.roman</key>
		<string>a.roman.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>dong</key>
		<string>dong.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.roman</key>
		<string>f.roman.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.italic</key>
		<string>g.italic.glif</string>
		<key>g.roman</key>
		<string>g.roman.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.roman</key>
		<string>i.roman.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>kip</key>
		<string>kip.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>naira</key>
		<string>naira.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.sans</key>
		<string>one.sans.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>r.roman</key>
		<string>r.roman.glif</string>
		<key>rupeeIndian</key>
		<string>rupeeI_ndian.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>sterling.flat</key>
		<string>sterling.flat.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.rounder</key>
		<string>two.rounder.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>won</key>
		<string>won.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>y.roman</key>
		<string>y.roman.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
	</dict>
</plist>
