@font-face {
    font-family: "RecWeb";
    font-weight: 300 1000;
    src: url('./recursive-MONO_CASL_wght_slnt_ital--full_gsub--2019_11_05-00_13.woff2') format("woff2");
}

* {
    font-family: "RecWeb", fantasy;
}

.grid {
    list-style: none;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 3rem));
    font-size: 2rem;
    line-height: 1.5em;
    text-align: center;
}