<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>designspace</key>
	<array>
		<array>
			<string>genre</string>
			<real>0.0</real>
		</array>
		<array>
			<string>slant</string>
			<real>14.04</real>
		</array>
		<array>
			<string>weight</string>
			<real>218.0</real>
		</array>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>aring</string>
		<string>dotbelowcomb</string>
		<string>n.alt1</string>
		<string>Hcircumflex</string>
		<string>dollar</string>
		<string>n.replaced_with_nokinks</string>
		<string>four</string>
		<string>c.replaced_with_nokinks</string>
		<string>commaturnedabovecomb.case</string>
		<string>Yacute</string>
		<string>ampersand.straightbar</string>
		<string>obreve</string>
		<string>Ygrave</string>
		<string>quotedblright</string>
		<string>kcommaaccent</string>
		<string>ccaron</string>
		<string>u.straighter</string>
		<string>Aacute</string>
		<string>quotesinglbase</string>
		<string>caroncomb</string>
		<string>Ymacron</string>
		<string>ucircumflex</string>
		<string>r.smoothtraps</string>
		<string>Euro</string>
		<string>y.replaced_with_smoother</string>
		<string>P</string>
		<string>underscore</string>
		<string>i.italic</string>
		<string>two.sharp</string>
		<string>ellipsis</string>
		<string>f.italicer</string>
		<string>Ntilde</string>
		<string>amacron</string>
		<string>p</string>
		<string>Uogonek</string>
		<string>j.replaced_with_nokinks</string>
		<string>P.smallserif</string>
		<string>commaaboverightcomb</string>
		<string>Kcommaaccent</string>
		<string>S.replaced_with_nokinks</string>
		<string>y.italicer</string>
		<string>Atilde</string>
		<string>a.smoothtraps</string>
		<string>Otilde</string>
		<string>m.replaced_with_higherjoints</string>
		<string>zero</string>
		<string>zero.ss01</string>
		<string>dotlessj</string>
		<string>dotlessi</string>
		<string>Scaron</string>
		<string>a.replaced_with_rounder</string>
		<string>egrave</string>
		<string>Sacute</string>
		<string>G</string>
		<string>section</string>
		<string>Cacute</string>
		<string>Icircumflex</string>
		<string>Gcaron</string>
		<string>ampersand</string>
		<string>a.straighter</string>
		<string>dotaccent</string>
		<string>commaaboverightcomb.case</string>
		<string>dotaccentcomb.case</string>
		<string>degree</string>
		<string>K</string>
		<string>b.replaced_with_mediumheightjoints</string>
		<string>ogonekcomb</string>
		<string>m.curvy</string>
		<string>acircumflex</string>
		<string>f.replaced_with_nokinks</string>
		<string>h.replaced_with_mediumheightjoints</string>
		<string>Uhungarumlaut</string>
		<string>Aring</string>
		<string>Cdotaccent</string>
		<string>l.alt-wide</string>
		<string>i.ss01</string>
		<string>g.smooth_oblique</string>
		<string>k</string>
		<string>i.ss02</string>
		<string>Rcaron</string>
		<string>g.45_oblique</string>
		<string>Agrave</string>
		<string>uni2206</string>
		<string>g.kinks</string>
		<string>Ldot</string>
		<string>Edotaccent</string>
		<string>Abreve</string>
		<string>divide</string>
		<string>l.italic</string>
		<string>Nhookleft</string>
		<string>ocircumflex</string>
		<string>seven</string>
		<string>c.rounder</string>
		<string>asciitilde</string>
		<string>Lacute</string>
		<string>summation</string>
		<string>d.straighter</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>at.simpler</string>
		<string>odotbelow</string>
		<string>brokenbar</string>
		<string>two</string>
		<string>dcaron</string>
		<string>Edotbelow</string>
		<string>six.replaced_with_nokinks</string>
		<string>scaron</string>
		<string>i.smoother</string>
		<string>F</string>
		<string>l.replaced_with_reversewedge2</string>
		<string>b.replaced_with_higherjoints</string>
		<string>f.nokinks</string>
		<string>bracketleft</string>
		<string>V</string>
		<string>asciicircum</string>
		<string>ringacute</string>
		<string>t.replaced_with_nokinks</string>
		<string>dotaccentcomb</string>
		<string>R.smallserif</string>
		<string>f</string>
		<string>five.middlewaist</string>
		<string>c.ss01</string>
		<string>b.straighter</string>
		<string>paragraph</string>
		<string>nine</string>
		<string>v</string>
		<string>D.smallserif</string>
		<string>c.replaced_with_sharper</string>
		<string>Eogonek</string>
		<string>cdotaccent</string>
		<string>brevecomb.case</string>
		<string>backslash</string>
		<string>currency</string>
		<string>o</string>
		<string>r.replaced_with_ss01</string>
		<string>commaaccentcomb.case</string>
		<string>ampersand.crossbar</string>
		<string>macroncomb</string>
		<string>m.morebalance</string>
		<string>lacute</string>
		<string>adotbelow</string>
		<string>w.italicer</string>
		<string>ygrave</string>
		<string>A</string>
		<string>p.replaced_with_mediumheightjoints</string>
		<string>product</string>
		<string>umacron</string>
		<string>q.replaced_with_nokinks</string>
		<string>d.replaced_with_morebalance</string>
		<string>two.replaced_with_nokinks</string>
		<string>icircumflex</string>
		<string>ringacute.case</string>
		<string>fi</string>
		<string>fl</string>
		<string>a</string>
		<string>u.replaced_with_morebalance</string>
		<string>r.replaced_with_higherjoints</string>
		<string>eng</string>
		<string>gcaron</string>
		<string>n.smoothtraps</string>
		<string>q</string>
		<string>S.leaning</string>
		<string>p.replaced_with_morebalance</string>
		<string>oacute</string>
		<string>l.sansfirst</string>
		<string>six</string>
		<string>Odotbelow</string>
		<string>ograve</string>
		<string>p.straighter</string>
		<string>uring</string>
		<string>circumflex</string>
		<string>a.italic</string>
		<string>comma</string>
		<string>f.replaced_with_ss01</string>
		<string>X</string>
		<string>v.italicer</string>
		<string>ogonekcomb.case</string>
		<string>g.ss01alt</string>
		<string>ampersand.nobar</string>
		<string>Scedilla</string>
		<string>otilde</string>
		<string>gcircumflex</string>
		<string>ampersand.smooth</string>
		<string>l.kinks</string>
		<string>guillemotright</string>
		<string>ecircumflex</string>
		<string>greater</string>
		<string>g.replaced_with_ss01</string>
		<string>n.replaced_with_higherjoints</string>
		<string>uacute</string>
		<string>Idotaccent</string>
		<string>L</string>
		<string>g.replaced_with_morecasual</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>bar</string>
		<string>Itilde</string>
		<string>cedilla</string>
		<string>r.sansfirst</string>
		<string>n.replaced_with_morebalance</string>
		<string>omacron</string>
		<string>Schwa</string>
		<string>ydieresis</string>
		<string>l</string>
		<string>logicalnot</string>
		<string>ncommaaccent</string>
		<string>exclamdown</string>
		<string>endash</string>
		<string>Eng</string>
		<string>four.angledtop</string>
		<string>less.replaced_with_replaced_with_arrow</string>
		<string>aeacute</string>
		<string>q.replaced_with_mediumheightjoints</string>
		<string>Z.noserif</string>
		<string>o.symmetrical</string>
		<string>u.replaced_with_mediumheightjoints</string>
		<string>U.replaced_with_morebalanced</string>
		<string>Adieresis</string>
		<string>germandbls</string>
		<string>Odieresis</string>
		<string>space</string>
		<string>c.straighter</string>
		<string>eight.replaced_with_nokinks</string>
		<string>acutecomb</string>
		<string>uni2022</string>
		<string>quoteright</string>
		<string>e.45_oblique</string>
		<string>twosuperior</string>
		<string>Gcommaaccent</string>
		<string>m.replaced_with_nokinks</string>
		<string>braceleft.angular</string>
		<string>ri</string>
		<string>Ecaron</string>
		<string>dieresiscomb.case</string>
		<string>zero.replaced_with_nokinks</string>
		<string>quoteleft</string>
		<string>edotbelow</string>
		<string>Ncommaaccent</string>
		<string>W</string>
		<string>Obreve</string>
		<string>kgreenlandic</string>
		<string>Q</string>
		<string>g</string>
		<string>imacron</string>
		<string>o.replaced_with_egg</string>
		<string>g.replaced_with_rounder</string>
		<string>r.italic</string>
		<string>C.replaced_with_nokinks</string>
		<string>a.replaced_with_nokinks</string>
		<string>w</string>
		<string>wacute</string>
		<string>m.kinks</string>
		<string>e.tooround</string>
		<string>tildecomb</string>
		<string>g.nokinks</string>
		<string>Tbar</string>
		<string>dagger.daggery</string>
		<string>one</string>
		<string>e.smoother</string>
		<string>Oacute</string>
		<string>h.replaced_with_morecasual</string>
		<string>five.topserif</string>
		<string>ring</string>
		<string>Ubreve</string>
		<string>j.kinks</string>
		<string>Ycircumflex</string>
		<string>commaturnedabovecomb</string>
		<string>D.replaced_with_nokinks</string>
		<string>bitcoin</string>
		<string>Lcaron</string>
		<string>Wgrave</string>
		<string>a.ss01</string>
		<string>B</string>
		<string>iacute</string>
		<string>Rcommaaccent</string>
		<string>Ydieresis</string>
		<string>five.replaced_with_replaced_with_curvedown</string>
		<string>i.straighter</string>
		<string>R</string>
		<string>Ytilde</string>
		<string>b</string>
		<string>udotbelow</string>
		<string>m.roundcounter</string>
		<string>g.smoother</string>
		<string>r</string>
		<string>Jcircumflex</string>
		<string>Ccedilla</string>
		<string>minus</string>
		<string>tcaron</string>
		<string>n.replaced_with_mediumheightjoints</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>Ucircumflex</string>
		<string>y.ss01</string>
		<string>Lslash</string>
		<string>ldot</string>
		<string>abreve</string>
		<string>racute</string>
		<string>florin</string>
		<string>z.wide</string>
		<string>tbar</string>
		<string>Uacute</string>
		<string>d.replaced_with_mediumheightjoints</string>
		<string>itilde</string>
		<string>E.smallserif</string>
		<string>three.middlewaist</string>
		<string>Emacron</string>
		<string>edotaccent</string>
		<string>n.curvy</string>
		<string>z.straighter</string>
		<string>gravecomb</string>
		<string>less.replaced_with_arrow</string>
		<string>p.replaced_with_nokinks</string>
		<string>Oslashacute</string>
		<string>quotedbl</string>
		<string>s.alt1</string>
		<string>ohungarumlaut</string>
		<string>six.alt1</string>
		<string>n.replaced_with_morecasual</string>
		<string>guilsinglright</string>
		<string>M</string>
		<string>e.highcontrast</string>
		<string>question.nokinks</string>
		<string>emacron</string>
		<string>multiply</string>
		<string>k.replaced_with_smoother</string>
		<string>Oogonek</string>
		<string>grave</string>
		<string>onesuperior</string>
		<string>uni1E9E</string>
		<string>t.straighter</string>
		<string>Ocircumflex</string>
		<string>m</string>
		<string>R.sharper</string>
		<string>percent.replaced_with_smallslash</string>
		<string>numbersign.straight</string>
		<string>plusminus</string>
		<string>ringcomb</string>
		<string>r.replaced_with_reversewedge2</string>
		<string>B.replaced_with_nokinks</string>
		<string>lozenge</string>
		<string>Gcircumflex</string>
		<string>circumflexcomb</string>
		<string>questiondown</string>
		<string>v.smoothtraps</string>
		<string>perthousand</string>
		<string>dotlessij</string>
		<string>ccedilla</string>
		<string>Idotbelow</string>
		<string>m.replaced_with_mediumheightjoints</string>
		<string>copyright</string>
		<string>j.straighter</string>
		<string>hcircumflex</string>
		<string>Scommaaccent</string>
		<string>yen</string>
		<string>ntilde</string>
		<string>Zacute</string>
		<string>three.replaced_with_nokinks</string>
		<string>Etilde</string>
		<string>less.replaced_with_taller</string>
		<string>c.kinks</string>
		<string>G.replaced_with_nokinks</string>
		<string>i.replaced_with_reversewedge2</string>
		<string>H</string>
		<string>cacute</string>
		<string>Acircumflex</string>
		<string>d.replaced_with_higherjoints</string>
		<string>cedillacomb</string>
		<string>Ncaron</string>
		<string>i.italicer</string>
		<string>f.straighter</string>
		<string>Idieresis</string>
		<string>R.replaced_with_nokinks</string>
		<string>S.rounder</string>
		<string>napostrophe</string>
		<string>g.italic</string>
		<string>i.replaced_with_ss01</string>
		<string>h</string>
		<string>odieresis</string>
		<string>Ograve</string>
		<string>gcommaaccent</string>
		<string>j.italicer</string>
		<string>x</string>
		<string>eacute</string>
		<string>udieresis</string>
		<string>O.replaced_with_nokinks</string>
		<string>g.extra</string>
		<string>schwa</string>
		<string>gravecomb.case</string>
		<string>rcaron</string>
		<string>Ccaron</string>
		<string>l.straighter</string>
		<string>q.replaced_with_higherjoints</string>
		<string>Adotbelow</string>
		<string>g.ss02</string>
		<string>g.ss01</string>
		<string>edieresis</string>
		<string>braceleft</string>
		<string>h.replaced_with_morebalance</string>
		<string>macron</string>
		<string>onequarter</string>
		<string>atilde</string>
		<string>F.smallserif</string>
		<string>sacute</string>
		<string>cedillacomb.case</string>
		<string>uni2190</string>
		<string>Oslash</string>
		<string>gbreve</string>
		<string>C</string>
		<string>quotedblleft</string>
		<string>Aringacute</string>
		<string>AEacute</string>
		<string>nine.replaced_with_nokinks</string>
		<string>r.smoother</string>
		<string>S</string>
		<string>f.italic</string>
		<string>Eacute</string>
		<string>l.replaced_with_ss01</string>
		<string>zacute</string>
		<string>exclam</string>
		<string>IJacute</string>
		<string>Tcaron</string>
		<string>oslashacute</string>
		<string>c</string>
		<string>z</string>
		<string>uni00AD</string>
		<string>uni02BC</string>
		<string>Lcommaaccent</string>
		<string>equal</string>
		<string>l.smoother</string>
		<string>C.leaning</string>
		<string>Ugrave</string>
		<string>eth</string>
		<string>hbar</string>
		<string>caroncomb.case</string>
		<string>Racute</string>
		<string>uhungarumlaut</string>
		<string>Egrave</string>
		<string>acutecomb.case</string>
		<string>y.italic</string>
		<string>hyphen</string>
		<string>q.replaced_with_morebalance</string>
		<string>o.straighter</string>
		<string>period</string>
		<string>igrave</string>
		<string>c.sansfirst</string>
		<string>colon</string>
		<string>f.replaced_with_reversewedge2</string>
		<string>nacute</string>
		<string>Ecircumflex</string>
		<string>nhookleft</string>
		<string>trademark</string>
		<string>five.replaced_with_nokinks</string>
		<string>cent</string>
		<string>G.rounder</string>
		<string>lslash</string>
		<string>dollar.lower</string>
		<string>brevecomb</string>
		<string>estimated</string>
		<string>wdieresis</string>
		<string>ycircumflex</string>
		<string>lcommaaccent</string>
		<string>u.replaced_with_higherjoints</string>
		<string>uni00A0</string>
		<string>g.replaced_with_bigear</string>
		<string>N</string>
		<string>Amacron</string>
		<string>n.straighter</string>
		<string>breve</string>
		<string>g.replaced_with_nokinks</string>
		<string>hungarumlautcomb</string>
		<string>guillemotleft</string>
		<string>r.replaced_with_mediumheightjoints</string>
		<string>n</string>
		<string>C.rounder</string>
		<string>Imacron</string>
		<string>commaaccentcomb</string>
		<string>h.replaced_with_nokinks</string>
		<string>uni2261</string>
		<string>idieresis</string>
		<string>braceright</string>
		<string>threequarters</string>
		<string>numbersign</string>
		<string>q.straighter</string>
		<string>braceright.angular</string>
		<string>numbersign.v2-curvy</string>
		<string>Dcaron</string>
		<string>ugrave</string>
		<string>ij</string>
		<string>B.smallserif</string>
		<string>g.ver02</string>
		<string>b.replaced_with_morebalance</string>
		<string>periodcentered</string>
		<string>ijacute</string>
		<string>s</string>
		<string>n.roundcounter</string>
		<string>nine.alt1</string>
		<string>m.replaced_with_morecasual</string>
		<string>Dcroat</string>
		<string>sterling</string>
		<string>Aogonek</string>
		<string>I</string>
		<string>d.replaced_with_nokinks</string>
		<string>IJ</string>
		<string>Y</string>
		<string>Eth</string>
		<string>emdash</string>
		<string>m.straighter</string>
		<string>i</string>
		<string>A.replaced_with_stemtaper</string>
		<string>circumflexcomb.case</string>
		<string>y</string>
		<string>ncaron</string>
		<string>T</string>
		<string>U.replaced_with_nokinks</string>
		<string>c.smoother</string>
		<string>less</string>
		<string>uni01FB</string>
		<string>uni01FA</string>
		<string>tilde</string>
		<string>at.short</string>
		<string>Wdieresis</string>
		<string>Zcaron</string>
		<string>three.smooth</string>
		<string>v.straighter</string>
		<string>s.straighter</string>
		<string>yacute</string>
		<string>Udieresis</string>
		<string>dotbelowcomb.case</string>
		<string>Utilde</string>
		<string>Udotbelow</string>
		<string>D</string>
		<string>w.replaced_with_alt-flattop</string>
		<string>e.replaced_with_nokinks</string>
		<string>five</string>
		<string>h.straighter</string>
		<string>J.replaced_with_nokinks</string>
		<string>Wacute</string>
		<string>ymacron</string>
		<string>Hbar</string>
		<string>oslash</string>
		<string>acute</string>
		<string>d</string>
		<string>Scircumflex</string>
		<string>lcaron</string>
		<string>hungarumlautcomb.case</string>
		<string>OE</string>
		<string>aringacute</string>
		<string>Igrave</string>
		<string>t</string>
		<string>h.replaced_with_higherjoints</string>
		<string>two.middlewaist</string>
		<string>aogonek</string>
		<string>parenright</string>
		<string>braceleft.cap</string>
		<string>braceright.asymmetrical</string>
		<string>uni00B5</string>
		<string>B.replaced_with_stemtaper</string>
		<string>x.straighter</string>
		<string>A.stemtaper</string>
		<string>braceleft.assymetrical</string>
		<string>adieresis</string>
		<string>quotesingle</string>
		<string>eogonek</string>
		<string>Umacron</string>
		<string>utilde</string>
		<string>b.replaced_with_nokinks</string>
		<string>onehalf</string>
		<string>slash</string>
		<string>zdotaccent</string>
		<string>AE</string>
		<string>Thorn</string>
		<string>r.straighter</string>
		<string>tildecomb.case</string>
		<string>zcaron</string>
		<string>onehalf.v1</string>
		<string>scommaaccent</string>
		<string>ebreve</string>
		<string>O</string>
		<string>e.smooth_oblique</string>
		<string>l.ss02</string>
		<string>l.ss01</string>
		<string>caron</string>
		<string>etilde</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>z.italicer</string>
		<string>rcommaaccent</string>
		<string>oe</string>
		<string>one.replaced_with_reversewedge2</string>
		<string>guilsinglleft</string>
		<string>Uring</string>
		<string>Edieresis</string>
		<string>plus</string>
		<string>r.ss01</string>
		<string>r.ss02</string>
		<string>e.nokinks</string>
		<string>eight</string>
		<string>threesuperior</string>
		<string>oogonek</string>
		<string>i.sansfirst</string>
		<string>dagger</string>
		<string>x.replaced_with_smoother</string>
		<string>three</string>
		<string>ringcomb.case</string>
		<string>Ibreve</string>
		<string>hungarumlaut</string>
		<string>parenleft</string>
		<string>P.replaced_with_nokinks</string>
		<string>scircumflex</string>
		<string>uni2126</string>
		<string>o.replaced_with_nokinks</string>
		<string>Ebreve</string>
		<string>question</string>
		<string>macroncomb.case</string>
		<string>uogonek</string>
		<string>pi</string>
		<string>fraction</string>
		<string>idotbelow</string>
		<string>wgrave</string>
		<string>Omacron</string>
		<string>braceright.assymetrical</string>
		<string>Iogonek</string>
		<string>registered</string>
		<string>J</string>
		<string>wcircumflex</string>
		<string>dieresis</string>
		<string>t.kinks</string>
		<string>greater.arrow</string>
		<string>e</string>
		<string>Z</string>
		<string>f.kinks</string>
		<string>w.straighter</string>
		<string>iogonek</string>
		<string>l.nokinks</string>
		<string>j</string>
		<string>flatg</string>
		<string>x.straight_diagonal</string>
		<string>uni2191</string>
		<string>l.wide</string>
		<string>uni2193</string>
		<string>uni2192</string>
		<string>ogonek</string>
		<string>s.reversecontrast</string>
		<string>ecaron</string>
		<string>ae</string>
		<string>agrave</string>
		<string>semicolon</string>
		<string>Zdotaccent</string>
		<string>jcircumflex</string>
		<string>quotedblbase</string>
		<string>p.replaced_with_higherjoints</string>
		<string>u.replaced_with_morecasual</string>
		<string>g.straighter</string>
		<string>at</string>
		<string>dollar.nobar</string>
		<string>e.italicer</string>
		<string>u.replaced_with_nokinks</string>
		<string>Iacute</string>
		<string>daggerdbl</string>
		<string>percent</string>
		<string>ellipses</string>
		<string>ibreve</string>
		<string>ubreve</string>
		<string>bracketright</string>
		<string>gdotaccent</string>
		<string>Wcircumflex</string>
		<string>E</string>
		<string>approxequal</string>
		<string>k.italicer</string>
		<string>g.italicer</string>
		<string>scedilla</string>
		<string>asterisk</string>
		<string>aacute</string>
		<string>y.straighter</string>
		<string>Ccircumflex</string>
		<string>U</string>
		<string>seven.alt3</string>
		<string>c.replaced_with_ss01</string>
		<string>dieresiscomb</string>
		<string>l.italicer</string>
		<string>k.straighter</string>
		<string>e.straighter</string>
		<string>Nacute</string>
		<string>bullet</string>
		<string>thorn</string>
		<string>braceleft.asymmetrical</string>
		<string>Ohungarumlaut</string>
		<string>overline</string>
		<string>u</string>
		<string>Y.ss02</string>
		<string>ytilde</string>
	</array>
</dict>
</plist>
