<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<false/>
			<key>com.typemytype.robofont.layerShowCoordinates</key>
			<true/>
			<key>com.typemytype.robofont.layerShowFill</key>
			<false/>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<false/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<false/>
			<key>com.typemytype.robofont.segmentType</key>
			<string>curve</string>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1597766768.1 B_.glif
1597766768.1 O_slash.glif
1597766768.1 a.glif
1597766768.1 a.italic.glif
1597766768.1 arrowN_E_.glif
1597766768.1 arrowN_W_.glif
1597766768.1 at.glif
1597766768.1 c.glif
1597766768.1 copyright.glif
1597766768.1 e.glif
1597766768.1 g.glif
1597766768.1 i.italic.glif
1597766768.1 j.glif
1597766768.1 k.italic.glif
1607654396.6 less_equal_greater.code.glif
1597766768.1 lslash.glif
1597766768.1 m.glif
1597766768.1 oslash.glif
1597766768.1 percent.glif
1597766768.1 perthousand.glif
1597766768.1 question.glif
1597766768.1 section.glif
1597766768.1 sterling.glif
1597766768.1 yen.glif</string>
		</dict>
	</dict>
</plist>
