<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.italic</key>
    <string>c.italic.glif</string>
    <key>dotlessi.mono</key>
    <string>dotlessi.mono.glif</string>
    <key>dotlessj.italic</key>
    <string>dotlessj.italic.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.mono</key>
    <string>f.mono.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.mono</key>
    <string>l.mono.glif</string>
    <key>l.sans</key>
    <string>l.sans.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>r.mono</key>
    <string>r.mono.glif</string>
    <key>w.italic</key>
    <string>w.italic.glif</string>
    <key>z.italic</key>
    <string>z.italic.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
