<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>D</key>
		<string>D_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
