<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B.nokinks</key>
	<string>B_.nokinks.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P.nokinks</key>
	<string>P_.nokinks.glif</string>
	<key>R.nokinks</key>
	<string>R_.nokinks.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ss01</key>
	<string>c.ss01.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f.nokinks</key>
	<string>f.nokinks.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
</dict>
</plist>
