<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>cannedDesign</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.layerName</key>
	<string>foreground</string>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/stephennixon/Dropbox/KABK_netherlands/type_media/000-casual-mono/01-casual_mono-project/archive/presentation-1-test_exports/Recursive Trio Text-Light.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>hyphen</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>numbersign</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>uni2022</string>
		<string>bar</string>
		<string>copyright</string>
		<string>registered</string>
		<string>asterisk</string>
		<string>at</string>
		<string>backslash</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>dollar</string>
		<string>equal</string>
		<string>exclamdown</string>
		<string>fraction</string>
		<string>grave</string>
		<string>greater</string>
		<string>less</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesingle</string>
		<string>slash</string>
		<string>underscore</string>
		<string>Aring</string>
		<string>Igrave</string>
		<string>l.smoother</string>
		<string>g.smoother</string>
		<string>u.straighter</string>
		<string>l.straighter</string>
		<string>g.straighter</string>
		<string>twosuperior</string>
		<string>dotlessi</string>
		<string>Y.ss02</string>
		<string>A.stemtaper</string>
		<string>oacute</string>
		<string>c.straighter</string>
		<string>P.replaced_with_stemtaper</string>
		<string>section</string>
		<string>lslash</string>
		<string>A.replaced_with_stemtaper</string>
		<string>yacute</string>
		<string>Idieresis</string>
		<string>e.tooround</string>
		<string>less.replaced_with_replaced_with_arrow</string>
		<string>plus</string>
		<string>AE</string>
		<string>acircumflex</string>
		<string>iacute</string>
		<string>f.straighter</string>
		<string>i.replaced_with_ss01</string>
		<string>thorn</string>
		<string>Uacute</string>
		<string>r.replaced_with_ss01</string>
		<string>H.replaced_with_stemtaper</string>
		<string>dagger</string>
		<string>Ntilde</string>
		<string>T.replaced_with_stemtaper</string>
		<string>degree</string>
		<string>ccedilla</string>
		<string>multiply</string>
		<string>ugrave</string>
		<string>s.straighter</string>
		<string>quotesinglbase</string>
		<string>dollar.lower</string>
		<string>threequarters</string>
		<string>x.replaced_with_smoother</string>
		<string>i.replaced_with_reversewedge2</string>
		<string>daggerdbl</string>
		<string>t.straighter</string>
		<string>perthousand</string>
		<string>ae</string>
		<string>Oslash</string>
		<string>I.replaced_with_stemtaper</string>
		<string>x.straighter</string>
		<string>s.alt1</string>
		<string>cent</string>
		<string>Acircumflex</string>
		<string>Edieresis</string>
		<string>z.straighter</string>
		<string>aacute</string>
		<string>yen</string>
		<string>v.straighter</string>
		<string>one.replaced_with_reversewedge2</string>
		<string>guillemotleft</string>
		<string>m.roundcounter</string>
		<string>braceleft.cap</string>
		<string>braceleft.asymmetrical</string>
		<string>trademark</string>
		<string>oslash</string>
		<string>cedilla</string>
		<string>Ucircumflex</string>
		<string>Ydieresis</string>
		<string>udieresis</string>
		<string>Atilde</string>
		<string>C.leaning</string>
		<string>Agrave</string>
		<string>onehalf</string>
		<string>scaron</string>
		<string>dotaccent</string>
		<string>e.smooth_oblique</string>
		<string>OE</string>
		<string>less.replaced_with_taller</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>a.italic</string>
		<string>at.simpler</string>
		<string>uacute</string>
		<string>g.smooth_oblique</string>
		<string>Zcaron</string>
		<string>E.replaced_with_stemtaper</string>
		<string>ring</string>
		<string>f.replaced_with_reversewedge2</string>
		<string>ograve</string>
		<string>five.middlewaist</string>
		<string>Udieresis</string>
		<string>quotedblbase</string>
		<string>Ograve</string>
		<string>idieresis</string>
		<string>three.middlewaist</string>
		<string>g.ss01</string>
		<string>j.straighter</string>
		<string>divide</string>
		<string>q.straighter</string>
		<string>paragraph</string>
		<string>egrave</string>
		<string>onequarter</string>
		<string>endash</string>
		<string>Egrave</string>
		<string>Icircumflex</string>
		<string>g.italic</string>
		<string>e.45_oblique</string>
		<string>icircumflex</string>
		<string>y.replaced_with_smoother</string>
		<string>breve</string>
		<string>four.angledtop</string>
		<string>r.straighter</string>
		<string>Lslash</string>
		<string>Z.noserif</string>
		<string>acute</string>
		<string>a.straighter</string>
		<string>e.smoother</string>
		<string>Oacute</string>
		<string>r.smoothtraps</string>
		<string>Odieresis</string>
		<string>k.straighter</string>
		<string>eacute</string>
		<string>c.smoother</string>
		<string>uni00B5</string>
		<string>l.replaced_with_ss01</string>
		<string>minus</string>
		<string>macron</string>
		<string>i.straighter</string>
		<string>n.roundcounter</string>
		<string>igrave</string>
		<string>guillemotright</string>
		<string>Eth</string>
		<string>brokenbar</string>
		<string>dieresis</string>
		<string>asciicircum</string>
		<string>ntilde</string>
		<string>r.smoother</string>
		<string>ordmasculine</string>
		<string>d.straighter</string>
		<string>currency</string>
		<string>ucircumflex</string>
		<string>a.replaced_with_rounder</string>
		<string>Scaron</string>
		<string>y.straighter</string>
		<string>ampersand</string>
		<string>p.straighter</string>
		<string>emdash</string>
		<string>i.smoother</string>
		<string>B.replaced_with_stemtaper</string>
		<string>v.smoothtraps</string>
		<string>Thorn</string>
		<string>ecircumflex</string>
		<string>y.italic</string>
		<string>eth</string>
		<string>ordfeminine</string>
		<string>Aacute</string>
		<string>hungarumlaut</string>
		<string>k.replaced_with_smoother</string>
		<string>r.replaced_with_reversewedge2</string>
		<string>oe</string>
		<string>fl</string>
		<string>D.replaced_with_stemtaper</string>
		<string>Euro</string>
		<string>plusminus</string>
		<string>m.straighter</string>
		<string>r.ss02</string>
		<string>adieresis</string>
		<string>ocircumflex</string>
		<string>l.replaced_with_reversewedge2</string>
		<string>f.italic</string>
		<string>dollar.nobar</string>
		<string>caron</string>
		<string>atilde</string>
		<string>g.45_oblique</string>
		<string>h.straighter</string>
		<string>S.leaning</string>
		<string>f.replaced_with_ss01</string>
		<string>w.straighter</string>
		<string>ellipsis</string>
		<string>ydieresis</string>
		<string>fi</string>
		<string>guilsinglleft</string>
		<string>R.replaced_with_stemtaper</string>
		<string>two.middlewaist</string>
		<string>Ecircumflex</string>
		<string>Yacute</string>
		<string>greater.arrow</string>
		<string>bullet</string>
		<string>Ugrave</string>
		<string>circumflex</string>
		<string>n.straighter</string>
		<string>b.straighter</string>
		<string>florin</string>
		<string>Eacute</string>
		<string>aring</string>
		<string>edieresis</string>
		<string>at.short</string>
		<string>Ccedilla</string>
		<string>onesuperior</string>
		<string>six.alt1</string>
		<string>otilde</string>
		<string>zcaron</string>
		<string>g.ver02</string>
		<string>tilde</string>
		<string>o.straighter</string>
		<string>a.smoothtraps</string>
		<string>braceright.angular</string>
		<string>nine.alt1</string>
		<string>Ocircumflex</string>
		<string>Adieresis</string>
		<string>e.straighter</string>
		<string>asciitilde</string>
		<string>ogonek</string>
		<string>logicalnot</string>
		<string>odieresis</string>
		<string>sterling</string>
		<string>guilsinglright</string>
		<string>threesuperior</string>
		<string>braceright.asymmetrical</string>
		<string>periodcentered</string>
		<string>F.replaced_with_stemtaper</string>
		<string>Iacute</string>
		<string>Otilde</string>
		<string>braceleft.angular</string>
		<string>two.sharp</string>
	</array>
</dict>
</plist>
