<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
</dict>
</plist>
