<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<true/>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<true/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>com.typemytype.robofont.segmentType</key>
			<string>curve</string>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1597766770.3 D_.glif
1597766770.3 G_.glif
1597766770.3 J_.glif
1597766770.3 M_.glif
1597766770.3 O_.glif
1597766770.3 O_E_.glif
1597766770.3 O_slash.glif
1597766770.3 U_.glif
1597766770.3 _notdef.glif
1597766770.3 arrowleftright.glif
1597766770.3 c.glif
1597766770.3 c.italic.glif
1597766770.3 dotlessi.mono.glif
1597766770.3 dotlessj.italic.glif
1597766770.3 f.italic.glif
1597766770.3 f.mono.glif
1597983349.0 fraction.split.glif
1597766770.3 g.glif
1597766770.3 i.italic.glif
1597766770.3 numbersign.glif
1597766770.3 r.mono.glif
1597766770.3 t.glif
1597766770.3 w.italic.glif
1597766770.3 z.italic.glif
1597766770.3 zero.glif</string>
		</dict>
	</dict>
</plist>
