<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A_right</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Abreveacute</string>
			<string>Abrevegrave</string>
			<string>Abrevetilde</string>
			<string>Acircumflex</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflextilde</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
			<string>Abrevedot</string>
			<string>Abrevehook</string>
			<string>Acircumflexdot</string>
			<string>Acircumflexhook</string>
			<string>Ahook</string>
		</array>
		<key>public.kern1.B_right</key>
		<array>
			<string>B</string>
			<string>thai:baht</string>
			<string>bitcoin</string>
		</array>
		<key>public.kern1.C_right</key>
		<array>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>colonmonetary</string>
		</array>
		<key>public.kern1.E_right</key>
		<array>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Etilde</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdot</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhook</string>
			<string>Ecircumflextilde</string>
			<string>Ehook</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>OE</string>
		</array>
		<key>public.kern1.Fig0_right</key>
		<array>
			<string>zero</string>
			<string>nine</string>
			<string>nine.ss01</string>
			<string>zero.sans</string>
		</array>
		<key>public.kern1.G_right</key>
		<array>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcircumflex</string>
			<string>Gdotaccent</string>
		</array>
		<key>public.kern1.I_right</key>
		<array>
			<string>Ihook</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Itilde</string>
		</array>
		<key>public.kern1.L_right</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcommaaccent</string>
			<string>Ldot</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.O_right</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflextilde</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorngrave</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oogonek</string>
			<string>Otilde</string>
			<string>Q</string>
			<string>Dcroat</string>
			<string>Eth</string>
			<string>Schwa</string>
			<string>Ocircumflexdot</string>
			<string>Ocircumflexhook</string>
			<string>Ohook</string>
			<string>Ohorndot</string>
			<string>Ohornhook</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
		</array>
		<key>public.kern1.Punct_low_right</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
			<string>underscore</string>
			<string>backslash</string>
			<string>backslash.case</string>
			<string>verticallinelowmod</string>
		</array>
		<key>public.kern1.Punct_mid_right</key>
		<array>
			<string>guillemotright</string>
			<string>guillemotright.case</string>
			<string>guilsinglright</string>
			<string>guilsinglright.case</string>
			<string>periodcentered</string>
			<string>periodcentered.case</string>
			<string>bullet.case</string>
			<string>hyphensoft</string>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>bullet</string>
			<string>arrowleft</string>
			<string>arrowleftright</string>
			<string>arrowright</string>
			<string>gmtr:diamondblack</string>
			<string>gmtr:diamondwhite</string>
			<string>greaterequal</string>
			<string>trianglerightblack</string>
			<string>trianglerightwhite</string>
			<string>greater</string>
			<string>minus</string>
			<string>plus</string>
			<string>asciitilde</string>
			<string>bracketangleright</string>
		</array>
		<key>public.kern1.Punct_top_right</key>
		<array>
			<string>asterisk</string>
			<string>overline</string>
			<string>quotedbl</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesingle</string>
			<string>slash</string>
			<string>slash.case</string>
			<string>minute</string>
			<string>second</string>
			<string>commaturnedmod</string>
			<string>primedblmod</string>
			<string>primemod</string>
			<string>verticallinemod</string>
			<string>macronmod</string>
			<string>acutemod</string>
			<string>gravemod</string>
			<string>apostrophemod</string>
			<string>ringhalfleftmod</string>
			<string>ringhalfrightmod</string>
			<string>ordmasculine</string>
			<string>ordfeminine</string>
			<string>acute</string>
			<string>breve</string>
			<string>caron</string>
			<string>circumflex</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>grave</string>
			<string>hungarumlaut</string>
			<string>macron</string>
			<string>ring</string>
			<string>tilde</string>
			<string>degree</string>
			<string>trademark</string>
			<string>hook</string>
			<string>horn</string>
			<string>ringacute</string>
		</array>
		<key>public.kern1.R_right</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
		</array>
		<key>public.kern1.S_right</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scircumflex</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern1.T_right</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Tbar</string>
			<string>tenge</string>
		</array>
		<key>public.kern1.W_right</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern1.Y_right</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Yhookabove</string>
		</array>
		<key>public.kern1.Z_right</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern1.a_right</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>abreveacute</string>
			<string>abrevegrave</string>
			<string>abrevetilde</string>
			<string>acircumflex</string>
			<string>acircumflexacute</string>
			<string>acircumflexgrave</string>
			<string>acircumflextilde</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>atilde</string>
			<string>abrevedot</string>
			<string>abrevehook</string>
			<string>acircumflexdot</string>
			<string>acircumflexhook</string>
			<string>ahook</string>
			<string>a.italic</string>
		</array>
		<key>public.kern1.c_right</key>
		<array>
			<string>c.italic</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
		</array>
		<key>public.kern1.e_right</key>
		<array>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>etilde</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>e.italic</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdot</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhook</string>
			<string>ecircumflextilde</string>
			<string>ehook</string>
			<string>oe</string>
		</array>
		<key>public.kern1.f_right</key>
		<array>
			<string>f_f.mono</string>
			<string>f_f.italic</string>
			<string>f.italic</string>
			<string>f.mono</string>
			<string>f_f</string>
			<string>f</string>
		</array>
		<key>public.kern1.g_right</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>g.italic</string>
			<string>gcommaaccent</string>
		</array>
		<key>public.kern1.n_right</key>
		<array>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>m</string>
			<string>h</string>
			<string>hcircumflex</string>
			<string>nhookleft</string>
			<string>hbar</string>
			<string>eng</string>
			<string>napostrophe</string>
		</array>
		<key>public.kern1.o_right</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflextilde</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorngrave</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oogonek</string>
			<string>otilde</string>
			<string>p</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>thorn</string>
			<string>schwa</string>
			<string>b.italic</string>
			<string>ocircumflexdot</string>
			<string>ocircumflexhook</string>
			<string>ohook</string>
			<string>ohorndot</string>
			<string>ohornhook</string>
			<string>ohorntilde</string>
			<string>eth</string>
		</array>
		<key>public.kern1.r_right</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>r.italic</string>
			<string>r.mono</string>
		</array>
		<key>public.kern1.s_right</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
			<string>s.italic</string>
		</array>
		<key>public.kern1.t_right</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern1.v_right</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>yhookabove</string>
			<string>v.italic</string>
			<string>y.italic</string>
			<string>yacute.italic</string>
			<string>ycircumflex.italic</string>
			<string>ydieresis.italic</string>
			<string>ygrave.italic</string>
			<string>ymacron.italic</string>
			<string>ytilde.italic</string>
		</array>
		<key>public.kern1.w_right</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>w.italic</string>
			<string>wacute.italic</string>
			<string>wcircumflex.italic</string>
			<string>wdieresis.italic</string>
			<string>wgrave.italic</string>
		</array>
		<key>public.kern1.x_left</key>
		<array>
			<string>x</string>
			<string>x.italic</string>
		</array>
		<key>public.kern1.x_right</key>
		<array>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>kgreenlandic</string>
		</array>
		<key>public.kern1.z_right</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern2.A_left</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Abreveacute</string>
			<string>Abrevegrave</string>
			<string>Abrevetilde</string>
			<string>Acircumflex</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflextilde</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>Abrevedot</string>
			<string>Abrevehook</string>
			<string>Acircumflexdot</string>
			<string>Acircumflexhook</string>
			<string>Ahook</string>
		</array>
		<key>public.kern2.E_left</key>
		<array>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflextilde</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Edotbelow</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Etilde</string>
			<string>F</string>
			<string>B</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>P</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Eth</string>
			<string>thai:baht</string>
			<string>kip</string>
			<string>Ecircumflexdot</string>
			<string>Ecircumflexhook</string>
			<string>Ehook</string>
			<string>DZcaron</string>
			<string>Germandbls</string>
			<string>bitcoin</string>
			<string>Dcroat</string>
			<string>Hbar</string>
		</array>
		<key>public.kern2.Fig0_left</key>
		<array>
			<string>six</string>
			<string>six.ss01</string>
			<string>zero</string>
			<string>zero.sans</string>
		</array>
		<key>public.kern2.I_left</key>
		<array>
			<string>I</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Itilde</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>Ihook</string>
		</array>
		<key>public.kern2.O_left</key>
		<array>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcircumflex</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflextilde</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorngrave</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oogonek</string>
			<string>Otilde</string>
			<string>Q</string>
			<string>OE</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>Q.titl</string>
			<string>colonmonetary</string>
			<string>guarani</string>
			<string>cedi</string>
			<string>Ocircumflexdot</string>
			<string>Ocircumflexhook</string>
			<string>Ohook</string>
			<string>Ohorndot</string>
			<string>Ohornhook</string>
		</array>
		<key>public.kern2.Punct_low_left</key>
		<array>
			<string>comma</string>
			<string>period</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>ellipsis</string>
			<string>underscore</string>
			<string>slash</string>
			<string>slash.case</string>
			<string>verticallinelowmod</string>
		</array>
		<key>public.kern2.Punct_mid_left</key>
		<array>
			<string>hyphensoft</string>
			<string>bullet.case</string>
			<string>guillemotleft</string>
			<string>guillemotleft.case</string>
			<string>guilsinglleft</string>
			<string>guilsinglleft.case</string>
			<string>periodcentered</string>
			<string>periodcentered.case</string>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>bullet</string>
			<string>asciitilde</string>
			<string>bracketangleleft</string>
			<string>triangleleftwhite</string>
			<string>triangleleftblack</string>
			<string>gmtr:diamondblack</string>
			<string>gmtr:diamondwhite</string>
		</array>
		<key>public.kern2.Punct_top_left</key>
		<array>
			<string>asterisk</string>
			<string>overline</string>
			<string>quotedbl</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesingle</string>
			<string>backslash</string>
			<string>backslash.case</string>
			<string>minute</string>
			<string>second</string>
			<string>ringacute</string>
			<string>horn</string>
			<string>hook</string>
			<string>acute</string>
			<string>breve</string>
			<string>caron</string>
			<string>circumflex</string>
			<string>degree</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>grave</string>
			<string>hungarumlaut</string>
			<string>macron</string>
			<string>ring</string>
			<string>tilde</string>
			<string>trademark</string>
			<string>arrowleft</string>
			<string>arrowleftright</string>
			<string>arrowright</string>
			<string>less</string>
			<string>lessequal</string>
			<string>minus</string>
			<string>plus</string>
			<string>acutemod</string>
			<string>apostrophemod</string>
			<string>commaturnedmod</string>
			<string>gravemod</string>
			<string>macronmod</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>primedblmod</string>
			<string>primemod</string>
			<string>ringhalfleftmod</string>
			<string>ringhalfrightmod</string>
			<string>verticallinemod</string>
		</array>
		<key>public.kern2.S_left</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scircumflex</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern2.T_left</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Tbar</string>
			<string>tenge</string>
		</array>
		<key>public.kern2.W_left</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern2.Y_left</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Yhookabove</string>
		</array>
		<key>public.kern2.Z_left</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern2.a_left</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>abreveacute</string>
			<string>abrevegrave</string>
			<string>abrevetilde</string>
			<string>acircumflex</string>
			<string>acircumflexacute</string>
			<string>acircumflexgrave</string>
			<string>acircumflextilde</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>atilde</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>abrevedot</string>
			<string>abrevehook</string>
			<string>acircumflexdot</string>
			<string>acircumflexhook</string>
			<string>ahook</string>
			<string>a.italic</string>
		</array>
		<key>public.kern2.f_left</key>
		<array>
			<string>f</string>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>fi</string>
			<string>fl</string>
			<string>f.italic</string>
			<string>f_f.italic</string>
			<string>f_f.mono</string>
			<string>f_f_i.italic</string>
			<string>f_f_i.mono</string>
			<string>f_f_l.italic</string>
			<string>f_f_l.mono</string>
			<string>fi.italic</string>
			<string>fi.mono</string>
			<string>fl.italic</string>
			<string>fl.mono</string>
		</array>
		<key>public.kern2.g_left</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
		</array>
		<key>public.kern2.i_left</key>
		<array>
			<string>i</string>
			<string>iacute</string>
			<string>ibreve</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>itilde</string>
			<string>ihook</string>
			<string>dotlessi</string>
			<string>i.italic</string>
			<string>iogonek.italic</string>
			<string>dotlessi.italic</string>
			<string>j</string>
			<string>jcircumflex</string>
			<string>dotlessi.mono</string>
			<string>dotlessj.italic</string>
			<string>i.mono</string>
			<string>iogonek.mono</string>
			<string>j.italic</string>
			<string>r.italic</string>
			<string>r.mono</string>
			<string>dotlessj</string>
		</array>
		<key>public.kern2.o_left</key>
		<array>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>dcaron</string>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflextilde</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>edotbelow</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>etilde</string>
			<string>o</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflextilde</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorngrave</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oogonek</string>
			<string>otilde</string>
			<string>q</string>
			<string>dcroat</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>oe</string>
			<string>c.italic</string>
			<string>d.italic</string>
			<string>e.italic</string>
			<string>g.italic</string>
			<string>ecircumflexdot</string>
			<string>ecircumflexhook</string>
			<string>ehook</string>
			<string>ocircumflexdot</string>
			<string>ocircumflexhook</string>
			<string>ohook</string>
			<string>ohorndot</string>
			<string>ohornhook</string>
			<string>ohorntilde</string>
			<string>dzcaron</string>
			<string>dzcaron.italic</string>
		</array>
		<key>public.kern2.s_left</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
			<string>s.italic</string>
		</array>
		<key>public.kern2.t_left</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern2.v_left</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>yhookabove</string>
			<string>v.italic</string>
			<string>y.italic</string>
			<string>yacute.italic</string>
			<string>ycircumflex.italic</string>
			<string>ydieresis.italic</string>
			<string>ygrave.italic</string>
			<string>ymacron.italic</string>
			<string>ytilde.italic</string>
		</array>
		<key>public.kern2.w_left</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>w.italic</string>
			<string>wacute.italic</string>
			<string>wcircumflex.italic</string>
			<string>wdieresis.italic</string>
			<string>wgrave.italic</string>
		</array>
		<key>public.kern2.x_left</key>
		<array>
			<string>x.italic</string>
			<string>x</string>
		</array>
	</dict>
</plist>
