<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.pointy</key>
	<string>A_.pointy.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.gothic</key>
	<string>B_.gothic.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.gothic</key>
	<string>D_.gothic.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.gothic</key>
	<string>E_.gothic.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.gothic</key>
	<string>F_.gothic.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.evencut</key>
	<string>J_.evencut.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.gothic</key>
	<string>K_.gothic.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.gothic</key>
	<string>P_.gothic.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.gothic</key>
	<string>R_.gothic.glif</string>
	<key>R.nokinks</key>
	<string>R_.nokinks.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.pointy</key>
	<string>V_.pointy.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.pointy</key>
	<string>Y_.pointy.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.noserif</key>
	<string>Z_.noserif.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.inktraps</key>
	<string>a.inktraps.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>a.partialkinks</key>
	<string>a.partialkinks.glif</string>
	<key>a.replaced_with_nokinks</key>
	<string>a.replaced_with_nokinks.glif</string>
	<key>a.replaced_with_shorttail</key>
	<string>a.replaced_with_shorttail.glif</string>
	<key>a.smoothtraps</key>
	<string>a.smoothtraps.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.crossbar</key>
	<string>ampersand.crossbar.glif</string>
	<key>ampersand.nobar</key>
	<string>ampersand.nobar.glif</string>
	<key>ampersand.smooth</key>
	<string>ampersand.smooth.glif</string>
	<key>ampersand.straightbar</key>
	<string>ampersand.straightbar.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.simple</key>
	<string>at.simple.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.replaced_with_nokinks</key>
	<string>b.replaced_with_nokinks.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.italictest2</key>
	<string>bar.italictest2.glif</string>
	<key>bar.italictest3</key>
	<string>bar.italictest3.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.assymetrical</key>
	<string>braceleft.assymetrical.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceleft.smooth</key>
	<string>braceleft.smooth.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.assymetrical</key>
	<string>braceright.assymetrical.glif</string>
	<key>braceright.smooth</key>
	<string>braceright.smooth.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.evencut</key>
	<string>c.evencut.glif</string>
	<key>c.replaced_with_nokinks</key>
	<string>c.replaced_with_nokinks.glif</string>
	<key>c.replaced_with_ss01</key>
	<string>c.replaced_with_ss01.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.evencut</key>
	<string>d.evencut.glif</string>
	<key>d.replaced_with_nokinks</key>
	<string>d.replaced_with_nokinks.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.lower</key>
	<string>dollar.lower.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.evencut</key>
	<string>e.evencut.glif</string>
	<key>e.replaced_with_nokinks</key>
	<string>e.replaced_with_nokinks.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.replaced_with_nokinks</key>
	<string>f.replaced_with_nokinks.glif</string>
	<key>f.replaced_with_ss01</key>
	<string>f.replaced_with_ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.topserif</key>
	<string>five.topserif.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt1</key>
	<string>four.alt1.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt1</key>
	<string>g.alt1.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>g.partialkinks</key>
	<string>g.partialkinks.glif</string>
	<key>g.replaced_with_nokinks</key>
	<string>g.replaced_with_nokinks.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.replaced_with_nokinks</key>
	<string>h.replaced_with_nokinks.glif</string>
	<key>h.sharpcounter</key>
	<string>h.sharpcounter.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.italic</key>
	<string>i.italic.glif</string>
	<key>i.replaced_with_nokinks</key>
	<string>i.replaced_with_nokinks.glif</string>
	<key>i.replaced_with_ss01</key>
	<string>i.replaced_with_ss01.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>i.ss03</key>
	<string>i.ss03.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.replaced_with_nokinks</key>
	<string>j.replaced_with_nokinks.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.replaced_with_nokinks</key>
	<string>k.replaced_with_nokinks.glif</string>
	<key>k.replaced_with_smoother</key>
	<string>k.replaced_with_smoother.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.italic</key>
	<string>l.italic.glif</string>
	<key>l.replaced_with_nokinks</key>
	<string>l.replaced_with_nokinks.glif</string>
	<key>l.replaced_with_ss01</key>
	<string>l.replaced_with_ss01.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>l.ss03</key>
	<string>l.ss03.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.alt1</key>
	<string>m.alt1.glif</string>
	<key>m.replaced_with_nokinks</key>
	<string>m.replaced_with_nokinks.glif</string>
	<key>m.roundcounter</key>
	<string>m.roundcounter.glif</string>
	<key>m.sharpcounter</key>
	<string>m.sharpcounter.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.evencut</key>
	<string>n.evencut.glif</string>
	<key>n.inktraps</key>
	<string>n.inktraps.glif</string>
	<key>n.replaced_with_nokinks</key>
	<string>n.replaced_with_nokinks.glif</string>
	<key>n.roundcounter</key>
	<string>n.roundcounter.glif</string>
	<key>n.sharpcounter</key>
	<string>n.sharpcounter.glif</string>
	<key>n.smoothtraps</key>
	<string>n.smoothtraps.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.evencut</key>
	<string>o.evencut.glif</string>
	<key>o.replaced_with_nokinks</key>
	<string>o.replaced_with_nokinks.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>overline</key>
	<string>overline.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.replaced_with_nokinks</key>
	<string>p.replaced_with_nokinks.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.replaced_with_nokinks</key>
	<string>q.replaced_with_nokinks.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.inktraps</key>
	<string>r.inktraps.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>r.replaced_with_nokinks</key>
	<string>r.replaced_with_nokinks.glif</string>
	<key>r.replaced_with_ss01</key>
	<string>r.replaced_with_ss01.glif</string>
	<key>r.smoothtraps</key>
	<string>r.smoothtraps.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.replaced_with_nokinks</key>
	<string>s.replaced_with_nokinks.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt1</key>
	<string>six.alt1.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.replaced_with_nokinks</key>
	<string>t.replaced_with_nokinks.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.smooth</key>
	<string>three.smooth.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.evencut</key>
	<string>u.evencut.glif</string>
	<key>u.replaced_with_nokinks</key>
	<string>u.replaced_with_nokinks.glif</string>
	<key>u.sharpcounter</key>
	<string>u.sharpcounter.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>uni2192</key>
	<string>uni2192.glif</string>
	<key>uni2193</key>
	<string>uni2193.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.pointy</key>
	<string>v.pointy.glif</string>
	<key>v.replaced_with_nokinks</key>
	<string>v.replaced_with_nokinks.glif</string>
	<key>v.smoothtraps</key>
	<string>v.smoothtraps.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.replaced_with_nokinks</key>
	<string>w.replaced_with_nokinks.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.replaced_with_nokinks</key>
	<string>x.replaced_with_nokinks.glif</string>
	<key>x.replaced_with_smoother</key>
	<string>x.replaced_with_smoother.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>y.replaced_with_nokinks</key>
	<string>y.replaced_with_nokinks.glif</string>
	<key>y.replaced_with_smoother</key>
	<string>y.replaced_with_smoother.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
