<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.rounder</key>
	<string>C_.rounder.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.rounder</key>
	<string>G_.rounder.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.rounder</key>
	<string>S_.rounder.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.noserif</key>
	<string>Z_.noserif.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.210</key>
	<string>a.210.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.210</key>
	<string>b.210.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.210</key>
	<string>c.210.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.210</key>
	<string>d.210.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.210</key>
	<string>e.210.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.210</key>
	<string>f.210.glif</string>
	<key>f.replaced_with_ss01</key>
	<string>f.replaced_with_ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.210</key>
	<string>g.210.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.210</key>
	<string>h.210.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.210</key>
	<string>i.210.glif</string>
	<key>i.replaced_with_ss01</key>
	<string>i.replaced_with_ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.210</key>
	<string>j.210.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.210</key>
	<string>k.210.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.210</key>
	<string>l.210.glif</string>
	<key>l.replaced_with_ss01</key>
	<string>l.replaced_with_ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.210</key>
	<string>m.210.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.210</key>
	<string>n.210.glif</string>
	<key>n.alt1</key>
	<string>n.alt1.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.210</key>
	<string>o.210.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.210</key>
	<string>p.210.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.210</key>
	<string>q.210.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.210</key>
	<string>r.210.glif</string>
	<key>r.replaced_with_ss01</key>
	<string>r.replaced_with_ss01.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.210</key>
	<string>s.210.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.210</key>
	<string>t.210.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.210</key>
	<string>u.210.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.210</key>
	<string>v.210.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.210</key>
	<string>w.210.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.210</key>
	<string>x.210.glif</string>
	<key>x.straight_diagonal</key>
	<string>x.straight_diagonal.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.210</key>
	<string>y.210.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.210</key>
	<string>z.210.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
