<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>w</key>
	<string>w.glif</string>
</dict>
</plist>
