
 /* The bare minimum English subset, plus copyright & arrows (← ↑ → ↓) & quotes (“ ” ‘ ’) & bullet (•) */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_english_basic.woff2') format('woff2');
  unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

/* unicode latin-1 letters, basic european diacritics */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_latin_1.woff2') format('woff2');
  unicode-range: U+00C0-00FF;
}

/* unicode latin-1, punc/symbols & arrows (↔ ↕ ↖ ↗ ↘ ↙) */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_latin_1_punc.woff2') format('woff2');
  unicode-range: U+00A0-00BF,U+2194-2199;
}

/* unicode latin A extended */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-017F;
}

/* unicodes for vietnamese */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_vietnamese.woff2') format('woff2');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}

/* remaining Unicodes */
@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./fonts/Recursive_VF_1.077--subset_range_remaining.woff2') format('woff2');
  unicode-range: U+2007,U+2008,U+2009,U+200A,U+200B,U+D,U+2010,U+2012,U+2013,U+2014,U+2015,U+201E,U+2020,U+2021,U+2022,U+2026,U+2030,U+2032,U+2033,U+2039,U+203A,U+203E,U+2044,U+2052,U+5C,U+5E,U+5F,U+60,U+2070,U+2074,U+2075,U+2076,U+2077,U+2078,U+2079,U+7B,U+7C,U+7D,U+7E,U+2080,U+2081,U+2082,U+2083,U+2084,U+2085,U+2086,U+2087,U+2088,U+2089,U+A0,U+A1,U+A2,U+A3,U+A4,U+A5,U+A6,U+A7,U+A8,U+A9,U+AA,U+AB,U+AC,U+AD,U+AE,U+AF,U+B0,U+B1,U+B2,U+B3,U+B4,U+B5,U+B6,U+B7,U+B8,U+B9,U+BA,U+BB,U+BC,U+BD,U+BE,U+BF,U+C0,U+C1,U+C2,U+C3,U+C4,U+C5,U+C6,U+C7,U+C8,U+C9,U+CA,U+CB,U+CC,U+CD,U+CE,U+CF,U+D0,U+D1,U+D2,U+D3,U+D4,U+D5,U+D6,U+D7,U+D8,U+D9,U+DA,U+DB,U+DC,U+DD,U+DE,U+DF,U+E0,U+E1,U+E2,U+E3,U+E4,U+E5,U+E6,U+E7,U+E8,U+E9,U+EA,U+EB,U+EC,U+ED,U+EE,U+EF,U+F0,U+F1,U+F2,U+F3,U+F4,U+F5,U+F6,U+F7,U+F8,U+F9,U+FA,U+FB,U+FC,U+FD,U+FE,U+FF,U+100,U+101,U+102,U+103,U+104,U+105,U+106,U+107,U+108,U+109,U+10A,U+10B,U+10C,U+10D,U+10E,U+10F,U+110,U+111,U+112,U+113,U+114,U+115,U+116,U+117,U+118,U+119,U+11A,U+11B,U+11C,U+11D,U+11E,U+11F,U+120,U+121,U+122,U+123,U+124,U+125,U+126,U+127,U+128,U+129,U+12A,U+12B,U+12C,U+12D,U+12E,U+12F,U+130,U+131,U+132,U+133,U+134,U+135,U+136,U+137,U+138,U+139,U+13A,U+13B,U+13C,U+13D,U+13E,U+13F,U+140,U+141,U+142,U+143,U+144,U+145,U+146,U+147,U+148,U+149,U+14A,U+14B,U+14C,U+14D,U+14E,U+14F,U+150,U+151,U+152,U+153,U+154,U+155,U+156,U+157,U+158,U+159,U+15A,U+15B,U+15C,U+15D,U+15E,U+15F,U+160,U+161,U+162,U+163,U+164,U+165,U+166,U+167,U+168,U+169,U+16A,U+16B,U+16C,U+16D,U+16E,U+16F,U+170,U+171,U+172,U+173,U+174,U+175,U+176,U+177,U+178,U+179,U+17A,U+17B,U+17C,U+17D,U+17E,U+18F,U+2190,U+2191,U+192,U+2192,U+2193,U+2194,U+2195,U+2196,U+2197,U+2198,U+2199,U+19D,U+1A0,U+1A1,U+1AF,U+1B0,U+1C4,U+1C5,U+1C6,U+1C7,U+1C8,U+1C9,U+1CA,U+1CB,U+1CC,U+1E6,U+1E7,U+1EA,U+1EB,U+1F1,U+1F2,U+1F3,U+1FA,U+1FB,U+1FC,U+1FD,U+1FE,U+1FF,U+200,U+201,U+202,U+203,U+204,U+205,U+206,U+207,U+208,U+209,U+20A,U+20B,U+20C,U+20D,U+20E,U+20F,U+210,U+211,U+212,U+213,U+214,U+215,U+216,U+217,U+218,U+219,U+21A,U+21B,U+2215,U+2219,U+221A,U+221E,U+22A,U+22B,U+22C,U+22D,U+222B,U+230,U+231,U+232,U+233,U+237,U+2248,U+259,U+2260,U+2261,U+2264,U+2265,U+272,U+2B9,U+2BA,U+2BB,U+2BC,U+2BE,U+2BF,U+2C6,U+2C7,U+2C8,U+2C9,U+2CA,U+2CB,U+2CC,U+2D8,U+2D9,U+2DA,U+2DB,U+2DC,U+2DD,U+300,U+301,U+302,U+FB03,U+303,U+304,U+FB01,U+306,U+307,U+308,U+309,U+30A,U+30B,U+30C,U+30F,U+311,U+312,U+315,U+31B,U+2202,U+323,U+324,U+325,U+326,U+327,U+328,U+2205,U+32E,U+2206,U+331,U+335,U+220F,U+2211,U+2212,U+3C0,U+20A1,U+20A6,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20AD,U+20B1,U+20B2,U+20B4,U+20B5,U+20B8,U+20B9,U+20BA,U+20BC,U+20BD,U+20BF,U+F8FF,U+E132,U+E133,U+25A0,U+25A1,U+25B2,U+25B3,U+25B6,U+25B7,U+25BC,U+25BD,U+25C0,U+25C1,U+25C6,U+25C7,U+25CA,U+1E08,U+1E09,U+1E0C,U+1E0D,U+1E0E,U+1E0F,U+2610,U+2611,U+1E14,U+1E15,U+1E16,U+1E17,U+1E1C,U+1E1D,U+1E20,U+1E21,U+1E24,U+1E25,U+1E2A,U+1E2B,U+1E2E,U+1E2F,U+1E36,U+1E37,U+1E3A,U+1E3B,U+E3F,U+1E42,U+1E43,U+1E44,U+1E45,U+1E46,U+1E47,U+1E48,U+1E49,U+1E4C,U+1E4D,U+1E4E,U+1E4F,U+1E50,U+1E51,U+1E52,U+1E53,U+1E5A,U+1E5B,U+1E5E,U+1E5F,U+1E60,U+2661,U+1E61,U+1E62,U+1E63,U+1E64,U+1E65,U+1E66,U+1E67,U+1E68,U+1E69,U+2113,U+2665,U+1E6C,U+1E6D,U+1E6E,U+1E6F,U+2116,U+1E78,U+1E79,U+1E7A,U+1E7B,U+1E80,U+1E81,U+1E82,U+1E83,U+1E84,U+1E85,U+1E8E,U+1E8F,U+1E92,U+1E93,U+1E97,U+1E9E,U+1EA0,U+1EA1,U+1EA2,U+1EA3,U+1EA4,U+1EA5,U+1EA6,U+1EA7,U+1EA8,U+1EA9,U+1EAA,U+1EAB,U+1EAC,U+1EAD,U+1EAE,U+1EAF,U+1EB0,U+1EB1,U+1EB2,U+1EB3,U+2122,U+1EB4,U+1EB5,U+1EB6,U+1EB7,U+1EB8,U+1EB9,U+1EBA,U+1EBB,U+1EBC,U+1EBD,U+1EBE,U+1EBF,U+1EC0,U+1EC1,U+1EC2,U+1EC3,U+1EC4,U+1EC5,U+1EC6,U+2126,U+1EC7,U+1EC8,U+1EC9,U+1ECA,U+1ECB,U+1ECC,U+1ECD,U+1ECE,U+1ECF,U+1ED0,U+1ED1,U+1ED2,U+1ED3,U+1ED4,U+1ED5,U+1ED6,U+1ED7,U+1ED8,U+1ED9,U+1EDA,U+1EDB,U+1EDC,U+1EDD,U+1EDE,U+1EDF,U+1EE0,U+1EE1,U+1EE2,U+1EE3,U+1EE4,U+1EE5,U+1EE6,U+1EE7,U+1EE8,U+1EE9,U+1EEA,U+1EEB,U+1EEC,U+1EED,U+212E,U+1EEE,U+1EEF,U+1EF0,U+1EF1,U+1EF2,U+1EF3,U+1EF4,U+1EF5,U+1EF6,U+1EF7,U+1EF8,U+1EF9,U+2713,U+2153,U+2154,U+215B,U+215C,U+215D,U+215E,U+27E8,U+27E9;
}

