<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B.nokinks</key>
    <string>B_.nokinks.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>n.italic</key>
    <string>n.italic.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>uni0300</key>
    <string>uni0300.glif</string>
    <key>uni0301</key>
    <string>uni0301.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0327.case</key>
    <string>uni0327.case.glif</string>
    <key>uni2190</key>
    <string>uni2190.glif</string>
    <key>uni2191</key>
    <string>uni2191.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
