<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.italic</key>
    <string>a.italic.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arrowNE</key>
    <string>arrowN_E_.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>x.italic</key>
    <string>x.italic.glif</string>
  </dict>
</plist>
