<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>e.nokinks</key>
	<string>e.nokinks.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.nokinks</key>
	<string>g.nokinks.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
	<key>p.higherjoints</key>
	<string>p.higherjoints.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
