<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q.titl</key>
    <string>Q_.titl.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>arrowleftright</key>
    <string>arrowleftright.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.italic</key>
    <string>f.italic.glif</string>
    <key>fraction.split</key>
    <string>fraction.split.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
