<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766769.2 A_E_.glif
1597766769.2 D_.glif
1597766769.2 G_.glif
1597766769.2 J_.glif
1597766769.2 O_E_.glif
1597766769.2 Q_.titl.glif
1597766769.2 _notdef.glif
1597766769.2 ae.glif
1597766769.2 arrowleftright.glif
1597766769.2 at.glif
1597766769.2 exclamdown.glif
1597766769.2 f.glif
1597766769.2 f.italic.glif
1616601220.3 fl.glif
1597983348.9 fraction.split.glif
1597766769.2 i.italic.glif
1597766769.2 numbersign.glif
1597766769.2 oslash.glif
1597766769.2 question.glif
1597766769.2 t.glif
1597766769.2 zero.glif</string>
    </dict>
  </dict>
</plist>
