<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>public.kern2.Punct_top_left</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>public.kern2.Punct_top_left</key>
      <integer>0</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>public.kern2.Punct_top_left</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
