<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766769.5 D_.glif
1597766769.5 G_.glif
1597766769.5 J_.glif
1597766769.5 ae.glif
1597766769.5 at.glif
1597766769.5 at.prop.glif
1597766769.5 c.glif
1597766769.5 f.glif
1597766769.5 fi.glif
1597766769.5 g.glif
1597766769.5 i.glif
1597766769.5 i.italic.glif
1597766769.5 l.glif
1597766769.5 question.glif
1597766769.5 r.glif
1597766769.5 zero.glif</string>
    </dict>
  </dict>
</plist>
