<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g.italic</key>
		<string>g.italic.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
