<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P.nokinks</key>
	<string>P_.nokinks.glif</string>
	<key>R.nokinks</key>
	<string>R_.nokinks.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
</dict>
</plist>
