<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>copyright</key>
		<string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Recursive</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<real>-14.04</real>
		<key>openTypeHheaAscender</key>
		<integer>950</integer>
		<key>openTypeHheaDescender</key>
		<integer>-250</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2Selection</key>
		<array>
			<integer>7</integer>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>950</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-250</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1207</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>271</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-20</integer>
			<integer>0</integer>
			<integer>526</integer>
			<integer>541</integer>
			<integer>700</integer>
			<integer>720</integer>
			<integer>750</integer>
			<integer>760</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-250</integer>
			<integer>-220</integer>
			<integer>379</integer>
			<integer>385</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>48</integer>
			<integer>48</integer>
			<integer>48</integer>
			<integer>48</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>49</integer>
			<integer>50</integer>
			<integer>48</integer>
			<integer>49</integer>
		</array>
		<key>styleName</key>
		<string>Mono Casual A Slanted</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>13</integer>
		<key>xHeight</key>
		<integer>526</integer>
	</dict>
</plist>
