<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <false/>
      <key>com.typemytype.robofont.layerShowFill</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <false/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766768.5 B_.glif
1597766768.5 O_slash.glif
1597766768.5 R_.glif
1597766768.5 _arrowhead.glif
1597766768.5 a.glif
1597766768.5 arrowN_E_.glif
1607654396.7 asciitilde.glif
1597766768.5 asterisk.glif
1597766768.5 b.glif
1597766768.5 braceleft.glif
1597766768.5 c.glif
1597766768.5 d.glif
1598537976.2 fraction.glif
1597766768.5 g.glif
1597766768.5 i.italic.glif
1597766768.5 infinity.glif
1597766768.5 j.glif
1597766768.5 n.italic.glif
1597766768.5 numbersign.glif
1597766768.5 o.glif
1597766768.5 oe.glif
1597766768.5 oslash.glif
1597766768.5 p.glif
1597766768.5 percent.glif
1597766768.5 perthousand.glif
1597766768.5 question.glif
1597766768.5 registered.glif
1597766768.5 x.italic.glif
1597766768.5 zero.glif</string>
    </dict>
  </dict>
</plist>
