<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<true/>
			<key>com.typemytype.robofont.layerShowCoordinates</key>
			<false/>
			<key>com.typemytype.robofont.layerShowFill</key>
			<false/>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<false/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<true/>
			<key>com.typemytype.robofont.segmentType</key>
			<string>curve</string>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1634586891.0 B_.glif
1634586891.0 O_slash.glif
1634586891.0 R_.glif
1634586891.0 _arrowhead.glif
1634586891.0 a.glif
1634586891.0 arrowN_E_.glif
1634586891.0 asciitilde.glif
1634586891.0 asterisk.glif
1634586891.0 b.glif
1634586891.0 braceleft.glif
1634586891.0 c.glif
1634586891.0 d.glif
1634586891.0 fraction.glif
1634586891.0 g.glif
1634586891.0 i.italic.glif
1634586891.0 infinity.glif
1634586891.0 j.glif
1634586891.0 n.italic.glif
1634586891.0 numbersign.glif
1634586891.0 o.glif
1634586891.0 oe.glif
1634586891.0 oslash.glif
1597766768.5 p.glif
1634586891.0 percent.glif
1634586891.0 perthousand.glif
1634586891.0 question.glif
1634586891.0 registered.glif
1634586891.0 x.italic.glif
1634586891.0 zero.glif</string>
		</dict>
	</dict>
</plist>
