<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>a.smoothtraps</key>
	<string>a.smoothtraps.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.nokinks</key>
	<string>eight.nokinks.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.nokinks</key>
	<string>f.nokinks.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.nokinks</key>
	<string>g.nokinks.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k.italic</key>
	<string>k.italic.glif</string>
	<key>k.smoother</key>
	<string>k.smoother.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.nokinks</key>
	<string>nine.nokinks.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.nokinks</key>
	<string>o.nokinks.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.nokinks</key>
	<string>t.nokinks.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.nokinks</key>
	<string>two.nokinks.glif</string>
	<key>uni0300</key>
	<string>uni0300.glif</string>
	<key>uni0300.case</key>
	<string>uni0300.case.glif</string>
	<key>uni0301</key>
	<string>uni0301.glif</string>
	<key>uni030C</key>
	<string>uni030C_.glif</string>
	<key>uni030C.case</key>
	<string>uni030C_.case.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.italic</key>
	<string>v.italic.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.italic</key>
	<string>w.italic.glif</string>
	<key>x.smoother</key>
	<string>x.smoother.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
