<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5843,0.3765,1,1</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766770.8 D_.glif
1597766770.8 E_.glif
1597766770.8 F_.glif
1597766770.8 G_.glif
1597766770.8 H_.glif
1597766770.8 I_.glif
1597766770.8 J_.glif
1597766770.8 L_.glif
1597766770.8 M_.glif
1597766770.8 N_.glif
1597766770.8 O_.glif
1597766770.8 Q_.glif
1597766770.8 U_.glif
1597766770.8 V_.glif
1597766770.8 W_.glif
1597766770.8 X_.glif
1597766770.8 ldot.glif</string>
    </dict>
  </dict>
</plist>
