<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <false/>
      <key>com.typemytype.robofont.layerShowFill</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766767.2 B_.glif
1597766767.2 J_.glif
1597766767.2 O_slash.glif
1597766767.2 P_.glif
1597766767.2 R_.glif
1597766767.2 S_.glif
1597766767.2 U_.glif
1597766767.2 a.italic.glif
1597766767.2 arrowN_W_.glif
1597766767.2 bar.glif
1597766767.2 c.glif
1597766767.2 dagger.glif
1597766767.2 eight.glif
1597766767.2 equal_slash_equal.code.glif
1597766767.2 equivalence.glif
1597766767.2 f.italic.glif
1597766767.2 g.glif
1597766767.2 germandbls.glif
1597766767.2 i.italic.glif
1597766767.2 l.italic.glif
1607654396.5 less_less_equal.code.glif
1597766767.2 parenleft.case.glif
1597766767.2 t.glif
1597766767.2 x.italic.glif
1597766767.2 x.italic2.glif
1597766767.2 zero.glif</string>
    </dict>
  </dict>
</plist>
