<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Recursive Mono</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>R2AgLAfRH7</string>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>357</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>ZLefJntV6c</string>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>710</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>GEgJBE9xjO</string>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>720</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>iJUv5m9A8t</string>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>448</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>SUKW8G2PHN</string>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>412</integer>
			</dict>
		</array>
		<key>openTypeNameRecords</key>
		<array>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-20</integer>
			<integer>0</integer>
			<integer>540</integer>
			<integer>560</integer>
			<integer>700</integer>
			<integer>720</integer>
			<integer>750</integer>
			<integer>770</integer>
		</array>
		<key>postscriptDefaultWidthX</key>
		<integer>600</integer>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptIsFixedPitch</key>
		<true/>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleMapStyleName</key>
		<string>bold</string>
		<key>styleName</key>
		<string>Casual B</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>13</integer>
		<key>xHeight</key>
		<integer>540</integer>
	</dict>
</plist>
