<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <false/>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <false/>
      <key>com.typemytype.robofont.layerShowFill</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766769.4 a.italic.glif
1597766769.4 ampersand.glif
1597766769.4 c.glif
1597766769.4 d.italic.glif
1597766769.4 dotlessi.glif
1597766769.4 dotlessj.glif
1597766769.4 f.glif
1597766769.4 g.italic.glif
1597766769.4 h.italic.glif
1597766769.4 i.glif
1597766769.4 j.glif
1597766769.4 j.italic.glif
1597766769.4 k.italic.glif
1597766769.4 l.glif
1597766769.4 m.glif
1597766769.4 m.italic.glif
1597766769.4 n.italic.glif
1597766769.4 r.glif
1597766769.4 s.glif
1597766769.4 t.glif
1597766769.4 u.italic.glif
1597766769.4 v.italic.glif
1597766769.4 w.glif
1597766769.4 w.italic.glif
1597766769.4 x.italic.glif
1597766769.4 y.italic.glif
1597766769.4 z.glif
1597766769.4 z.italic.glif
1597766769.4 zero.glif</string>
    </dict>
  </dict>
</plist>
