<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.titl</key>
		<string>Q_.titl.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>b.italic</key>
		<string>b.italic.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>dotlessi.mono</key>
		<string>dotlessi.mono.glif</string>
		<key>dotlessj.italic</key>
		<string>dotlessj.italic.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>f.mono</key>
		<string>f.mono.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.mono</key>
		<string>l.mono.glif</string>
		<key>l.sans</key>
		<string>l.sans.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.sans</key>
		<string>one.sans.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>r.mono</key>
		<string>r.mono.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
