<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c</key>
	<string>c.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>r</key>
	<string>r.glif</string>
</dict>
</plist>
