<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>D</key>
		<string>D_.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.copy_1</key>
		<string>eight.copy_1.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.copy_1</key>
		<string>five.copy_1.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.copy_1</key>
		<string>four.copy_1.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.copy_1</key>
		<string>l.copy_1.glif</string>
		<key>nine.copy_1</key>
		<string>nine.copy_1.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.copy_1</key>
		<string>one.copy_1.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.copy_1</key>
		<string>seven.copy_1.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.copy_1</key>
		<string>six.copy_1.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.copy_1</key>
		<string>three.copy_1.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.copy_1</key>
		<string>two.copy_1.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.copy_1</key>
		<string>zero.copy_1.glif</string>
	</dict>
</plist>
