<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a</key>
		<string>a.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.italic</key>
		<string>e.italic.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.italic</key>
		<string>g.italic.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
	</dict>
</plist>
