<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>NerdfontsPL</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>WLQQiuEzWt</string>
				<key>y</key>
				<integer>950</integer>
			</dict>
			<dict>
				<key>identifier</key>
				<string>cQOFemjnpB</string>
				<key>y</key>
				<integer>-250</integer>
			</dict>
		</array>
		<key>openTypeHeadCreated</key>
		<string>2019/10/25 21:28:01</string>
		<key>openTypeHheaAscender</key>
		<integer>950</integer>
		<key>openTypeHheaDescender</key>
		<integer>-250</integer>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>636</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>50</integer>
		<key>openTypeOS2Type</key>
		<array>
			<integer>3</integer>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>950</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-250</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1207</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>271</integer>
		<key>postscriptBlueValues</key>
		<array>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>NerdfontsPL-Regular</string>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleName</key>
		<string>Regular</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>540</integer>
	</dict>
</plist>
