<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.DisplayStrings</key>
		<array>
			<string>/uniE0A0</string>
		</array>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.font.customParameters</key>
		<array>
			<dict>
				<key>name</key>
				<string>glyphOrder</string>
				<key>value</key>
				<array>
					<string>uniE0A0</string>
					<string>uniE0A1</string>
					<string>uniE0A2</string>
					<string>uniE0A3</string>
					<string>uniE0B0</string>
					<string>uniE0B1</string>
					<string>uniE0B2</string>
					<string>uniE0B3</string>
					<string>uniE0B4</string>
					<string>uniE0B5</string>
					<string>uniE0B6</string>
					<string>uniE0B7</string>
					<string>uniE0B8</string>
					<string>uniE0B9</string>
					<string>uniE0BA</string>
					<string>uniE0BB</string>
					<string>uniE0BC</string>
					<string>uniE0BD</string>
					<string>uniE0BE</string>
					<string>uniE0BF</string>
					<string>uniE0C0</string>
					<string>uniE0C1</string>
					<string>uniE0C2</string>
					<string>uniE0C3</string>
					<string>uniE0C4</string>
					<string>uniE0C5</string>
					<string>uniE0C6</string>
					<string>uniE0C7</string>
					<string>uniE0C8</string>
					<string>uniE0CA</string>
					<string>uniE0CC</string>
					<string>uniE0CD</string>
					<string>uniE0CE</string>
					<string>uniE0CF</string>
					<string>uniE0D0</string>
					<string>uniE0D1</string>
					<string>uniE0D2</string>
					<string>uniE0D4</string>
					<string>uniE0A0.stypo</string>
					<string>uniE0B0.stypo</string>
					<string>uniE0B1.stypo</string>
					<string>uniE0B2.stypo</string>
					<string>uniE0B3.stypo</string>
					<string>uniE0B4.stypo</string>
					<string>uniE0B5.stypo</string>
					<string>uniE0B6.stypo</string>
					<string>uniE0B7.stypo</string>
					<string>uniE0B8.stypo</string>
					<string>uniE0B9.stypo</string>
					<string>uniE0BA.stypo</string>
					<string>uniE0BB.stypo</string>
					<string>uniE0BC.stypo</string>
					<string>uniE0BD.stypo</string>
					<string>uniE0BE.stypo</string>
					<string>uniE0BF.stypo</string>
					<string>uniE0C0.stypo</string>
					<string>uniE0C1.stypo</string>
					<string>uniE0C2.stypo</string>
					<string>uniE0C3.stypo</string>
					<string>uniE0C4.stypo</string>
					<string>uniE0C5.stypo</string>
					<string>uniE0C6.stypo</string>
					<string>uniE0C7.stypo</string>
					<string>uniE0C8.stypo</string>
					<string>uniE0CA.stypo</string>
					<string>uniE0CC.stypo</string>
					<string>uniE0CD.stypo</string>
					<string>uniE0CE.stypo</string>
					<string>uniE0CF.stypo</string>
					<string>uniE0D1.stypo</string>
					<string>uniE0D2.stypo</string>
					<string>uniE0D4.stypo</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>glyphOrder</string>
				<key>value</key>
				<array>
					<string>uniE0A0</string>
					<string>uniE0A1</string>
					<string>uniE0A2</string>
					<string>uniE0A3</string>
					<string>uniE0B0</string>
					<string>uniE0B1</string>
					<string>uniE0B2</string>
					<string>uniE0B3</string>
					<string>uniE0B4</string>
					<string>uniE0B5</string>
					<string>uniE0B6</string>
					<string>uniE0B7</string>
					<string>uniE0B8</string>
					<string>uniE0B9</string>
					<string>uniE0BA</string>
					<string>uniE0BB</string>
					<string>uniE0BC</string>
					<string>uniE0BD</string>
					<string>uniE0BE</string>
					<string>uniE0BF</string>
					<string>uniE0C0</string>
					<string>uniE0C1</string>
					<string>uniE0C2</string>
					<string>uniE0C3</string>
					<string>uniE0C4</string>
					<string>uniE0C5</string>
					<string>uniE0C6</string>
					<string>uniE0C7</string>
					<string>uniE0C8</string>
					<string>uniE0CA</string>
					<string>uniE0CC</string>
					<string>uniE0CD</string>
					<string>uniE0CE</string>
					<string>uniE0CF</string>
					<string>uniE0D0</string>
					<string>uniE0D1</string>
					<string>uniE0D2</string>
					<string>uniE0D4</string>
					<string>uniE0A0.stypo</string>
					<string>uniE0B0.stypo</string>
					<string>uniE0B1.stypo</string>
					<string>uniE0B2.stypo</string>
					<string>uniE0B3.stypo</string>
					<string>uniE0B4.stypo</string>
					<string>uniE0B5.stypo</string>
					<string>uniE0B6.stypo</string>
					<string>uniE0B7.stypo</string>
					<string>uniE0B8.stypo</string>
					<string>uniE0B9.stypo</string>
					<string>uniE0BA.stypo</string>
					<string>uniE0BB.stypo</string>
					<string>uniE0BC.stypo</string>
					<string>uniE0BD.stypo</string>
					<string>uniE0BE.stypo</string>
					<string>uniE0BF.stypo</string>
					<string>uniE0C0.stypo</string>
					<string>uniE0C1.stypo</string>
					<string>uniE0C2.stypo</string>
					<string>uniE0C3.stypo</string>
					<string>uniE0C4.stypo</string>
					<string>uniE0C5.stypo</string>
					<string>uniE0C6.stypo</string>
					<string>uniE0C7.stypo</string>
					<string>uniE0C8.stypo</string>
					<string>uniE0CA.stypo</string>
					<string>uniE0CC.stypo</string>
					<string>uniE0CD.stypo</string>
					<string>uniE0CE.stypo</string>
					<string>uniE0CF.stypo</string>
					<string>uniE0D1.stypo</string>
					<string>uniE0D2.stypo</string>
					<string>uniE0D4.stypo</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>glyphOrder</string>
				<key>value</key>
				<array>
					<string>uniE0A0</string>
					<string>uniE0A1</string>
					<string>uniE0A2</string>
					<string>uniE0A3</string>
					<string>uniE0B0</string>
					<string>uniE0B1</string>
					<string>uniE0B2</string>
					<string>uniE0B3</string>
					<string>uniE0B4</string>
					<string>uniE0B5</string>
					<string>uniE0B6</string>
					<string>uniE0B7</string>
					<string>uniE0B8</string>
					<string>uniE0B9</string>
					<string>uniE0BA</string>
					<string>uniE0BB</string>
					<string>uniE0BC</string>
					<string>uniE0BD</string>
					<string>uniE0BE</string>
					<string>uniE0BF</string>
					<string>uniE0C0</string>
					<string>uniE0C1</string>
					<string>uniE0C2</string>
					<string>uniE0C3</string>
					<string>uniE0C4</string>
					<string>uniE0C5</string>
					<string>uniE0C6</string>
					<string>uniE0C7</string>
					<string>uniE0C8</string>
					<string>uniE0CA</string>
					<string>uniE0CC</string>
					<string>uniE0CD</string>
					<string>uniE0CE</string>
					<string>uniE0CF</string>
					<string>uniE0D0</string>
					<string>uniE0D1</string>
					<string>uniE0D2</string>
					<string>uniE0D4</string>
					<string>uniE0A0.stypo</string>
					<string>uniE0B0.stypo</string>
					<string>uniE0B1.stypo</string>
					<string>uniE0B2.stypo</string>
					<string>uniE0B3.stypo</string>
					<string>uniE0B4.stypo</string>
					<string>uniE0B5.stypo</string>
					<string>uniE0B6.stypo</string>
					<string>uniE0B7.stypo</string>
					<string>uniE0B8.stypo</string>
					<string>uniE0B9.stypo</string>
					<string>uniE0BA.stypo</string>
					<string>uniE0BB.stypo</string>
					<string>uniE0BC.stypo</string>
					<string>uniE0BD.stypo</string>
					<string>uniE0BE.stypo</string>
					<string>uniE0BF.stypo</string>
					<string>uniE0C0.stypo</string>
					<string>uniE0C1.stypo</string>
					<string>uniE0C2.stypo</string>
					<string>uniE0C3.stypo</string>
					<string>uniE0C4.stypo</string>
					<string>uniE0C5.stypo</string>
					<string>uniE0C6.stypo</string>
					<string>uniE0C7.stypo</string>
					<string>uniE0C8.stypo</string>
					<string>uniE0CA.stypo</string>
					<string>uniE0CC.stypo</string>
					<string>uniE0CD.stypo</string>
					<string>uniE0CE.stypo</string>
					<string>uniE0CF.stypo</string>
					<string>uniE0D1.stypo</string>
					<string>uniE0D2.stypo</string>
					<string>uniE0D4.stypo</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>glyphOrder</string>
				<key>value</key>
				<array>
					<string>uniE0A0</string>
					<string>uniE0A1</string>
					<string>uniE0A2</string>
					<string>uniE0A3</string>
					<string>uniE0B0</string>
					<string>uniE0B1</string>
					<string>uniE0B2</string>
					<string>uniE0B3</string>
					<string>uniE0B4</string>
					<string>uniE0B5</string>
					<string>uniE0B6</string>
					<string>uniE0B7</string>
					<string>uniE0B8</string>
					<string>uniE0B9</string>
					<string>uniE0BA</string>
					<string>uniE0BB</string>
					<string>uniE0BC</string>
					<string>uniE0BD</string>
					<string>uniE0BE</string>
					<string>uniE0BF</string>
					<string>uniE0C0</string>
					<string>uniE0C1</string>
					<string>uniE0C2</string>
					<string>uniE0C3</string>
					<string>uniE0C4</string>
					<string>uniE0C5</string>
					<string>uniE0C6</string>
					<string>uniE0C7</string>
					<string>uniE0C8</string>
					<string>uniE0CA</string>
					<string>uniE0CC</string>
					<string>uniE0CD</string>
					<string>uniE0CE</string>
					<string>uniE0CF</string>
					<string>uniE0D0</string>
					<string>uniE0D1</string>
					<string>uniE0D2</string>
					<string>uniE0D4</string>
					<string>uniE0A0.stypo</string>
					<string>uniE0B0.stypo</string>
					<string>uniE0B1.stypo</string>
					<string>uniE0B2.stypo</string>
					<string>uniE0B3.stypo</string>
					<string>uniE0B4.stypo</string>
					<string>uniE0B5.stypo</string>
					<string>uniE0B6.stypo</string>
					<string>uniE0B7.stypo</string>
					<string>uniE0B8.stypo</string>
					<string>uniE0B9.stypo</string>
					<string>uniE0BA.stypo</string>
					<string>uniE0BB.stypo</string>
					<string>uniE0BC.stypo</string>
					<string>uniE0BD.stypo</string>
					<string>uniE0BE.stypo</string>
					<string>uniE0BF.stypo</string>
					<string>uniE0C0.stypo</string>
					<string>uniE0C1.stypo</string>
					<string>uniE0C2.stypo</string>
					<string>uniE0C3.stypo</string>
					<string>uniE0C4.stypo</string>
					<string>uniE0C5.stypo</string>
					<string>uniE0C6.stypo</string>
					<string>uniE0C7.stypo</string>
					<string>uniE0C8.stypo</string>
					<string>uniE0CA.stypo</string>
					<string>uniE0CC.stypo</string>
					<string>uniE0CD.stypo</string>
					<string>uniE0CE.stypo</string>
					<string>uniE0CF.stypo</string>
					<string>uniE0D1.stypo</string>
					<string>uniE0D2.stypo</string>
					<string>uniE0D4.stypo</string>
				</array>
			</dict>
		</array>
		<key>com.schriftgestaltung.fontMaster.customParameters</key>
		<array>
			<dict>
				<key>name</key>
				<string>underlineThickness</string>
				<key>value</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>underlinePosition</string>
				<key>value</key>
				<integer>-205</integer>
			</dict>
		</array>
		<key>com.schriftgestaltung.fontMaster.userData</key>
		<dict>
			<key>GSOffsetAutoStroke</key>
			<integer>1</integer>
			<key>GSOffsetHorizontal</key>
			<integer>-37</integer>
			<key>GSOffsetVertical</key>
			<integer>-34</integer>
		</dict>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>F8C3375C-B372-4BAE-A3FB-5A8DC7FA7AB9</string>
		<key>com.schriftgestaltung.glyphOrder</key>
		<array>
			<string>uniE0A0</string>
			<string>uniE0A1</string>
			<string>uniE0A2</string>
			<string>uniE0A3</string>
			<string>uniE0B0</string>
			<string>uniE0B1</string>
			<string>uniE0B2</string>
			<string>uniE0B3</string>
			<string>uniE0B4</string>
			<string>uniE0B5</string>
			<string>uniE0B6</string>
			<string>uniE0B7</string>
			<string>uniE0B8</string>
			<string>uniE0B9</string>
			<string>uniE0BA</string>
			<string>uniE0BB</string>
			<string>uniE0BC</string>
			<string>uniE0BD</string>
			<string>uniE0BE</string>
			<string>uniE0BF</string>
			<string>uniE0C0</string>
			<string>uniE0C1</string>
			<string>uniE0C2</string>
			<string>uniE0C3</string>
			<string>uniE0C4</string>
			<string>uniE0C5</string>
			<string>uniE0C6</string>
			<string>uniE0C7</string>
			<string>uniE0C8</string>
			<string>uniE0CA</string>
			<string>uniE0CC</string>
			<string>uniE0CD</string>
			<string>uniE0CE</string>
			<string>uniE0CF</string>
			<string>uniE0D0</string>
			<string>uniE0D1</string>
			<string>uniE0D2</string>
			<string>uniE0D4</string>
			<string>uniE0A0.stypo</string>
			<string>uniE0B0.stypo</string>
			<string>uniE0B1.stypo</string>
			<string>uniE0B2.stypo</string>
			<string>uniE0B3.stypo</string>
			<string>uniE0B4.stypo</string>
			<string>uniE0B5.stypo</string>
			<string>uniE0B6.stypo</string>
			<string>uniE0B7.stypo</string>
			<string>uniE0B8.stypo</string>
			<string>uniE0B9.stypo</string>
			<string>uniE0BA.stypo</string>
			<string>uniE0BB.stypo</string>
			<string>uniE0BC.stypo</string>
			<string>uniE0BD.stypo</string>
			<string>uniE0BE.stypo</string>
			<string>uniE0BF.stypo</string>
			<string>uniE0C0.stypo</string>
			<string>uniE0C1.stypo</string>
			<string>uniE0C2.stypo</string>
			<string>uniE0C3.stypo</string>
			<string>uniE0C4.stypo</string>
			<string>uniE0C5.stypo</string>
			<string>uniE0C6.stypo</string>
			<string>uniE0C7.stypo</string>
			<string>uniE0C8.stypo</string>
			<string>uniE0CA.stypo</string>
			<string>uniE0CC.stypo</string>
			<string>uniE0CD.stypo</string>
			<string>uniE0CE.stypo</string>
			<string>uniE0CF.stypo</string>
			<string>uniE0D1.stypo</string>
			<string>uniE0D2.stypo</string>
			<string>uniE0D4.stypo</string>
		</array>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>com.schriftgestaltung.weightValue</key>
		<integer>400</integer>
		<key>com.schriftgestaltung.widthValue</key>
		<integer>5</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.smartSets.uniqueKey</key>
		<string>10584912272</string>
		<key>public.glyphOrder</key>
		<array>
			<string>uniE0A0</string>
			<string>uniE0A1</string>
			<string>uniE0A2</string>
			<string>uniE0A3</string>
			<string>uniE0B0</string>
			<string>uniE0B1</string>
			<string>uniE0B2</string>
			<string>uniE0B3</string>
			<string>uniE0B4</string>
			<string>uniE0B5</string>
			<string>uniE0B6</string>
			<string>uniE0B7</string>
			<string>uniE0B8</string>
			<string>uniE0B9</string>
			<string>uniE0BA</string>
			<string>uniE0BB</string>
			<string>uniE0BC</string>
			<string>uniE0BD</string>
			<string>uniE0BE</string>
			<string>uniE0BF</string>
			<string>uniE0C0</string>
			<string>uniE0C1</string>
			<string>uniE0C2</string>
			<string>uniE0C3</string>
			<string>uniE0C4</string>
			<string>uniE0C5</string>
			<string>uniE0C6</string>
			<string>uniE0C7</string>
			<string>uniE0C8</string>
			<string>uniE0CA</string>
			<string>uniE0CC</string>
			<string>uniE0CD</string>
			<string>uniE0CE</string>
			<string>uniE0CF</string>
			<string>uniE0D0</string>
			<string>uniE0D1</string>
			<string>uniE0D2</string>
			<string>uniE0D4</string>
			<string>uniE0A0.stypo</string>
			<string>uniE0B0.stypo</string>
			<string>uniE0B1.stypo</string>
			<string>uniE0B2.stypo</string>
			<string>uniE0B3.stypo</string>
			<string>uniE0B4.stypo</string>
			<string>uniE0B5.stypo</string>
			<string>uniE0B6.stypo</string>
			<string>uniE0B7.stypo</string>
			<string>uniE0B8.stypo</string>
			<string>uniE0B9.stypo</string>
			<string>uniE0BA.stypo</string>
			<string>uniE0BB.stypo</string>
			<string>uniE0BC.stypo</string>
			<string>uniE0BD.stypo</string>
			<string>uniE0BE.stypo</string>
			<string>uniE0BF.stypo</string>
			<string>uniE0C0.stypo</string>
			<string>uniE0C1.stypo</string>
			<string>uniE0C2.stypo</string>
			<string>uniE0C3.stypo</string>
			<string>uniE0C4.stypo</string>
			<string>uniE0C5.stypo</string>
			<string>uniE0C6.stypo</string>
			<string>uniE0C7.stypo</string>
			<string>uniE0C8.stypo</string>
			<string>uniE0CA.stypo</string>
			<string>uniE0CC.stypo</string>
			<string>uniE0CD.stypo</string>
			<string>uniE0CE.stypo</string>
			<string>uniE0CF.stypo</string>
			<string>uniE0D1.stypo</string>
			<string>uniE0D2.stypo</string>
			<string>uniE0D4.stypo</string>
		</array>
	</dict>
</plist>
