<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>dotlessij</key>
		<string>dotlessij.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>equivalence</key>
		<string>equivalence.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>flatg</key>
		<string>flatg.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.longtail</key>
		<string>g.longtail.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>kip</key>
		<string>kip.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>notdef</key>
		<string>notdef.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonekcomb</key>
		<string>ogonekcomb.glif</string>
		<key>ogonekcomb.case</key>
		<string>ogonekcomb.case.glif</string>
		<key>one.sans</key>
		<string>one.sans.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>product</key>
		<string>product.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>uni2190</key>
		<string>uni2190.glif</string>
		<key>uni2191</key>
		<string>uni2191.glif</string>
		<key>uni2206</key>
		<string>uni2206.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
