<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.titl</key>
    <string>Q_.titl.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>b.italic</key>
    <string>b.italic.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.italic</key>
    <string>c.italic.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>dotlessj.italic</key>
    <string>dotlessj.italic.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.mono</key>
    <string>f.mono.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.italic</key>
    <string>w.italic.glif</string>
    <key>x.italic</key>
    <string>x.italic.glif</string>
    <key>z.italic</key>
    <string>z.italic.glif</string>
  </dict>
</plist>
