<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
		</array>
		<key>public.kern1.C</key>
		<array>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
		</array>
		<key>public.kern1.L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcommaaccent</string>
		</array>
		<key>public.kern1.M</key>
		<array>
			<string>M</string>
		</array>
		<key>public.kern1.O</key>
		<array>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oogonek</string>
			<string>Otilde</string>
			<string>Q</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>Eth</string>
			<string>Dcroat</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>Thorn</string>
		</array>
		<key>public.kern1.P</key>
		<array>
			<string>P</string>
			<string>F</string>
		</array>
		<key>public.kern1.T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern1.V</key>
		<array>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern1.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern1.a</key>
		<array>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>atilde</string>
			<string>a</string>
		</array>
		<key>public.kern1.e</key>
		<array>
			<string>ae</string>
			<string>aeacute</string>
			<string>e</string>
			<string>egrave</string>
		</array>
		<key>public.kern1.o</key>
		<array>
			<string>o</string>
			<string>odotbelow</string>
			<string>oogonek</string>
			<string>ograve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>edotbelow</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>p</string>
			<string>oe</string>
			<string>thorn</string>
		</array>
		<key>public.kern1.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern1.v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
		</array>
		<key>public.kern2.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Adotbelow</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
			<string>AE</string>
		</array>
		<key>public.kern2.M</key>
		<array>
			<string>M</string>
		</array>
		<key>public.kern2.O</key>
		<array>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oogonek</string>
			<string>Otilde</string>
			<string>Q</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcircumflex</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
		</array>
		<key>public.kern2.T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern2.V</key>
		<array>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
		</array>
		<key>public.kern2.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern2.a</key>
		<array>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>atilde</string>
			<string>a</string>
			<string>ae</string>
		</array>
		<key>public.kern2.n</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncommaaccent</string>
			<string>r</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>udotbelow</string>
			<string>uogonek</string>
		</array>
		<key>public.kern2.o</key>
		<array>
			<string>o</string>
			<string>odotbelow</string>
			<string>oogonek</string>
			<string>oacute</string>
			<string>e</string>
			<string>eacute</string>
			<string>edotaccent</string>
			<string>edotbelow</string>
			<string>eogonek</string>
			<string>d</string>
			<string>dcaron</string>
			<string>q</string>
			<string>a.italic</string>
			<string>g.italic</string>
			<string>oe</string>
			<string>oslash</string>
			<string>oslashacute</string>
		</array>
		<key>public.kern2.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern2.v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
		</array>
		<key>public.kern2.y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
		</array>
	</dict>
</plist>
