<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>four.angledtop</string>
				<string>A.replaced_with_stemtaper</string>
				<string>B.replaced_with_stemtaper</string>
				<string>D.replaced_with_stemtaper</string>
				<string>E.replaced_with_stemtaper</string>
				<string>F.replaced_with_stemtaper</string>
				<string>H.replaced_with_stemtaper</string>
				<string>I.replaced_with_stemtaper</string>
				<string>P.replaced_with_stemtaper</string>
				<string>R.replaced_with_stemtaper</string>
				<string>T.replaced_with_stemtaper</string>
				<string>f.replaced_with_ss01</string>
				<string>i.replaced_with_ss01</string>
				<string>l.replaced_with_ss01</string>
				<string>r.replaced_with_ss01</string>
				<string>n.alt1</string>
				<string>Z.noserif</string>
				<string>a.rounder</string>
				<string>y.replaced_with_smoother</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typedev.version_control.A</key>
	<integer>0</integer>
	<key>com.typedev.version_control.A.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.B</key>
	<integer>0</integer>
	<key>com.typedev.version_control.B.stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.C</key>
	<integer>0</integer>
	<key>com.typedev.version_control.D</key>
	<integer>0</integer>
	<key>com.typedev.version_control.D.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.E</key>
	<integer>0</integer>
	<key>com.typedev.version_control.E.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.F</key>
	<integer>0</integer>
	<key>com.typedev.version_control.F.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.G</key>
	<integer>0</integer>
	<key>com.typedev.version_control.H</key>
	<integer>0</integer>
	<key>com.typedev.version_control.H.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.I</key>
	<integer>0</integer>
	<key>com.typedev.version_control.I.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.J</key>
	<integer>0</integer>
	<key>com.typedev.version_control.K</key>
	<integer>0</integer>
	<key>com.typedev.version_control.L</key>
	<integer>0</integer>
	<key>com.typedev.version_control.M</key>
	<integer>0</integer>
	<key>com.typedev.version_control.N</key>
	<integer>0</integer>
	<key>com.typedev.version_control.O</key>
	<integer>0</integer>
	<key>com.typedev.version_control.P</key>
	<integer>0</integer>
	<key>com.typedev.version_control.P.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.Q</key>
	<integer>0</integer>
	<key>com.typedev.version_control.R</key>
	<integer>0</integer>
	<key>com.typedev.version_control.R.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.S</key>
	<integer>0</integer>
	<key>com.typedev.version_control.T</key>
	<integer>0</integer>
	<key>com.typedev.version_control.T.replaced_with_stemtaper</key>
	<integer>0</integer>
	<key>com.typedev.version_control.U</key>
	<integer>0</integer>
	<key>com.typedev.version_control.V</key>
	<integer>0</integer>
	<key>com.typedev.version_control.W</key>
	<integer>0</integer>
	<key>com.typedev.version_control.X</key>
	<integer>0</integer>
	<key>com.typedev.version_control.Y</key>
	<integer>0</integer>
	<key>com.typedev.version_control.Z</key>
	<integer>0</integer>
	<key>com.typedev.version_control.Z.noserif</key>
	<integer>0</integer>
	<key>com.typedev.version_control.a</key>
	<integer>0</integer>
	<key>com.typedev.version_control.b</key>
	<integer>0</integer>
	<key>com.typedev.version_control.c</key>
	<integer>0</integer>
	<key>com.typedev.version_control.d</key>
	<integer>0</integer>
	<key>com.typedev.version_control.e</key>
	<integer>0</integer>
	<key>com.typedev.version_control.eight</key>
	<integer>0</integer>
	<key>com.typedev.version_control.f</key>
	<integer>0</integer>
	<key>com.typedev.version_control.five</key>
	<integer>0</integer>
	<key>com.typedev.version_control.four</key>
	<integer>0</integer>
	<key>com.typedev.version_control.g</key>
	<integer>0</integer>
	<key>com.typedev.version_control.h</key>
	<integer>0</integer>
	<key>com.typedev.version_control.i</key>
	<integer>0</integer>
	<key>com.typedev.version_control.i.ss01</key>
	<integer>0</integer>
	<key>com.typedev.version_control.j</key>
	<integer>0</integer>
	<key>com.typedev.version_control.k</key>
	<integer>0</integer>
	<key>com.typedev.version_control.l</key>
	<integer>0</integer>
	<key>com.typedev.version_control.l.ss01</key>
	<integer>0</integer>
	<key>com.typedev.version_control.m</key>
	<integer>0</integer>
	<key>com.typedev.version_control.n</key>
	<integer>0</integer>
	<key>com.typedev.version_control.n.alt1</key>
	<integer>0</integer>
	<key>com.typedev.version_control.nine</key>
	<integer>0</integer>
	<key>com.typedev.version_control.o</key>
	<integer>0</integer>
	<key>com.typedev.version_control.one</key>
	<integer>0</integer>
	<key>com.typedev.version_control.p</key>
	<integer>0</integer>
	<key>com.typedev.version_control.q</key>
	<integer>0</integer>
	<key>com.typedev.version_control.r</key>
	<integer>0</integer>
	<key>com.typedev.version_control.r.ss01</key>
	<integer>0</integer>
	<key>com.typedev.version_control.s</key>
	<integer>0</integer>
	<key>com.typedev.version_control.seven</key>
	<integer>0</integer>
	<key>com.typedev.version_control.six</key>
	<integer>0</integer>
	<key>com.typedev.version_control.space</key>
	<integer>0</integer>
	<key>com.typedev.version_control.t</key>
	<integer>0</integer>
	<key>com.typedev.version_control.three</key>
	<integer>0</integer>
	<key>com.typedev.version_control.two</key>
	<integer>0</integer>
	<key>com.typedev.version_control.u</key>
	<integer>0</integer>
	<key>com.typedev.version_control.v</key>
	<integer>0</integer>
	<key>com.typedev.version_control.w</key>
	<integer>0</integer>
	<key>com.typedev.version_control.x</key>
	<integer>0</integer>
	<key>com.typedev.version_control.y</key>
	<integer>0</integer>
	<key>com.typedev.version_control.z</key>
	<integer>0</integer>
	<key>com.typedev.version_control.zero</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>four.angledtop</string>
		<string>A.replaced_with_stemtaper</string>
		<string>B.replaced_with_stemtaper</string>
		<string>D.replaced_with_stemtaper</string>
		<string>E.replaced_with_stemtaper</string>
		<string>F.replaced_with_stemtaper</string>
		<string>H.replaced_with_stemtaper</string>
		<string>I.replaced_with_stemtaper</string>
		<string>P.replaced_with_stemtaper</string>
		<string>R.replaced_with_stemtaper</string>
		<string>T.replaced_with_stemtaper</string>
		<string>f.replaced_with_ss01</string>
		<string>i.replaced_with_ss01</string>
		<string>l.replaced_with_ss01</string>
		<string>r.replaced_with_ss01</string>
		<string>n.alt1</string>
		<string>Z.noserif</string>
		<string>a.rounder</string>
		<string>y.replaced_with_smoother</string>
		<string>e.tooround</string>
	</array>
</dict>
</plist>
