<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.replaced_with_stemtaper</key>
	<string>A_.replaced_with_stemtaper.glif</string>
	<key>A.stemtaper</key>
	<string>A_.stemtaper.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.replaced_with_stemtaper</key>
	<string>B_.replaced_with_stemtaper.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.leaning</key>
	<string>C_.leaning.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.leaning</key>
	<string>S_.leaning.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.noserif</key>
	<string>Z_.noserif.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>a.replaced_with_rounder</key>
	<string>a.replaced_with_rounder.glif</string>
	<key>a.smoothtraps</key>
	<string>a.smoothtraps.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.crossbar</key>
	<string>ampersand.crossbar.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.short</key>
	<string>at.short.glif</string>
	<key>at.simpler</key>
	<string>at.simpler.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.replaced_with_higherjoints</key>
	<string>b.replaced_with_higherjoints.glif</string>
	<key>b.replaced_with_mediumheightjoints</key>
	<string>b.replaced_with_mediumheightjoints.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.angular</key>
	<string>braceleft.angular.glif</string>
	<key>braceleft.asymmetrical</key>
	<string>braceleft.asymmetrical.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.angular</key>
	<string>braceright.angular.glif</string>
	<key>braceright.asymmetrical</key>
	<string>braceright.asymmetrical.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.replaced_with_ss01</key>
	<string>c.replaced_with_ss01.glif</string>
	<key>c.smoother</key>
	<string>c.smoother.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.replaced_with_higherjoints</key>
	<string>d.replaced_with_higherjoints.glif</string>
	<key>d.replaced_with_mediumheightjoints</key>
	<string>d.replaced_with_mediumheightjoints.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.lower</key>
	<string>dollar.lower.glif</string>
	<key>dollar.nobar</key>
	<string>dollar.nobar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.45_oblique</key>
	<string>e.45_oblique.glif</string>
	<key>e.nokinks</key>
	<string>e.nokinks.glif</string>
	<key>e.smooth_oblique</key>
	<string>e.smooth_oblique.glif</string>
	<key>e.smoother</key>
	<string>e.smoother.glif</string>
	<key>e.tooround</key>
	<string>e.tooround.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.nokinks</key>
	<string>f.nokinks.glif</string>
	<key>f.replaced_with_reversewedge2</key>
	<string>f.replaced_with_reversewedge2.glif</string>
	<key>f.replaced_with_ss01</key>
	<string>f.replaced_with_ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.middlewaist</key>
	<string>five.middlewaist.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.angledtop</key>
	<string>four.angledtop.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.45_oblique</key>
	<string>g.45_oblique.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>g.nokinks</key>
	<string>g.nokinks.glif</string>
	<key>g.replaced_with_morecasual</key>
	<string>g.replaced_with_morecasual.glif</string>
	<key>g.smooth_oblique</key>
	<string>g.smooth_oblique.glif</string>
	<key>g.smoother</key>
	<string>g.smoother.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ver02</key>
	<string>g.ver02.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greater.arrow</key>
	<string>greater.arrow.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.replaced_with_higherjoints</key>
	<string>h.replaced_with_higherjoints.glif</string>
	<key>h.replaced_with_mediumheightjoints</key>
	<string>h.replaced_with_mediumheightjoints.glif</string>
	<key>h.replaced_with_morecasual</key>
	<string>h.replaced_with_morecasual.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.italic</key>
	<string>i.italic.glif</string>
	<key>i.replaced_with_reversewedge2</key>
	<string>i.replaced_with_reversewedge2.glif</string>
	<key>i.smoother</key>
	<string>i.smoother.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.replaced_with_smoother</key>
	<string>k.replaced_with_smoother.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.italic</key>
	<string>l.italic.glif</string>
	<key>l.replaced_with_reversewedge2</key>
	<string>l.replaced_with_reversewedge2.glif</string>
	<key>l.smoother</key>
	<string>l.smoother.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less.replaced_with_replaced_with_arrow</key>
	<string>less.replaced_with_replaced_with_arrow.glif</string>
	<key>less.replaced_with_taller</key>
	<string>less.replaced_with_taller.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.curvy</key>
	<string>m.curvy.glif</string>
	<key>m.replaced_with_higherjoints</key>
	<string>m.replaced_with_higherjoints.glif</string>
	<key>m.replaced_with_mediumheightjoints</key>
	<string>m.replaced_with_mediumheightjoints.glif</string>
	<key>m.replaced_with_morecasual</key>
	<string>m.replaced_with_morecasual.glif</string>
	<key>m.roundcounter</key>
	<string>m.roundcounter.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.curvy</key>
	<string>n.curvy.glif</string>
	<key>n.replaced_with_higherjoints</key>
	<string>n.replaced_with_higherjoints.glif</string>
	<key>n.replaced_with_mediumheightjoints</key>
	<string>n.replaced_with_mediumheightjoints.glif</string>
	<key>n.replaced_with_morecasual</key>
	<string>n.replaced_with_morecasual.glif</string>
	<key>n.roundcounter</key>
	<string>n.roundcounter.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt1</key>
	<string>nine.alt1.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.straight</key>
	<string>numbersign.straight.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.replaced_with_egg</key>
	<string>o.replaced_with_egg.glif</string>
	<key>o.symmetrical</key>
	<string>o.symmetrical.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.replaced_with_reversewedge2</key>
	<string>one.replaced_with_reversewedge2.glif</string>
	<key>overline</key>
	<string>overline.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.replaced_with_higherjoints</key>
	<string>p.replaced_with_higherjoints.glif</string>
	<key>p.replaced_with_mediumheightjoints</key>
	<string>p.replaced_with_mediumheightjoints.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.replaced_with_higherjoints</key>
	<string>q.replaced_with_higherjoints.glif</string>
	<key>q.replaced_with_mediumheightjoints</key>
	<string>q.replaced_with_mediumheightjoints.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>r.replaced_with_higherjoints</key>
	<string>r.replaced_with_higherjoints.glif</string>
	<key>r.replaced_with_mediumheightjoints</key>
	<string>r.replaced_with_mediumheightjoints.glif</string>
	<key>r.replaced_with_reversewedge2</key>
	<string>r.replaced_with_reversewedge2.glif</string>
	<key>r.replaced_with_ss01</key>
	<string>r.replaced_with_ss01.glif</string>
	<key>r.smoother</key>
	<string>r.smoother.glif</string>
	<key>r.smoothtraps</key>
	<string>r.smoothtraps.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt1</key>
	<string>s.alt1.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt1</key>
	<string>six.alt1.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.middlewaist</key>
	<string>three.middlewaist.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.middlewaist</key>
	<string>two.middlewaist.glif</string>
	<key>two.sharp</key>
	<string>two.sharp.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.replaced_with_higherjoints</key>
	<string>u.replaced_with_higherjoints.glif</string>
	<key>u.replaced_with_mediumheightjoints</key>
	<string>u.replaced_with_mediumheightjoints.glif</string>
	<key>u.replaced_with_morecasual</key>
	<string>u.replaced_with_morecasual.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>uni2192</key>
	<string>uni2192.glif</string>
	<key>uni2193</key>
	<string>uni2193.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.smoothtraps</key>
	<string>v.smoothtraps.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.replaced_with_smoother</key>
	<string>x.replaced_with_smoother.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>y.replaced_with_smoother</key>
	<string>y.replaced_with_smoother.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
