<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt1</key>
	<string>B_.alt1.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.alt1</key>
	<string>D_.alt1.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt1</key>
	<string>E_.alt1.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt1</key>
	<string>F_.alt1.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.alt1</key>
	<string>H_.alt1.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.alt1</key>
	<string>P_.alt1.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt1</key>
	<string>R_.alt1.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>a.straighter</key>
	<string>a.straighter.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.straighter</key>
	<string>b.straighter.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.straighter</key>
	<string>c.straighter.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.straighter</key>
	<string>d.straighter.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.straighter</key>
	<string>e.straighter.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.alt2</key>
	<string>eight.alt2.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>f.straighter</key>
	<string>f.straighter.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt2</key>
	<string>five.alt2.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt1</key>
	<string>four.alt1.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt1</key>
	<string>g.alt1.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.straighter</key>
	<string>g.straighter.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.straighter</key>
	<string>h.straighter.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>i.ss03</key>
	<string>i.ss03.glif</string>
	<key>i.straighter</key>
	<string>i.straighter.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.straighter</key>
	<string>j.straighter.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.straighter</key>
	<string>k.straighter.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>l.ss03</key>
	<string>l.ss03.glif</string>
	<key>l.straighter</key>
	<string>l.straighter.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.alt1</key>
	<string>m.alt1.glif</string>
	<key>m.straighter</key>
	<string>m.straighter.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.straighter</key>
	<string>n.straighter.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt</key>
	<string>nine.alt.glif</string>
	<key>nine.alt2</key>
	<string>nine.alt2.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.straighter</key>
	<string>o.straighter.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.straighter</key>
	<string>p.straighter.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.straighter</key>
	<string>q.straighter.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.straighter</key>
	<string>r.straighter.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.straighter</key>
	<string>s.straighter.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt3</key>
	<string>seven.alt3.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt</key>
	<string>six.alt.glif</string>
	<key>six.alt1</key>
	<string>six.alt1.glif</string>
	<key>six.alt2</key>
	<string>six.alt2.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>t.straighter</key>
	<string>t.straighter.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt2</key>
	<string>three.alt2.glif</string>
	<key>three.alt3</key>
	<string>three.alt3.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt2</key>
	<string>two.alt2.glif</string>
	<key>two.sharp</key>
	<string>two.sharp.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.straighter</key>
	<string>u.straighter.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.straighter</key>
	<string>v.straighter.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.straighter</key>
	<string>w.straighter.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.straighter</key>
	<string>x.straighter.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>y.straighter</key>
	<string>y.straighter.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.straighter</key>
	<string>z.straighter.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
