<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.sans</key>
    <string>l.sans.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
