<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>C</key>
		<string>C_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
