<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>a</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>equal</string>
		<string>g</string>
		<string>g.ver01</string>
		<string>greater</string>
		<string>h</string>
		<string>i</string>
		<string>l</string>
		<string>less</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>period</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>r</string>
		<string>s</string>
		<string>slash</string>
		<string>space</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>y</string>
	</array>
</dict>
</plist>
