<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>a</string>
				<string>b</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>c</string>
				<string>colon</string>
				<string>comma</string>
				<string>d</string>
				<string>e</string>
				<string>equal</string>
				<string>f</string>
				<string>f.ver.001</string>
				<string>g</string>
				<string>g.ver01</string>
				<string>greater</string>
				<string>h</string>
				<string>hyphen</string>
				<string>i</string>
				<string>j</string>
				<string>l</string>
				<string>less</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>one</string>
				<string>p</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>period</string>
				<string>q</string>
				<string>quotedbl</string>
				<string>quotesingle</string>
				<string>r</string>
				<string>s</string>
				<string>semicolon</string>
				<string>slash</string>
				<string>space</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>y</string>
				<string>zero</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>c</string>
		<string>colon</string>
		<string>comma</string>
		<string>d</string>
		<string>e</string>
		<string>equal</string>
		<string>f</string>
		<string>f.ver.001</string>
		<string>g</string>
		<string>g.ver01</string>
		<string>greater</string>
		<string>h</string>
		<string>hyphen</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>less</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>one</string>
		<string>p</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>period</string>
		<string>q</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>r</string>
		<string>s</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>space</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>zero</string>
	</array>
</dict>
</plist>
