<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>space</string>
					<string>A</string>
					<string>Agrave</string>
					<string>Aacute</string>
					<string>Acircumflex</string>
					<string>Atilde</string>
					<string>Adieresis</string>
					<string>Aring</string>
					<string>Amacron</string>
					<string>Abreve</string>
					<string>Aogonek</string>
					<string>Aringacute</string>
					<string>uni01FA</string>
					<string>Adotbelow</string>
					<string>B</string>
					<string>C</string>
					<string>Ccedilla</string>
					<string>Cacute</string>
					<string>Ccircumflex</string>
					<string>Cdotaccent</string>
					<string>Ccaron</string>
					<string>D</string>
					<string>Dcaron</string>
					<string>E</string>
					<string>Egrave</string>
					<string>Eacute</string>
					<string>Ecircumflex</string>
					<string>Edieresis</string>
					<string>Emacron</string>
					<string>Ebreve</string>
					<string>Edotaccent</string>
					<string>Eogonek</string>
					<string>Ecaron</string>
					<string>Edotbelow</string>
					<string>Etilde</string>
					<string>F</string>
					<string>G</string>
					<string>Gcircumflex</string>
					<string>Gbreve</string>
					<string>Gdotaccent</string>
					<string>Gcommaaccent</string>
					<string>Gcaron</string>
					<string>H</string>
					<string>Hcircumflex</string>
					<string>I</string>
					<string>Igrave</string>
					<string>Iacute</string>
					<string>Icircumflex</string>
					<string>Idieresis</string>
					<string>Itilde</string>
					<string>Imacron</string>
					<string>Ibreve</string>
					<string>Iogonek</string>
					<string>Idotaccent</string>
					<string>Idotbelow</string>
					<string>J</string>
					<string>Jcircumflex</string>
					<string>K</string>
					<string>Kcommaaccent</string>
					<string>L</string>
					<string>Lacute</string>
					<string>Lcommaaccent</string>
					<string>Lcaron</string>
					<string>M</string>
					<string>N</string>
					<string>Ntilde</string>
					<string>Nacute</string>
					<string>Ncommaaccent</string>
					<string>Ncaron</string>
					<string>O</string>
					<string>Ograve</string>
					<string>Oacute</string>
					<string>Ocircumflex</string>
					<string>Otilde</string>
					<string>Odieresis</string>
					<string>Omacron</string>
					<string>Obreve</string>
					<string>Ohungarumlaut</string>
					<string>Oogonek</string>
					<string>Odotbelow</string>
					<string>P</string>
					<string>Q</string>
					<string>R</string>
					<string>Racute</string>
					<string>Rcommaaccent</string>
					<string>Rcaron</string>
					<string>S</string>
					<string>Sacute</string>
					<string>Scircumflex</string>
					<string>Scedilla</string>
					<string>Scaron</string>
					<string>Scommaaccent</string>
					<string>T</string>
					<string>uni0162</string>
					<string>Tcaron</string>
					<string>uni021A</string>
					<string>U</string>
					<string>Ugrave</string>
					<string>Uacute</string>
					<string>Ucircumflex</string>
					<string>Udieresis</string>
					<string>Utilde</string>
					<string>Umacron</string>
					<string>Ubreve</string>
					<string>Uring</string>
					<string>Uhungarumlaut</string>
					<string>Uogonek</string>
					<string>Udotbelow</string>
					<string>V</string>
					<string>W</string>
					<string>Wcircumflex</string>
					<string>Wgrave</string>
					<string>Wacute</string>
					<string>Wdieresis</string>
					<string>X</string>
					<string>Y</string>
					<string>Yacute</string>
					<string>Ycircumflex</string>
					<string>Ydieresis</string>
					<string>Ymacron</string>
					<string>Ygrave</string>
					<string>Ytilde</string>
					<string>Z</string>
					<string>Zacute</string>
					<string>Zdotaccent</string>
					<string>Zcaron</string>
					<string>AE</string>
					<string>AEacute</string>
					<string>Eth</string>
					<string>Oslash</string>
					<string>Oslashacute</string>
					<string>Thorn</string>
					<string>Dcroat</string>
					<string>Hbar</string>
					<string>IJ</string>
					<string>Ldot</string>
					<string>Lslash</string>
					<string>Eng</string>
					<string>OE</string>
					<string>Tbar</string>
					<string>Schwa</string>
					<string>uni1E9E</string>
					<string>uni2126</string>
					<string>a</string>
					<string>agrave</string>
					<string>aacute</string>
					<string>acircumflex</string>
					<string>atilde</string>
					<string>adieresis</string>
					<string>aring</string>
					<string>amacron</string>
					<string>abreve</string>
					<string>aogonek</string>
					<string>aringacute</string>
					<string>uni01FB</string>
					<string>adotbelow</string>
					<string>b</string>
					<string>c</string>
					<string>ccedilla</string>
					<string>cacute</string>
					<string>ccircumflex</string>
					<string>cdotaccent</string>
					<string>ccaron</string>
					<string>d</string>
					<string>dcaron</string>
					<string>e</string>
					<string>egrave</string>
					<string>eacute</string>
					<string>ecircumflex</string>
					<string>edieresis</string>
					<string>emacron</string>
					<string>ebreve</string>
					<string>edotaccent</string>
					<string>eogonek</string>
					<string>ecaron</string>
					<string>edotbelow</string>
					<string>etilde</string>
					<string>f</string>
					<string>g</string>
					<string>gcircumflex</string>
					<string>gbreve</string>
					<string>gdotaccent</string>
					<string>gcommaaccent</string>
					<string>gcaron</string>
					<string>h</string>
					<string>hcircumflex</string>
					<string>i</string>
					<string>igrave</string>
					<string>iacute</string>
					<string>icircumflex</string>
					<string>idieresis</string>
					<string>itilde</string>
					<string>imacron</string>
					<string>ibreve</string>
					<string>iogonek</string>
					<string>idotbelow</string>
					<string>j</string>
					<string>jcircumflex</string>
					<string>k</string>
					<string>kcommaaccent</string>
					<string>l</string>
					<string>lacute</string>
					<string>lcommaaccent</string>
					<string>lcaron</string>
					<string>m</string>
					<string>n</string>
					<string>ntilde</string>
					<string>nacute</string>
					<string>ncommaaccent</string>
					<string>ncaron</string>
					<string>o</string>
					<string>ograve</string>
					<string>oacute</string>
					<string>ocircumflex</string>
					<string>otilde</string>
					<string>odieresis</string>
					<string>omacron</string>
					<string>obreve</string>
					<string>ohungarumlaut</string>
					<string>oogonek</string>
					<string>odotbelow</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>racute</string>
					<string>rcommaaccent</string>
					<string>rcaron</string>
					<string>s</string>
					<string>sacute</string>
					<string>scircumflex</string>
					<string>scedilla</string>
					<string>scaron</string>
					<string>scommaaccent</string>
					<string>t</string>
					<string>uni0163</string>
					<string>tcaron</string>
					<string>uni021B</string>
					<string>u</string>
					<string>ugrave</string>
					<string>uacute</string>
					<string>ucircumflex</string>
					<string>udieresis</string>
					<string>utilde</string>
					<string>umacron</string>
					<string>ubreve</string>
					<string>uring</string>
					<string>uhungarumlaut</string>
					<string>uogonek</string>
					<string>udotbelow</string>
					<string>v</string>
					<string>w</string>
					<string>wcircumflex</string>
					<string>wgrave</string>
					<string>wacute</string>
					<string>wdieresis</string>
					<string>x</string>
					<string>y</string>
					<string>yacute</string>
					<string>ydieresis</string>
					<string>ycircumflex</string>
					<string>ymacron</string>
					<string>ygrave</string>
					<string>ytilde</string>
					<string>z</string>
					<string>zacute</string>
					<string>zdotaccent</string>
					<string>zcaron</string>
					<string>germandbls</string>
					<string>ae</string>
					<string>aeacute</string>
					<string>eth</string>
					<string>oslash</string>
					<string>oslashacute</string>
					<string>thorn</string>
					<string>dcroat</string>
					<string>hbar</string>
					<string>dotlessi</string>
					<string>ij</string>
					<string>kgreenlandic</string>
					<string>ldot</string>
					<string>lslash</string>
					<string>napostrophe</string>
					<string>eng</string>
					<string>oe</string>
					<string>tbar</string>
					<string>schwa</string>
					<string>pi</string>
					<string>ordfeminine</string>
					<string>ordmasculine</string>
					<string>gravecomb</string>
					<string>acutecomb</string>
					<string>circumflexcomb</string>
					<string>tildecomb</string>
					<string>macroncomb</string>
					<string>brevecomb</string>
					<string>dotaccentcomb</string>
					<string>dieresiscomb</string>
					<string>ringcomb</string>
					<string>hungarumlautcomb</string>
					<string>caroncomb</string>
					<string>commaturnedabovecomb</string>
					<string>commaaboverightcomb</string>
					<string>dotbelowcomb</string>
					<string>commaaccentcomb</string>
					<string>cedillacomb</string>
					<string>ogonekcomb</string>
					<string>zero</string>
					<string>one</string>
					<string>two</string>
					<string>three</string>
					<string>four</string>
					<string>five</string>
					<string>six</string>
					<string>seven</string>
					<string>eight</string>
					<string>nine</string>
					<string>onesuperior</string>
					<string>twosuperior</string>
					<string>threesuperior</string>
					<string>onequarter</string>
					<string>onehalf</string>
					<string>threequarters</string>
					<string>underscore</string>
					<string>hyphen</string>
					<string>endash</string>
					<string>emdash</string>
					<string>parenleft</string>
					<string>parenright</string>
					<string>bracketleft</string>
					<string>bracketright</string>
					<string>braceleft</string>
					<string>braceright</string>
					<string>numbersign</string>
					<string>percent</string>
					<string>perthousand</string>
					<string>quotesingle</string>
					<string>quotedbl</string>
					<string>quoteleft</string>
					<string>quoteright</string>
					<string>quotedblleft</string>
					<string>quotedblright</string>
					<string>quotesinglbase</string>
					<string>quotedblbase</string>
					<string>guilsinglleft</string>
					<string>guilsinglright</string>
					<string>guillemotleft</string>
					<string>guillemotright</string>
					<string>asterisk</string>
					<string>dagger</string>
					<string>daggerdbl</string>
					<string>period</string>
					<string>comma</string>
					<string>colon</string>
					<string>semicolon</string>
					<string>ellipsis</string>
					<string>exclam</string>
					<string>exclamdown</string>
					<string>question</string>
					<string>questiondown</string>
					<string>slash</string>
					<string>backslash</string>
					<string>fraction</string>
					<string>bar</string>
					<string>brokenbar</string>
					<string>at</string>
					<string>ampersand</string>
					<string>section</string>
					<string>paragraph</string>
					<string>uni2113</string>
					<string>periodcentered</string>
					<string>bullet</string>
					<string>plus</string>
					<string>minus</string>
					<string>plusminus</string>
					<string>divide</string>
					<string>multiply</string>
					<string>equal</string>
					<string>less</string>
					<string>greater</string>
					<string>lessequal</string>
					<string>greaterequal</string>
					<string>approxequal</string>
					<string>notequal</string>
					<string>logicalnot</string>
					<string>uni2190</string>
					<string>uni2191</string>
					<string>uni2192</string>
					<string>uni2193</string>
					<string>partialdiff</string>
					<string>uni2206</string>
					<string>product</string>
					<string>summation</string>
					<string>uni00B5</string>
					<string>uni2215</string>
					<string>radical</string>
					<string>infinity</string>
					<string>integral</string>
					<string>uni2261</string>
					<string>dollar</string>
					<string>cent</string>
					<string>sterling</string>
					<string>currency</string>
					<string>yen</string>
					<string>Euro</string>
					<string>florin</string>
					<string>asciicircum</string>
					<string>asciitilde</string>
					<string>acute</string>
					<string>grave</string>
					<string>hungarumlaut</string>
					<string>circumflex</string>
					<string>caron</string>
					<string>breve</string>
					<string>tilde</string>
					<string>macron</string>
					<string>dieresis</string>
					<string>dotaccent</string>
					<string>ring</string>
					<string>cedilla</string>
					<string>ogonek</string>
					<string>copyright</string>
					<string>registered</string>
					<string>trademark</string>
					<string>degree</string>
					<string>estimated</string>
					<string>lozenge</string>
					<string>uni00AD</string>
					<string>ijacute</string>
					<string>IJacute</string>
					<string>Nhookleft</string>
					<string>bitcoin</string>
					<string>dotlessij</string>
					<string>dotlessj</string>
					<string>fj</string>
					<string>flatg</string>
					<string>foursuperior</string>
					<string>nhookleft</string>
					<string>overline</string>
					<string>ringacute</string>
					<string>fi</string>
					<string>gravecomb.case</string>
					<string>acutecomb.case</string>
					<string>circumflexcomb.case</string>
					<string>tildecomb.case</string>
					<string>macroncomb.case</string>
					<string>brevecomb.case</string>
					<string>dotaccentcomb.case</string>
					<string>dieresiscomb.case</string>
					<string>ringcomb.case</string>
					<string>hungarumlautcomb.case</string>
					<string>caroncomb.case</string>
					<string>commaturnedabovecomb.case</string>
					<string>commaaboverightcomb.case</string>
					<string>dotbelowcomb.case</string>
					<string>commaaccentcomb.case</string>
					<string>cedillacomb.case</string>
					<string>ogonekcomb.case</string>
					<string>ringacute.case</string>
					<string>braceleft.assymetrical</string>
					<string>braceright.assymetrical</string>
					<string>ampersand.nobar</string>
					<string>ampersand.crossbar</string>
					<string>ampersand.straightbar</string>
					<string>dollar.lower</string>
					<string>seven.alt3</string>
					<string>two.sharp</string>
					<string>five.topserif</string>
					<string>five.replaced_with_replaced_with_curvedown</string>
					<string>three.smooth</string>
					<string>ampersand.smooth</string>
					<string>a.straighter</string>
					<string>b.straighter</string>
					<string>c.straighter</string>
					<string>d.straighter</string>
					<string>e.straighter</string>
					<string>f.straighter</string>
					<string>g.straighter</string>
					<string>h.straighter</string>
					<string>i.straighter</string>
					<string>j.straighter</string>
					<string>k.straighter</string>
					<string>l.straighter</string>
					<string>m.straighter</string>
					<string>n.straighter</string>
					<string>o.straighter</string>
					<string>p.straighter</string>
					<string>q.straighter</string>
					<string>r.straighter</string>
					<string>s.straighter</string>
					<string>t.straighter</string>
					<string>u.straighter</string>
					<string>v.straighter</string>
					<string>w.straighter</string>
					<string>x.straighter</string>
					<string>y.straighter</string>
					<string>z.straighter</string>
					<string>e.italicer</string>
					<string>f.italicer</string>
					<string>g.italicer</string>
					<string>i.italicer</string>
					<string>j.italicer</string>
					<string>k.italicer</string>
					<string>l.italicer</string>
					<string>v.italicer</string>
					<string>w.italicer</string>
					<string>y.italicer</string>
					<string>z.italicer</string>
					<string>a.roman</string>
					<string>f.roman</string>
					<string>g.roman</string>
					<string>i.roman</string>
					<string>l.roman</string>
					<string>r.roman</string>
					<string>y.roman</string>
					<string>a.italic</string>
					<string>f.italic</string>
					<string>g.italic</string>
					<string>i.italic</string>
					<string>l.italic</string>
					<string>r.italic</string>
					<string>y.italic</string>
					<string>B.smallserif</string>
					<string>D.smallserif</string>
					<string>E.smallserif</string>
					<string>F.smallserif</string>
					<string>P.smallserif</string>
					<string>R.smallserif</string>
					<string>c.replaced_with_ss01</string>
					<string>f.replaced_with_ss01</string>
					<string>g.replaced_with_ss01</string>
					<string>i.replaced_with_ss01</string>
					<string>l.replaced_with_ss01</string>
					<string>r.replaced_with_ss01</string>
					<string>Y.ss02</string>
					<string>i.ss02</string>
					<string>l.ss02</string>
					<string>r.ss02</string>
					<string>C.rounder</string>
					<string>G.rounder</string>
					<string>S.rounder</string>
					<string>c.rounder</string>
					<string>c.ss01</string>
					<string>g.ss01</string>
					<string>y.ss01</string>
					<string>g.kinks</string>
					<string>j.kinks</string>
					<string>m.kinks</string>
					<string>a.smoothtraps</string>
					<string>r.smoothtraps</string>
					<string>v.smoothtraps</string>
					<string>k.replaced_with_smoother</string>
					<string>x.replaced_with_smoother</string>
					<string>y.replaced_with_smoother</string>
					<string>l.wide</string>
					<string>z.wide</string>
					<string>m.roundcounter</string>
					<string>n.roundcounter</string>
					<string>l.nokinks</string>
					<string>g.ss01alt</string>
					<string>g.replaced_with_bigear</string>
					<string>g.replaced_with_rounder</string>
					<string>w.replaced_with_alt-flattop</string>
					<string>B.replaced_with_nokinks</string>
					<string>C.replaced_with_nokinks</string>
					<string>D.replaced_with_nokinks</string>
					<string>G.replaced_with_nokinks</string>
					<string>J.replaced_with_nokinks</string>
					<string>O.replaced_with_nokinks</string>
					<string>P.replaced_with_nokinks</string>
					<string>R.replaced_with_nokinks</string>
					<string>S.replaced_with_nokinks</string>
					<string>U.replaced_with_nokinks</string>
					<string>a.replaced_with_nokinks</string>
					<string>b.replaced_with_nokinks</string>
					<string>c.replaced_with_nokinks</string>
					<string>d.replaced_with_nokinks</string>
					<string>e.replaced_with_nokinks</string>
					<string>f.replaced_with_nokinks</string>
					<string>g.replaced_with_nokinks</string>
					<string>h.replaced_with_nokinks</string>
					<string>j.replaced_with_nokinks</string>
					<string>m.replaced_with_nokinks</string>
					<string>n.replaced_with_nokinks</string>
					<string>o.replaced_with_nokinks</string>
					<string>p.replaced_with_nokinks</string>
					<string>q.replaced_with_nokinks</string>
					<string>t.replaced_with_nokinks</string>
					<string>u.replaced_with_nokinks</string>
					<string>zero.replaced_with_nokinks</string>
					<string>two.replaced_with_nokinks</string>
					<string>three.replaced_with_nokinks</string>
					<string>five.replaced_with_nokinks</string>
					<string>six.replaced_with_nokinks</string>
					<string>eight.replaced_with_nokinks</string>
					<string>nine.replaced_with_nokinks</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.background.layerStrokeColor</key>
		<array>
			<integer>0</integer>
			<real>0.8</real>
			<real>0.2</real>
			<real>0.7</real>
		</array>
		<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.layerName</key>
		<string>foreground</string>
		<key>com.typemytype.robofont.compileSettings.path</key>
		<string>/Users/stephennixon/Dropbox/KABK_netherlands/type_media/000-casual-mono/01-casual_mono-project/archive/presentation-1-test_exports/Recursive-Text-Light-v0_0_3.otf</string>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.7</real>
		</array>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>com.typesupply.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>A</string>
					<string>Agrave</string>
					<string>Aacute</string>
					<string>Acircumflex</string>
					<string>Atilde</string>
					<string>Adieresis</string>
					<string>Aring</string>
					<string>B</string>
					<string>C</string>
					<string>Ccedilla</string>
					<string>D</string>
					<string>E</string>
					<string>Egrave</string>
					<string>Eacute</string>
					<string>Ecircumflex</string>
					<string>Edieresis</string>
					<string>F</string>
					<string>G</string>
					<string>I</string>
					<string>Igrave</string>
					<string>Iacute</string>
					<string>Icircumflex</string>
					<string>Idieresis</string>
					<string>J</string>
					<string>K</string>
					<string>L</string>
					<string>M</string>
					<string>N</string>
					<string>Ntilde</string>
					<string>O</string>
					<string>Ograve</string>
					<string>Oacute</string>
					<string>Ocircumflex</string>
					<string>Otilde</string>
					<string>Odieresis</string>
					<string>P</string>
					<string>Q</string>
					<string>R</string>
					<string>S</string>
					<string>T</string>
					<string>U</string>
					<string>Ugrave</string>
					<string>Uacute</string>
					<string>Ucircumflex</string>
					<string>Udieresis</string>
					<string>V</string>
					<string>W</string>
					<string>X</string>
					<string>Y</string>
					<string>Yacute</string>
					<string>Z</string>
					<string>AE</string>
					<string>Eth</string>
					<string>Oslash</string>
					<string>Thorn</string>
					<string>a</string>
					<string>agrave</string>
					<string>aacute</string>
					<string>acircumflex</string>
					<string>atilde</string>
					<string>adieresis</string>
					<string>aring</string>
					<string>b</string>
					<string>c</string>
					<string>ccedilla</string>
					<string>d</string>
					<string>e</string>
					<string>egrave</string>
					<string>eacute</string>
					<string>ecircumflex</string>
					<string>edieresis</string>
					<string>f</string>
					<string>g</string>
					<string>h</string>
					<string>i</string>
					<string>igrave</string>
					<string>iacute</string>
					<string>icircumflex</string>
					<string>idieresis</string>
					<string>j</string>
					<string>k</string>
					<string>l</string>
					<string>m</string>
					<string>n</string>
					<string>ntilde</string>
					<string>o</string>
					<string>ograve</string>
					<string>oacute</string>
					<string>ocircumflex</string>
					<string>otilde</string>
					<string>odieresis</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>s</string>
					<string>t</string>
					<string>u</string>
					<string>ugrave</string>
					<string>uacute</string>
					<string>ucircumflex</string>
					<string>udieresis</string>
					<string>v</string>
					<string>w</string>
					<string>x</string>
					<string>y</string>
					<string>yacute</string>
					<string>ydieresis</string>
					<string>z</string>
					<string>ordfeminine</string>
					<string>ordmasculine</string>
					<string>germandbls</string>
					<string>ae</string>
					<string>eth</string>
					<string>oslash</string>
					<string>thorn</string>
					<string>dotlessi</string>
					<string>mu</string>
					<string>circumflex</string>
					<string>caron</string>
					<string>zero</string>
					<string>one</string>
					<string>two</string>
					<string>three</string>
					<string>four</string>
					<string>five</string>
					<string>six</string>
					<string>seven</string>
					<string>eight</string>
					<string>nine</string>
					<string>twosuperior</string>
					<string>threesuperior</string>
					<string>onesuperior</string>
					<string>onequarter</string>
					<string>onehalf</string>
					<string>threequarters</string>
					<string>underscore</string>
					<string>hyphen</string>
					<string>parenleft</string>
					<string>bracketleft</string>
					<string>braceleft</string>
					<string>parenright</string>
					<string>bracketright</string>
					<string>braceright</string>
					<string>guillemetleft</string>
					<string>quoteleft</string>
					<string>guillemetright</string>
					<string>quoteright</string>
					<string>exclam</string>
					<string>quotedbl</string>
					<string>numbersign</string>
					<string>percent</string>
					<string>ampersand</string>
					<string>quotesingle</string>
					<string>asterisk</string>
					<string>comma</string>
					<string>period</string>
					<string>slash</string>
					<string>colon</string>
					<string>semicolon</string>
					<string>question</string>
					<string>at</string>
					<string>backslash</string>
					<string>exclamdown</string>
					<string>periodcentered</string>
					<string>questiondown</string>
					<string>plus</string>
					<string>less</string>
					<string>equal</string>
					<string>greater</string>
					<string>bar</string>
					<string>asciitilde</string>
					<string>logicalnot</string>
					<string>plusminus</string>
					<string>multiply</string>
					<string>divide</string>
					<string>minus</string>
					<string>dollar</string>
					<string>cent</string>
					<string>sterling</string>
					<string>currency</string>
					<string>yen</string>
					<string>asciicircum</string>
					<string>grave</string>
					<string>dieresis</string>
					<string>macron</string>
					<string>acute</string>
					<string>cedilla</string>
					<string>breve</string>
					<string>dotaccent</string>
					<string>ring</string>
					<string>ogonek</string>
					<string>tilde</string>
					<string>hungarumlaut</string>
					<string>brokenbar</string>
					<string>section</string>
					<string>copyright</string>
					<string>registered</string>
					<string>degree</string>
					<string>paragraph</string>
					<string>space</string>
					<string>H</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>public.glyphOrder</key>
		<array>
			<string>space</string>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Aringacute</string>
			<string>uni01FA</string>
			<string>Adotbelow</string>
			<string>B</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ccaron</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>E</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>Edotbelow</string>
			<string>Etilde</string>
			<string>F</string>
			<string>G</string>
			<string>Gcircumflex</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>Gcaron</string>
			<string>H</string>
			<string>Hcircumflex</string>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Itilde</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcommaaccent</string>
			<string>Lcaron</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>Ncommaaccent</string>
			<string>Ncaron</string>
			<string>O</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>Oogonek</string>
			<string>Odotbelow</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcommaaccent</string>
			<string>Rcaron</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scircumflex</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
			<string>T</string>
			<string>uni0162</string>
			<string>Tcaron</string>
			<string>uni021A</string>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Udotbelow</string>
			<string>V</string>
			<string>W</string>
			<string>Wcircumflex</string>
			<string>Wgrave</string>
			<string>Wacute</string>
			<string>Wdieresis</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ymacron</string>
			<string>Ygrave</string>
			<string>Ytilde</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>Eth</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>Thorn</string>
			<string>Dcroat</string>
			<string>Hbar</string>
			<string>IJ</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>Eng</string>
			<string>OE</string>
			<string>Tbar</string>
			<string>Schwa</string>
			<string>uni1E9E</string>
			<string>uni2126</string>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>aringacute</string>
			<string>uni01FB</string>
			<string>adotbelow</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>ccaron</string>
			<string>d</string>
			<string>dcaron</string>
			<string>e</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>edotbelow</string>
			<string>etilde</string>
			<string>f</string>
			<string>g</string>
			<string>gcircumflex</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
			<string>gcaron</string>
			<string>h</string>
			<string>hcircumflex</string>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>iogonek</string>
			<string>idotbelow</string>
			<string>j</string>
			<string>jcircumflex</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcommaaccent</string>
			<string>lcaron</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncommaaccent</string>
			<string>ncaron</string>
			<string>o</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>ohungarumlaut</string>
			<string>oogonek</string>
			<string>odotbelow</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>rcaron</string>
			<string>s</string>
			<string>sacute</string>
			<string>scircumflex</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>scommaaccent</string>
			<string>t</string>
			<string>uni0163</string>
			<string>tcaron</string>
			<string>uni021B</string>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>udotbelow</string>
			<string>v</string>
			<string>w</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ycircumflex</string>
			<string>ymacron</string>
			<string>ygrave</string>
			<string>ytilde</string>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>germandbls</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>eth</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>thorn</string>
			<string>dcroat</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>ij</string>
			<string>kgreenlandic</string>
			<string>ldot</string>
			<string>lslash</string>
			<string>napostrophe</string>
			<string>eng</string>
			<string>oe</string>
			<string>tbar</string>
			<string>schwa</string>
			<string>pi</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>circumflexcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>brevecomb</string>
			<string>dotaccentcomb</string>
			<string>dieresiscomb</string>
			<string>ringcomb</string>
			<string>hungarumlautcomb</string>
			<string>caroncomb</string>
			<string>commaturnedabovecomb</string>
			<string>commaaboverightcomb</string>
			<string>dotbelowcomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
			<string>underscore</string>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>numbersign</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>asterisk</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>slash</string>
			<string>backslash</string>
			<string>fraction</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>at</string>
			<string>ampersand</string>
			<string>section</string>
			<string>paragraph</string>
			<string>uni2113</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>plus</string>
			<string>minus</string>
			<string>plusminus</string>
			<string>divide</string>
			<string>multiply</string>
			<string>equal</string>
			<string>less</string>
			<string>greater</string>
			<string>lessequal</string>
			<string>greaterequal</string>
			<string>approxequal</string>
			<string>notequal</string>
			<string>logicalnot</string>
			<string>uni2190</string>
			<string>uni2191</string>
			<string>uni2192</string>
			<string>uni2193</string>
			<string>partialdiff</string>
			<string>uni2206</string>
			<string>product</string>
			<string>summation</string>
			<string>uni00B5</string>
			<string>uni2215</string>
			<string>radical</string>
			<string>infinity</string>
			<string>integral</string>
			<string>uni2261</string>
			<string>dollar</string>
			<string>cent</string>
			<string>sterling</string>
			<string>currency</string>
			<string>yen</string>
			<string>Euro</string>
			<string>florin</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>acute</string>
			<string>grave</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>tilde</string>
			<string>macron</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>ring</string>
			<string>cedilla</string>
			<string>ogonek</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>degree</string>
			<string>estimated</string>
			<string>lozenge</string>
			<string>uni00AD</string>
			<string>ijacute</string>
			<string>IJacute</string>
			<string>Nhookleft</string>
			<string>bitcoin</string>
			<string>dotlessij</string>
			<string>dotlessj</string>
			<string>fj</string>
			<string>flatg</string>
			<string>foursuperior</string>
			<string>nhookleft</string>
			<string>overline</string>
			<string>ringacute</string>
			<string>fi</string>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>circumflexcomb.case</string>
			<string>tildecomb.case</string>
			<string>macroncomb.case</string>
			<string>brevecomb.case</string>
			<string>dotaccentcomb.case</string>
			<string>dieresiscomb.case</string>
			<string>ringcomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>caroncomb.case</string>
			<string>commaturnedabovecomb.case</string>
			<string>commaaboverightcomb.case</string>
			<string>dotbelowcomb.case</string>
			<string>commaaccentcomb.case</string>
			<string>cedillacomb.case</string>
			<string>ogonekcomb.case</string>
			<string>ringacute.case</string>
			<string>braceleft.assymetrical</string>
			<string>braceright.assymetrical</string>
			<string>ampersand.nobar</string>
			<string>ampersand.crossbar</string>
			<string>ampersand.straightbar</string>
			<string>dollar.lower</string>
			<string>seven.alt3</string>
			<string>two.sharp</string>
			<string>five.topserif</string>
			<string>five.replaced_with_replaced_with_curvedown</string>
			<string>three.smooth</string>
			<string>ampersand.smooth</string>
			<string>a.straighter</string>
			<string>b.straighter</string>
			<string>c.straighter</string>
			<string>d.straighter</string>
			<string>e.straighter</string>
			<string>f.straighter</string>
			<string>g.straighter</string>
			<string>h.straighter</string>
			<string>i.straighter</string>
			<string>j.straighter</string>
			<string>k.straighter</string>
			<string>l.straighter</string>
			<string>m.straighter</string>
			<string>n.straighter</string>
			<string>o.straighter</string>
			<string>p.straighter</string>
			<string>q.straighter</string>
			<string>r.straighter</string>
			<string>s.straighter</string>
			<string>t.straighter</string>
			<string>u.straighter</string>
			<string>v.straighter</string>
			<string>w.straighter</string>
			<string>x.straighter</string>
			<string>y.straighter</string>
			<string>z.straighter</string>
			<string>e.italicer</string>
			<string>f.italicer</string>
			<string>g.italicer</string>
			<string>i.italicer</string>
			<string>j.italicer</string>
			<string>k.italicer</string>
			<string>l.italicer</string>
			<string>v.italicer</string>
			<string>w.italicer</string>
			<string>y.italicer</string>
			<string>z.italicer</string>
			<string>a.roman</string>
			<string>f.roman</string>
			<string>g.roman</string>
			<string>i.roman</string>
			<string>l.roman</string>
			<string>r.roman</string>
			<string>y.roman</string>
			<string>a.italic</string>
			<string>f.italic</string>
			<string>g.italic</string>
			<string>i.italic</string>
			<string>l.italic</string>
			<string>r.italic</string>
			<string>y.italic</string>
			<string>B.smallserif</string>
			<string>D.smallserif</string>
			<string>E.smallserif</string>
			<string>F.smallserif</string>
			<string>P.smallserif</string>
			<string>R.smallserif</string>
			<string>c.replaced_with_ss01</string>
			<string>f.replaced_with_ss01</string>
			<string>g.replaced_with_ss01</string>
			<string>i.replaced_with_ss01</string>
			<string>l.replaced_with_ss01</string>
			<string>r.replaced_with_ss01</string>
			<string>Y.ss02</string>
			<string>i.ss02</string>
			<string>l.ss02</string>
			<string>r.ss02</string>
			<string>C.rounder</string>
			<string>G.rounder</string>
			<string>S.rounder</string>
			<string>c.rounder</string>
			<string>c.ss01</string>
			<string>g.ss01</string>
			<string>y.ss01</string>
			<string>g.kinks</string>
			<string>j.kinks</string>
			<string>m.kinks</string>
			<string>a.smoothtraps</string>
			<string>r.smoothtraps</string>
			<string>v.smoothtraps</string>
			<string>k.replaced_with_smoother</string>
			<string>x.replaced_with_smoother</string>
			<string>y.replaced_with_smoother</string>
			<string>l.wide</string>
			<string>z.wide</string>
			<string>m.roundcounter</string>
			<string>n.roundcounter</string>
			<string>l.nokinks</string>
			<string>g.ss01alt</string>
			<string>g.replaced_with_bigear</string>
			<string>g.replaced_with_rounder</string>
			<string>w.replaced_with_alt-flattop</string>
			<string>B.replaced_with_nokinks</string>
			<string>C.replaced_with_nokinks</string>
			<string>D.replaced_with_nokinks</string>
			<string>G.replaced_with_nokinks</string>
			<string>J.replaced_with_nokinks</string>
			<string>O.replaced_with_nokinks</string>
			<string>P.replaced_with_nokinks</string>
			<string>R.replaced_with_nokinks</string>
			<string>S.replaced_with_nokinks</string>
			<string>U.replaced_with_nokinks</string>
			<string>a.replaced_with_nokinks</string>
			<string>b.replaced_with_nokinks</string>
			<string>c.replaced_with_nokinks</string>
			<string>d.replaced_with_nokinks</string>
			<string>e.replaced_with_nokinks</string>
			<string>f.replaced_with_nokinks</string>
			<string>g.replaced_with_nokinks</string>
			<string>h.replaced_with_nokinks</string>
			<string>j.replaced_with_nokinks</string>
			<string>m.replaced_with_nokinks</string>
			<string>n.replaced_with_nokinks</string>
			<string>o.replaced_with_nokinks</string>
			<string>p.replaced_with_nokinks</string>
			<string>q.replaced_with_nokinks</string>
			<string>t.replaced_with_nokinks</string>
			<string>u.replaced_with_nokinks</string>
			<string>zero.replaced_with_nokinks</string>
			<string>two.replaced_with_nokinks</string>
			<string>three.replaced_with_nokinks</string>
			<string>five.replaced_with_nokinks</string>
			<string>six.replaced_with_nokinks</string>
			<string>eight.replaced_with_nokinks</string>
			<string>nine.replaced_with_nokinks</string>
		</array>
	</dict>
</plist>
