<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B</key>
		<string>B_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>equal_slash_equal.code</key>
		<string>equal_slash_equal.code.glif</string>
		<key>equivalence</key>
		<string>equivalence.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>parenleft.case</key>
		<string>parenleft.case.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>x.italic2</key>
		<string>x.italic2.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
