<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<real>768.0</real>
	<key>capHeight</key>
	<real>704.0</real>
	<key>descender</key>
	<real>-256.0</real>
	<key>familyName</key>
	<string>Recursive Mono 16 unit</string>
	<key>guidelines</key>
	<array/>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>576</integer>
		<integer>596</integer>
		<integer>704</integer>
		<integer>724</integer>
		<integer>768</integer>
		<integer>788</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>600</integer>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptIsFixedPitch</key>
	<true/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array/>
	<key>styleName</key>
	<string>Text Bold</string>
	<key>unitsPerEm</key>
	<real>1024.0</real>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<real>576.0</real>
</dict>
</plist>
