<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b.higherjoints</key>
	<string>b.higherjoints.glif</string>
	<key>m.morecasual</key>
	<string>m.morecasual.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n.curvy</key>
	<string>n.curvy.glif</string>
	<key>n.higherjoints</key>
	<string>n.higherjoints.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>u.morecasual</key>
	<string>u.morecasual.glif</string>
</dict>
</plist>
