<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Recursive Sans</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ARRW</string>
    <key>openTypeOS2WeightClass</key>
    <integer>696</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>537.8867924528302</real>
      <real>551.1886792452831</real>
      <real>699.1509433962265</real>
      <integer>720</integer>
      <integer>750</integer>
      <real>768.4905660377359</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-216.03773584905662</real>
      <real>-191.1320754716981</real>
      <real>360.3207547169811</real>
      <real>368.86792452830184</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Casual Bold Italic</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>5</integer>
    <key>xHeight</key>
    <real>537.8867924528302</real>
  </dict>
</plist>
