<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>a.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>testchar</key>
	<string>testchar.glif</string>
</dict>
</plist>
