<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>45degrees</string>
      <string>glyphs.45degrees</string>
    </array>
    <array>
      <string>overlap</string>
      <string>glyphs.overlap</string>
    </array>
    <array>
      <string>old-inktrap</string>
      <string>glyphs.old-inktrap</string>
    </array>
  </array>
</plist>
