<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>U</key>
	<string>U_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
</dict>
</plist>
