<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>c</key>
		<string>c.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
	</dict>
</plist>
