<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>a.italic</key>
    <string>a.italic.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>i.italic</key>
    <string>i.italic.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>x.italic</key>
    <string>x.italic.glif</string>
  </dict>
</plist>
