<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766766.7 A_E_.glif
1597766766.7 O_E_.glif
1597766766.7 O_slash.glif
1597766766.7 a.italic.glif
1597766766.7 at.glif
1597766766.7 c.glif
1597766766.7 daggerdbl.glif
1597766766.7 e.glif
1597766766.7 f.glif
1597766766.7 g.glif
1597766766.7 germandbls.glif
1597766766.7 i.italic.glif
1597766766.7 integral.glif
1597766766.7 multiply.glif
1597766766.7 numbersign.glif
1597766766.7 o.glif
1597766766.7 section.glif
1597766766.7 t.glif
1597766766.7 x.italic.glif</string>
    </dict>
  </dict>
</plist>
