<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>space</string>
					<string>A</string>
					<string>Agrave</string>
					<string>Aacute</string>
					<string>Acircumflex</string>
					<string>Atilde</string>
					<string>Adieresis</string>
					<string>Aring</string>
					<string>Amacron</string>
					<string>Abreve</string>
					<string>Aogonek</string>
					<string>Aringacute</string>
					<string>Adotbelow</string>
					<string>B</string>
					<string>C</string>
					<string>Ccedilla</string>
					<string>Cacute</string>
					<string>Ccircumflex</string>
					<string>Cdotaccent</string>
					<string>Ccaron</string>
					<string>D</string>
					<string>Dcaron</string>
					<string>E</string>
					<string>Egrave</string>
					<string>Eacute</string>
					<string>Ecircumflex</string>
					<string>Edieresis</string>
					<string>Emacron</string>
					<string>Ebreve</string>
					<string>Edotaccent</string>
					<string>Eogonek</string>
					<string>Ecaron</string>
					<string>Edotbelow</string>
					<string>Etilde</string>
					<string>F</string>
					<string>G</string>
					<string>Gcircumflex</string>
					<string>Gbreve</string>
					<string>Gdotaccent</string>
					<string>Gcaron</string>
					<string>H</string>
					<string>Hcircumflex</string>
					<string>I</string>
					<string>Igrave</string>
					<string>Iacute</string>
					<string>Icircumflex</string>
					<string>Idieresis</string>
					<string>Itilde</string>
					<string>Imacron</string>
					<string>Ibreve</string>
					<string>Iogonek</string>
					<string>Idotaccent</string>
					<string>Idotbelow</string>
					<string>J</string>
					<string>Jcircumflex</string>
					<string>K</string>
					<string>L</string>
					<string>Lacute</string>
					<string>Lcaron</string>
					<string>M</string>
					<string>N</string>
					<string>Ntilde</string>
					<string>Nacute</string>
					<string>Ncaron</string>
					<string>O</string>
					<string>Ograve</string>
					<string>Oacute</string>
					<string>Ocircumflex</string>
					<string>Otilde</string>
					<string>Odieresis</string>
					<string>Omacron</string>
					<string>Obreve</string>
					<string>Ohungarumlaut</string>
					<string>Oogonek</string>
					<string>Odotbelow</string>
					<string>P</string>
					<string>Q</string>
					<string>R</string>
					<string>Racute</string>
					<string>Rcaron</string>
					<string>S</string>
					<string>Sacute</string>
					<string>Scircumflex</string>
					<string>Scedilla</string>
					<string>Scaron</string>
					<string>Scommaaccent</string>
					<string>T</string>
					<string>Tcedilla</string>
					<string>Tcaron</string>
					<string>Tcommaaccent</string>
					<string>U</string>
					<string>Ugrave</string>
					<string>Uacute</string>
					<string>Ucircumflex</string>
					<string>Udieresis</string>
					<string>Utilde</string>
					<string>Umacron</string>
					<string>Ubreve</string>
					<string>Uring</string>
					<string>Uhungarumlaut</string>
					<string>Uogonek</string>
					<string>Udotbelow</string>
					<string>V</string>
					<string>W</string>
					<string>Wcircumflex</string>
					<string>Wgrave</string>
					<string>Wacute</string>
					<string>Wdieresis</string>
					<string>X</string>
					<string>Y</string>
					<string>Yacute</string>
					<string>Ycircumflex</string>
					<string>Ydieresis</string>
					<string>Ymacron</string>
					<string>Ygrave</string>
					<string>Ytilde</string>
					<string>Z</string>
					<string>Zacute</string>
					<string>Zdotaccent</string>
					<string>Zcaron</string>
					<string>AEacute</string>
					<string>Oslashacute</string>
					<string>a</string>
					<string>agrave</string>
					<string>aacute</string>
					<string>acircumflex</string>
					<string>atilde</string>
					<string>adieresis</string>
					<string>aring</string>
					<string>amacron</string>
					<string>abreve</string>
					<string>aogonek</string>
					<string>aringacute</string>
					<string>adotbelow</string>
					<string>b</string>
					<string>c</string>
					<string>ccedilla</string>
					<string>cacute</string>
					<string>ccircumflex</string>
					<string>cdotaccent</string>
					<string>ccaron</string>
					<string>d</string>
					<string>e</string>
					<string>egrave</string>
					<string>eacute</string>
					<string>ecircumflex</string>
					<string>edieresis</string>
					<string>emacron</string>
					<string>ebreve</string>
					<string>edotaccent</string>
					<string>ecaron</string>
					<string>edotbelow</string>
					<string>etilde</string>
					<string>f</string>
					<string>g</string>
					<string>gcircumflex</string>
					<string>gbreve</string>
					<string>gdotaccent</string>
					<string>gcaron</string>
					<string>h</string>
					<string>hcircumflex</string>
					<string>i</string>
					<string>igrave</string>
					<string>iacute</string>
					<string>icircumflex</string>
					<string>idieresis</string>
					<string>itilde</string>
					<string>imacron</string>
					<string>ibreve</string>
					<string>iogonek</string>
					<string>idotbelow</string>
					<string>j</string>
					<string>jcircumflex</string>
					<string>k</string>
					<string>l</string>
					<string>lacute</string>
					<string>m</string>
					<string>n</string>
					<string>ntilde</string>
					<string>nacute</string>
					<string>ncaron</string>
					<string>o</string>
					<string>ograve</string>
					<string>oacute</string>
					<string>ocircumflex</string>
					<string>otilde</string>
					<string>odieresis</string>
					<string>omacron</string>
					<string>obreve</string>
					<string>ohungarumlaut</string>
					<string>oogonek</string>
					<string>odotbelow</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>racute</string>
					<string>rcaron</string>
					<string>s</string>
					<string>sacute</string>
					<string>scircumflex</string>
					<string>scedilla</string>
					<string>scaron</string>
					<string>scommaaccent</string>
					<string>t</string>
					<string>tcedilla</string>
					<string>tcaron</string>
					<string>tcommaaccent</string>
					<string>u</string>
					<string>ugrave</string>
					<string>uacute</string>
					<string>ucircumflex</string>
					<string>udieresis</string>
					<string>utilde</string>
					<string>umacron</string>
					<string>ubreve</string>
					<string>uring</string>
					<string>uhungarumlaut</string>
					<string>uogonek</string>
					<string>udotbelow</string>
					<string>v</string>
					<string>w</string>
					<string>wcircumflex</string>
					<string>wgrave</string>
					<string>wacute</string>
					<string>wdieresis</string>
					<string>x</string>
					<string>y</string>
					<string>yacute</string>
					<string>ydieresis</string>
					<string>ycircumflex</string>
					<string>ymacron</string>
					<string>ygrave</string>
					<string>ytilde</string>
					<string>z</string>
					<string>zacute</string>
					<string>zdotaccent</string>
					<string>zcaron</string>
					<string>napostrophe</string>
					<string>aeacute</string>
					<string>oslashacute</string>
					<string>zero</string>
					<string>one</string>
					<string>two</string>
					<string>three</string>
					<string>four</string>
					<string>five</string>
					<string>six</string>
					<string>seven</string>
					<string>eight</string>
					<string>nine</string>
					<string>onesuperior</string>
					<string>twosuperior</string>
					<string>threesuperior</string>
					<string>onequarter</string>
					<string>onehalf</string>
					<string>threequarters</string>
					<string>zerosuperior</string>
					<string>foursuperior</string>
					<string>fivesuperior</string>
					<string>sixsuperior</string>
					<string>sevensuperior</string>
					<string>eightsuperior</string>
					<string>ninesuperior</string>
					<string>zeroinferior</string>
					<string>oneinferior</string>
					<string>twoinferior</string>
					<string>threeinferior</string>
					<string>fourinferior</string>
					<string>fiveinferior</string>
					<string>sixinferior</string>
					<string>seveninferior</string>
					<string>eightinferior</string>
					<string>nineinferior</string>
					<string>onethird</string>
					<string>twothirds</string>
					<string>oneeighth</string>
					<string>threeeighths</string>
					<string>fiveeighths</string>
					<string>seveneighths</string>
					<string>at</string>
					<string>fraction</string>
					<string>dollar</string>
					<string>cent</string>
					<string>sterling</string>
					<string>currency</string>
					<string>yen</string>
					<string>colonmonetary</string>
					<string>naira</string>
					<string>won</string>
					<string>dong</string>
					<string>Euro</string>
					<string>kip</string>
					<string>peso</string>
					<string>guarani</string>
					<string>hryvnia</string>
					<string>cedi</string>
					<string>tenge</string>
					<string>manat</string>
					<string>ruble</string>
					<string>bitcoin</string>
					<string>.arrowhead</string>
					<string>AE</string>
					<string>Dcroat</string>
					<string>Eng</string>
					<string>Eth</string>
					<string>Gcommaaccent</string>
					<string>Germandbls</string>
					<string>Hbar</string>
					<string>IJ</string>
					<string>IJacute</string>
					<string>Kcommaaccent</string>
					<string>Lcommaaccent</string>
					<string>Lslash</string>
					<string>Ncommaaccent</string>
					<string>Nhookleft</string>
					<string>OE</string>
					<string>Oslash</string>
					<string>Rcommaaccent</string>
					<string>Schwa</string>
					<string>Tbar</string>
					<string>Thorn</string>
					<string>acute</string>
					<string>acutecomb</string>
					<string>ae</string>
					<string>ampersand</string>
					<string>approxequal</string>
					<string>arrowdown</string>
					<string>arrowleft</string>
					<string>arrowright</string>
					<string>arrowup</string>
					<string>asciicircum</string>
					<string>asciitilde</string>
					<string>asterisk</string>
					<string>bar</string>
					<string>braceleft</string>
					<string>braceright</string>
					<string>bracketleft</string>
					<string>bracketright</string>
					<string>breve</string>
					<string>brevecomb</string>
					<string>bullet</string>
					<string>caron</string>
					<string>caroncomb</string>
					<string>cedilla</string>
					<string>cedillacomb</string>
					<string>circumflex</string>
					<string>circumflexcomb</string>
					<string>colon</string>
					<string>comma</string>
					<string>commaaboverightcomb</string>
					<string>commaaccentcomb</string>
					<string>commaturnedabovecomb</string>
					<string>copyright</string>
					<string>degree</string>
					<string>dieresis</string>
					<string>dieresiscomb</string>
					<string>divide</string>
					<string>dotaccent</string>
					<string>dotaccentcomb</string>
					<string>dotbelowcomb</string>
					<string>dotlessi</string>
					<string>dotlessj</string>
					<string>ellipsis</string>
					<string>endash</string>
					<string>equal</string>
					<string>equivalence</string>
					<string>estimated</string>
					<string>florin</string>
					<string>gcommaaccent</string>
					<string>germandbls</string>
					<string>grave</string>
					<string>gravecomb</string>
					<string>greater</string>
					<string>greaterequal</string>
					<string>guillemotleft</string>
					<string>guillemotright</string>
					<string>guilsinglleft</string>
					<string>guilsinglright</string>
					<string>hungarumlaut</string>
					<string>hungarumlautcomb</string>
					<string>hyphen</string>
					<string>increment</string>
					<string>infinity</string>
					<string>integral</string>
					<string>kcommaaccent</string>
					<string>lcommaaccent</string>
					<string>less</string>
					<string>lessequal</string>
					<string>liraTurkish</string>
					<string>litre</string>
					<string>logicalnot</string>
					<string>lozenge</string>
					<string>lslash</string>
					<string>macron</string>
					<string>macroncomb</string>
					<string>minus</string>
					<string>multiply</string>
					<string>ncommaaccent</string>
					<string>newsheqel</string>
					<string>notequal</string>
					<string>ogonek</string>
					<string>ogonekcomb</string>
					<string>ohm</string>
					<string>ordfeminine</string>
					<string>ordmasculine</string>
					<string>oslash</string>
					<string>overline</string>
					<string>paragraph</string>
					<string>parenleft</string>
					<string>parenright</string>
					<string>percent</string>
					<string>period</string>
					<string>periodcentered</string>
					<string>pi</string>
					<string>plus</string>
					<string>plusminus</string>
					<string>product</string>
					<string>question</string>
					<string>questiondown</string>
					<string>quotedbl</string>
					<string>quotedblleft</string>
					<string>quotedblright</string>
					<string>quoteleft</string>
					<string>quoteright</string>
					<string>quotesingle</string>
					<string>radical</string>
					<string>rcommaaccent</string>
					<string>registered</string>
					<string>ring</string>
					<string>ringacute</string>
					<string>ringcomb</string>
					<string>rupee</string>
					<string>rupeeIndian</string>
					<string>section</string>
					<string>semicolon</string>
					<string>slash</string>
					<string>summation</string>
					<string>thai:baht</string>
					<string>tilde</string>
					<string>tildecomb</string>
					<string>trademark</string>
					<string>underscore</string>
					<string>acutecomb.case</string>
					<string>brevecomb.case</string>
					<string>caroncomb.case</string>
					<string>cedillacomb.case</string>
					<string>circumflexcomb.case</string>
					<string>commaaboverightcomb.case</string>
					<string>commaaccentcomb.case</string>
					<string>commaturnedabovecomb.case</string>
					<string>dieresiscomb.case</string>
					<string>dotaccentcomb.case</string>
					<string>dotbelowcomb.case</string>
					<string>gravecomb.case</string>
					<string>hungarumlautcomb.case</string>
					<string>macroncomb.case</string>
					<string>ogonekcomb.case</string>
					<string>ringacute.case</string>
					<string>ringcomb.case</string>
					<string>tildecomb.case</string>
					<string>a.italic</string>
					<string>c.italic</string>
					<string>d.italic</string>
					<string>e.italic</string>
					<string>f.italic</string>
					<string>g.italic</string>
					<string>h.italic</string>
					<string>i.italic</string>
					<string>j.italic</string>
					<string>k.italic</string>
					<string>m.italic</string>
					<string>n.italic</string>
					<string>r.italic</string>
					<string>s.italic</string>
					<string>u.italic</string>
					<string>v.italic</string>
					<string>w.italic</string>
					<string>x.italic</string>
					<string>y.italic</string>
					<string>z.italic</string>
					<string>dotlessi.italic</string>
					<string>dotlessj.italic</string>
					<string>f.mono</string>
					<string>g.mono</string>
					<string>i.mono</string>
					<string>l.mono</string>
					<string>lacute.mono</string>
					<string>r.mono</string>
					<string>dotlessi.mono</string>
					<string>lcommaaccent.mono</string>
					<string>g.longtail</string>
					<string>l.sans</string>
					<string>lacute.sans</string>
					<string>zero.sans</string>
					<string>one.sans</string>
					<string>lcommaaccent.sans</string>
					<string>.notdef</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.guideline.magnetic.8TGmB17Qd6</key>
		<integer>5</integer>
		<key>com.typemytype.robofont.guideline.magnetic.SBd6kAKVOO</key>
		<integer>5</integer>
		<key>com.typemytype.robofont.guideline.magnetic.uIWtYt5pZs</key>
		<integer>5</integer>
		<key>com.typemytype.robofont.guideline.showMeasurements.8TGmB17Qd6</key>
		<false/>
		<key>com.typemytype.robofont.guideline.showMeasurements.SBd6kAKVOO</key>
		<false/>
		<key>com.typemytype.robofont.guideline.showMeasurements.uIWtYt5pZs</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>-69</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>public.glyphOrder</key>
		<array>
			<string>space</string>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Aringacute</string>
			<string>Adotbelow</string>
			<string>B</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ccaron</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>E</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>Edotbelow</string>
			<string>Etilde</string>
			<string>F</string>
			<string>G</string>
			<string>Gcircumflex</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcaron</string>
			<string>H</string>
			<string>Hcircumflex</string>
			<string>I</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Itilde</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>O</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>Oogonek</string>
			<string>Odotbelow</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scircumflex</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Udotbelow</string>
			<string>V</string>
			<string>W</string>
			<string>Wcircumflex</string>
			<string>Wgrave</string>
			<string>Wacute</string>
			<string>Wdieresis</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ymacron</string>
			<string>Ygrave</string>
			<string>Ytilde</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>AEacute</string>
			<string>Oslashacute</string>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>aringacute</string>
			<string>adotbelow</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>ccaron</string>
			<string>d</string>
			<string>e</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>ecaron</string>
			<string>edotbelow</string>
			<string>etilde</string>
			<string>f</string>
			<string>g</string>
			<string>gcircumflex</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcaron</string>
			<string>h</string>
			<string>hcircumflex</string>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>iogonek</string>
			<string>idotbelow</string>
			<string>j</string>
			<string>jcircumflex</string>
			<string>k</string>
			<string>l</string>
			<string>lacute</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>o</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>ohungarumlaut</string>
			<string>oogonek</string>
			<string>odotbelow</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>s</string>
			<string>sacute</string>
			<string>scircumflex</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>scommaaccent</string>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>udotbelow</string>
			<string>v</string>
			<string>w</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ycircumflex</string>
			<string>ymacron</string>
			<string>ygrave</string>
			<string>ytilde</string>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>napostrophe</string>
			<string>aeacute</string>
			<string>oslashacute</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
			<string>zerosuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>onethird</string>
			<string>twothirds</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
			<string>at</string>
			<string>fraction</string>
			<string>dollar</string>
			<string>cent</string>
			<string>sterling</string>
			<string>currency</string>
			<string>yen</string>
			<string>colonmonetary</string>
			<string>naira</string>
			<string>won</string>
			<string>dong</string>
			<string>Euro</string>
			<string>kip</string>
			<string>peso</string>
			<string>guarani</string>
			<string>hryvnia</string>
			<string>cedi</string>
			<string>tenge</string>
			<string>manat</string>
			<string>ruble</string>
			<string>bitcoin</string>
			<string>.arrowhead</string>
			<string>AE</string>
			<string>Dcroat</string>
			<string>Eng</string>
			<string>Eth</string>
			<string>Gcommaaccent</string>
			<string>Germandbls</string>
			<string>Hbar</string>
			<string>IJ</string>
			<string>IJacute</string>
			<string>Kcommaaccent</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>Ncommaaccent</string>
			<string>Nhookleft</string>
			<string>OE</string>
			<string>Oslash</string>
			<string>Rcommaaccent</string>
			<string>Schwa</string>
			<string>Tbar</string>
			<string>Thorn</string>
			<string>acute</string>
			<string>acutecomb</string>
			<string>ae</string>
			<string>ampersand</string>
			<string>approxequal</string>
			<string>arrowdown</string>
			<string>arrowleft</string>
			<string>arrowright</string>
			<string>arrowup</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>asterisk</string>
			<string>bar</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>breve</string>
			<string>brevecomb</string>
			<string>bullet</string>
			<string>caron</string>
			<string>caroncomb</string>
			<string>cedilla</string>
			<string>cedillacomb</string>
			<string>circumflex</string>
			<string>circumflexcomb</string>
			<string>colon</string>
			<string>comma</string>
			<string>commaaboverightcomb</string>
			<string>commaaccentcomb</string>
			<string>commaturnedabovecomb</string>
			<string>copyright</string>
			<string>degree</string>
			<string>dieresis</string>
			<string>dieresiscomb</string>
			<string>divide</string>
			<string>dotaccent</string>
			<string>dotaccentcomb</string>
			<string>dotbelowcomb</string>
			<string>dotlessi</string>
			<string>dotlessj</string>
			<string>ellipsis</string>
			<string>endash</string>
			<string>equal</string>
			<string>equivalence</string>
			<string>estimated</string>
			<string>florin</string>
			<string>gcommaaccent</string>
			<string>germandbls</string>
			<string>grave</string>
			<string>gravecomb</string>
			<string>greater</string>
			<string>greaterequal</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>hungarumlaut</string>
			<string>hungarumlautcomb</string>
			<string>hyphen</string>
			<string>increment</string>
			<string>infinity</string>
			<string>integral</string>
			<string>kcommaaccent</string>
			<string>lcommaaccent</string>
			<string>less</string>
			<string>lessequal</string>
			<string>liraTurkish</string>
			<string>litre</string>
			<string>logicalnot</string>
			<string>lozenge</string>
			<string>lslash</string>
			<string>macron</string>
			<string>macroncomb</string>
			<string>minus</string>
			<string>multiply</string>
			<string>ncommaaccent</string>
			<string>newsheqel</string>
			<string>notequal</string>
			<string>ogonek</string>
			<string>ogonekcomb</string>
			<string>ohm</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>oslash</string>
			<string>overline</string>
			<string>paragraph</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>percent</string>
			<string>period</string>
			<string>periodcentered</string>
			<string>pi</string>
			<string>plus</string>
			<string>plusminus</string>
			<string>product</string>
			<string>question</string>
			<string>questiondown</string>
			<string>quotedbl</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesingle</string>
			<string>radical</string>
			<string>rcommaaccent</string>
			<string>registered</string>
			<string>ring</string>
			<string>ringacute</string>
			<string>ringcomb</string>
			<string>rupee</string>
			<string>rupeeIndian</string>
			<string>section</string>
			<string>semicolon</string>
			<string>slash</string>
			<string>summation</string>
			<string>thai:baht</string>
			<string>tilde</string>
			<string>tildecomb</string>
			<string>trademark</string>
			<string>underscore</string>
			<string>acutecomb.case</string>
			<string>brevecomb.case</string>
			<string>caroncomb.case</string>
			<string>cedillacomb.case</string>
			<string>circumflexcomb.case</string>
			<string>commaaboverightcomb.case</string>
			<string>commaaccentcomb.case</string>
			<string>commaturnedabovecomb.case</string>
			<string>dieresiscomb.case</string>
			<string>dotaccentcomb.case</string>
			<string>dotbelowcomb.case</string>
			<string>gravecomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>macroncomb.case</string>
			<string>ogonekcomb.case</string>
			<string>ringacute.case</string>
			<string>ringcomb.case</string>
			<string>tildecomb.case</string>
			<string>a.italic</string>
			<string>c.italic</string>
			<string>d.italic</string>
			<string>e.italic</string>
			<string>f.italic</string>
			<string>g.italic</string>
			<string>h.italic</string>
			<string>i.italic</string>
			<string>j.italic</string>
			<string>k.italic</string>
			<string>m.italic</string>
			<string>n.italic</string>
			<string>r.italic</string>
			<string>s.italic</string>
			<string>u.italic</string>
			<string>v.italic</string>
			<string>w.italic</string>
			<string>x.italic</string>
			<string>y.italic</string>
			<string>z.italic</string>
			<string>dotlessi.italic</string>
			<string>dotlessj.italic</string>
			<string>f.mono</string>
			<string>g.mono</string>
			<string>i.mono</string>
			<string>l.mono</string>
			<string>lacute.mono</string>
			<string>r.mono</string>
			<string>dotlessi.mono</string>
			<string>lcommaaccent.mono</string>
			<string>g.longtail</string>
			<string>l.sans</string>
			<string>lacute.sans</string>
			<string>zero.sans</string>
			<string>one.sans</string>
			<string>lcommaaccent.sans</string>
			<string>.notdef</string>
			<string>oe</string>
			<string>emdash</string>
			<string>numbersign</string>
			<string>perthousand</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>backslash</string>
			<string>brokenbar</string>
			<string>partialdiff</string>
			<string>divisionslash</string>
			<string>slashcomb</string>
			<string>parenleft.case</string>
			<string>parenright.case</string>
			<string>bracketleft.case</string>
			<string>bracketright.case</string>
			<string>braceleft.case</string>
			<string>braceright.case</string>
			<string>guilsinglleft.case</string>
			<string>guilsinglright.case</string>
			<string>guillemotleft.case</string>
			<string>guillemotright.case</string>
			<string>slash.case</string>
			<string>backslash.case</string>
			<string>exclamdown.case</string>
			<string>questiondown.case</string>
			<string>periodcentered.case</string>
			<string>bullet.case</string>
			<string>lslash.mono</string>
			<string>mu.math</string>
			<string>lslash.sans</string>
			<string>lcaron</string>
			<string>Ldot</string>
			<string>Q.titl</string>
			<string>b.italic</string>
			<string>apostrophemod</string>
			<string>dcaron</string>
			<string>eth</string>
			<string>dcroat</string>
			<string>eng</string>
			<string>at.cap</string>
			<string>braceleft.cap</string>
			<string>braceright.cap</string>
			<string>eogonek</string>
			<string>hbar</string>
			<string>hyphensoft</string>
			<string>ij</string>
			<string>ijacute</string>
			<string>dotlessij</string>
			<string>kgreenlandic</string>
			<string>l.italic</string>
			<string>ldot</string>
			<string>nbspace</string>
			<string>nhookleft</string>
			<string>schwa</string>
			<string>tbar</string>
			<string>thorn</string>
		</array>
	</dict>
</plist>
