<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.stemtaper</key>
	<string>A_.stemtaper.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.smoothtraps</key>
	<string>a.smoothtraps.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.copy_1</key>
	<string>asterisk.copy_1.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.simpler</key>
	<string>at.simpler.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.copy_1</key>
	<string>braceleft.copy_1.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.smoother</key>
	<string>c.smoother.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon.copy_1</key>
	<string>colon.copy_1.glif</string>
	<key>comma.copy_1</key>
	<string>comma.copy_1.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.smoother</key>
	<string>e.smoother.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>f.reversewedge2</key>
	<string>f.reversewedge2.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.smoother</key>
	<string>g.smoother.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.smoother</key>
	<string>i.smoother.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k.smoother</key>
	<string>k.smoother.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.smoother</key>
	<string>l.smoother.glif</string>
	<key>less.arrow</key>
	<string>less.arrow.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.morecasual</key>
	<string>n.morecasual.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.copy_1</key>
	<string>parenleft.copy_1.glif</string>
	<key>percent.copy_1</key>
	<string>percent.copy_1.glif</string>
	<key>period.copy_1</key>
	<string>period.copy_1.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.copy_1</key>
	<string>slash.copy_1.glif</string>
	<key>slash.fraction</key>
	<string>slash.fraction.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uni030A.case</key>
	<string>uni030A_.case.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.smoother</key>
	<string>y.smoother.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
