<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Recursive Sans</string>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ARRW</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>537.4545454545455</real>
      <real>549.0909090909091</real>
      <integer>700</integer>
      <integer>720</integer>
      <integer>750</integer>
      <real>768.1818181818181</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-200</integer>
      <integer>-189</integer>
      <real>359.72727272727275</real>
      <real>368.1818181818182</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Linear Bold</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>5</integer>
    <key>xHeight</key>
    <real>537.4545454545455</real>
  </dict>
</plist>
