<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.lower</key>
	<string>dollar.lower.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.italic</key>
	<string>i.italic.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.italic</key>
	<string>l.italic.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.italic</key>
	<string>r.italic.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uni2022</key>
	<string>uni2022.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
