<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
