<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>b.higherjoints</key>
	<string>b.higherjoints.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>w</key>
	<string>w.glif</string>
</dict>
</plist>
