<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>b.higherjoints</key>
	<string>b.higherjoints.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>i.italic</key>
	<string>i.italic.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>r.higherjoints</key>
	<string>r.higherjoints.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni0306.case</key>
	<string>uni0306.case.glif</string>
	<key>uni0306.case.copy_1</key>
	<string>uni0306.case.copy_1.glif</string>
	<key>uni0306.case.copy_2</key>
	<string>uni0306.case.copy_2.glif</string>
	<key>uni0306.copy_1</key>
	<string>uni0306.copy_1.glif</string>
	<key>uni0306.copy_2</key>
	<string>uni0306.copy_2.glif</string>
	<key>uni0327</key>
	<string>uni0327.glif</string>
	<key>uni0327.case</key>
	<string>uni0327.case.glif</string>
	<key>uni0327.copy_1</key>
	<string>uni0327.copy_1.glif</string>
	<key>uni0327.copy_2</key>
	<string>uni0327.copy_2.glif</string>
	<key>uni2190</key>
	<string>uni2190.glif</string>
	<key>uni2191</key>
	<string>uni2191.glif</string>
	<key>w</key>
	<string>w.glif</string>
</dict>
</plist>
