<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-5</integer>
		<key>public.kern2.v</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-65</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-90</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-80</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-90</integer>
		<key>public.kern2.V</key>
		<integer>-35</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
