<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>.contrast-circle</key>
		<string>_contrast-circle.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>C.morph</key>
		<string>C_.morph.glif</string>
		<key>C.overlap</key>
		<string>C_.overlap.glif</string>
		<key>C.overlap2</key>
		<string>C_.overlap2.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>G.morph</key>
		<string>G_.morph.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.noserif</key>
		<string>L_.noserif.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>M.topserif</key>
		<string>M_.topserif.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>S.morph</key>
		<string>S_.morph.glif</string>
		<key>S.overlap2</key>
		<string>S_.overlap2.glif</string>
		<key>S.simpleserif</key>
		<string>S_.simpleserif.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Z.topserif</key>
		<string>Z_.topserif.glif</string>
		<key>Z.upward-traps</key>
		<string>Z_.upward-traps.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.curvy</key>
		<string>a.curvy.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>a.italic_curl</key>
		<string>a.italic_curl.glif</string>
		<key>a.replaced_with_med_curvy</key>
		<string>a.replaced_with_med_curvy.glif</string>
		<key>a.roman</key>
		<string>a.roman.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>arrowright</key>
		<string>arrowright.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>b.replaced_with_med_curvy</key>
		<string>b.replaced_with_med_curvy.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>c.replaced_with_med_curvy</key>
		<string>c.replaced_with_med_curvy.glif</string>
		<key>c.sharp</key>
		<string>c.sharp.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>d.replaced_with_med_curvy</key>
		<string>d.replaced_with_med_curvy.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.italic</key>
		<string>e.italic.glif</string>
		<key>e.replaced_with_med_curvy</key>
		<string>e.replaced_with_med_curvy.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eightinferior</key>
		<string>eightinferior.glif</string>
		<key>eightsuperior</key>
		<string>eightsuperior.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>f.italish</key>
		<string>f.italish.glif</string>
		<key>f.kinked</key>
		<string>f.kinked.glif</string>
		<key>f.replaced_with_med_curvy</key>
		<string>f.replaced_with_med_curvy.glif</string>
		<key>f.replaced_with_reverse</key>
		<string>f.replaced_with_reverse.glif</string>
		<key>f.roman</key>
		<string>f.roman.glif</string>
		<key>f.sharp</key>
		<string>f.sharp.glif</string>
		<key>f.simple_italic</key>
		<string>f.simple_italic.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>fiveeighths</key>
		<string>fiveeighths.glif</string>
		<key>fiveinferior</key>
		<string>fiveinferior.glif</string>
		<key>fivesuperior</key>
		<string>fivesuperior.glif</string>
		<key>flatg</key>
		<string>flatg.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>fourinferior</key>
		<string>fourinferior.glif</string>
		<key>foursuperior</key>
		<string>foursuperior.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.compact_desc</key>
		<string>g.compact_desc.glif</string>
		<key>g.italic</key>
		<string>g.italic.glif</string>
		<key>g.replaced_with_med_curvy</key>
		<string>g.replaced_with_med_curvy.glif</string>
		<key>g.roman</key>
		<string>g.roman.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>h.replaced_with_med_curvy</key>
		<string>h.replaced_with_med_curvy.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>i.replaced_with_med_curvy</key>
		<string>i.replaced_with_med_curvy.glif</string>
		<key>i.roman</key>
		<string>i.roman.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>j.replaced_with_med_curvy</key>
		<string>j.replaced_with_med_curvy.glif</string>
		<key>j.sharp</key>
		<string>j.sharp.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>k.italic_kinked</key>
		<string>k.italic_kinked.glif</string>
		<key>k.replaced_with_med_curvy</key>
		<string>k.replaced_with_med_curvy.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>l.replaced_with_med_curvy</key>
		<string>l.replaced_with_med_curvy.glif</string>
		<key>l.roman</key>
		<string>l.roman.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>m.replaced_with_med_curvy</key>
		<string>m.replaced_with_med_curvy.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.high_contrast</key>
		<string>n.high_contrast.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>n.replaced_with_med_curvy</key>
		<string>n.replaced_with_med_curvy.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nineinferior</key>
		<string>nineinferior.glif</string>
		<key>ninesuperior</key>
		<string>ninesuperior.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.curvy</key>
		<string>o.curvy.glif</string>
		<key>o.replaced_with_med_curvy</key>
		<string>o.replaced_with_med_curvy.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.flatflag</key>
		<string>one.flatflag.glif</string>
		<key>oneeighth</key>
		<string>oneeighth.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>oneinferior</key>
		<string>oneinferior.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>onesuperior</key>
		<string>onesuperior.glif</string>
		<key>onethird</key>
		<string>onethird.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>p.replaced_with_med_curvy</key>
		<string>p.replaced_with_med_curvy.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>q.replaced_with_med_curvy</key>
		<string>q.replaced_with_med_curvy.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>r.italic_square</key>
		<string>r.italic_square.glif</string>
		<key>r.replaced_with_curve</key>
		<string>r.replaced_with_curve.glif</string>
		<key>r.replaced_with_med_curvy</key>
		<string>r.replaced_with_med_curvy.glif</string>
		<key>r.roman</key>
		<string>r.roman.glif</string>
		<key>r.sharp</key>
		<string>r.sharp.glif</string>
		<key>r.simple_italic</key>
		<string>r.simple_italic.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>s.italish</key>
		<string>s.italish.glif</string>
		<key>s.replaced_with_med_curvy</key>
		<string>s.replaced_with_med_curvy.glif</string>
		<key>s.sharp</key>
		<string>s.sharp.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seveneighths</key>
		<string>seveneighths.glif</string>
		<key>seveninferior</key>
		<string>seveninferior.glif</string>
		<key>sevensuperior</key>
		<string>sevensuperior.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>sixinferior</key>
		<string>sixinferior.glif</string>
		<key>sixsuperior</key>
		<string>sixsuperior.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>sterling.replaced_with_flat</key>
		<string>sterling.replaced_with_flat.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>t.replaced_with_med_curvy</key>
		<string>t.replaced_with_med_curvy.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>threeeighths</key>
		<string>threeeighths.glif</string>
		<key>threeinferior</key>
		<string>threeinferior.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>threesuperior</key>
		<string>threesuperior.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.replaced_with_rounder</key>
		<string>two.replaced_with_rounder.glif</string>
		<key>twoinferior</key>
		<string>twoinferior.glif</string>
		<key>twosuperior</key>
		<string>twosuperior.glif</string>
		<key>twothirds</key>
		<string>twothirds.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>u.replaced_with_med_curvy</key>
		<string>u.replaced_with_med_curvy.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>v.replaced_with_med_curvy</key>
		<string>v.replaced_with_med_curvy.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>w.more_italic</key>
		<string>w.more_italic.glif</string>
		<key>w.replaced_with_med_curvy</key>
		<string>w.replaced_with_med_curvy.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>x.replaced_with_med_curvy</key>
		<string>x.replaced_with_med_curvy.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.dual_curve</key>
		<string>y.dual_curve.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>y.replaced_with_med_curvy</key>
		<string>y.replaced_with_med_curvy.glif</string>
		<key>y.roman</key>
		<string>y.roman.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>z.replaced_with_med_curvy</key>
		<string>z.replaced_with_med_curvy.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zeroinferior</key>
		<string>zeroinferior.glif</string>
		<key>zerosuperior</key>
		<string>zerosuperior.glif</string>
	</dict>
</plist>
