<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>copyright</key>
		<string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Recursive</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<real>-14.04</real>
		<key>openTypeHheaAscender</key>
		<integer>950</integer>
		<key>openTypeHheaDescender</key>
		<integer>-250</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2Selection</key>
		<array>
			<integer>7</integer>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>322</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>110</integer>
		<key>openTypeOS2TypoAscender</key>
		<integer>950</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-250</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1207</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>271</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-20</integer>
			<integer>0</integer>
			<integer>540</integer>
			<integer>553</integer>
			<integer>699</integer>
			<integer>720</integer>
			<integer>750</integer>
			<integer>770</integer>
		</array>
		<key>postscriptDefaultWidthX</key>
		<integer>600</integer>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-210</integer>
			<integer>-186</integer>
			<integer>357</integer>
			<integer>366</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>145</integer>
			<integer>153</integer>
			<integer>141</integer>
			<integer>150</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>149</integer>
			<integer>156</integer>
			<integer>153</integer>
			<integer>156</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-175</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>110</integer>
		<key>styleMapFamilyName</key>
		<string>Recursive Mono Casual</string>
		<key>styleMapStyleName</key>
		<string>bold italic</string>
		<key>styleName</key>
		<string>Mono Casual B Slanted</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>13</integer>
		<key>xHeight</key>
		<integer>540</integer>
	</dict>
</plist>
