<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
