<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.arrowhead</key>
		<string>_arrowhead.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>C.morph</key>
		<string>C_.morph.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Dcroat</key>
		<string>D_croat.glif</string>
		<key>Dcroat.copy_1</key>
		<string>D_croat.copy_1.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>G.morph</key>
		<string>G_.morph.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>IJ</key>
		<string>I_J_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.noserif</key>
		<string>L_.noserif.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>M.sharptrap</key>
		<string>M_.sharptrap.glif</string>
		<key>M.topserif</key>
		<string>M_.topserif.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>N.sharptrap</key>
		<string>N_.sharptrap.glif</string>
		<key>Nhookleft</key>
		<string>N_hookleft.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>S.morph</key>
		<string>S_.morph.glif</string>
		<key>S.simpleserif</key>
		<string>S_.simpleserif.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tbar</key>
		<string>T_bar.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Z.topserif</key>
		<string>Z_.topserif.glif</string>
		<key>Z.upward-traps</key>
		<string>Z_.upward-traps.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.curve_tail</key>
		<string>a.curve_tail.glif</string>
		<key>a.italic</key>
		<string>a.italic.glif</string>
		<key>a.italic_curl</key>
		<string>a.italic_curl.glif</string>
		<key>a.roman</key>
		<string>a.roman.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>arrowright</key>
		<string>arrowright.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>bitcoin</key>
		<string>bitcoin.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.italic</key>
		<string>c.italic.glif</string>
		<key>cedi</key>
		<string>cedi.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>colonmonetary</key>
		<string>colonmonetary.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.italic</key>
		<string>d.italic.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dong</key>
		<string>dong.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.italic</key>
		<string>e.italic.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eightinferior</key>
		<string>eightinferior.glif</string>
		<key>eightsuperior</key>
		<string>eightsuperior.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.italic</key>
		<string>f.italic.glif</string>
		<key>f.mono</key>
		<string>f.mono.glif</string>
		<key>f.roman</key>
		<string>f.roman.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>fiveeighths</key>
		<string>fiveeighths.glif</string>
		<key>fiveinferior</key>
		<string>fiveinferior.glif</string>
		<key>fivesuperior</key>
		<string>fivesuperior.glif</string>
		<key>flatg</key>
		<string>flatg.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>fourinferior</key>
		<string>fourinferior.glif</string>
		<key>foursuperior</key>
		<string>foursuperior.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.compact_desc</key>
		<string>g.compact_desc.glif</string>
		<key>g.italic</key>
		<string>g.italic.glif</string>
		<key>g.mono</key>
		<string>g.mono.glif</string>
		<key>g.roman</key>
		<string>g.roman.glif</string>
		<key>g.slanttrap</key>
		<string>g.slanttrap.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>guarani</key>
		<string>guarani.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h.italic</key>
		<string>h.italic.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>i.mono</key>
		<string>i.mono.glif</string>
		<key>i.roman</key>
		<string>i.roman.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.italic</key>
		<string>j.italic.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.italic</key>
		<string>k.italic.glif</string>
		<key>k.italic_kinked</key>
		<string>k.italic_kinked.glif</string>
		<key>k.slanttraps</key>
		<string>k.slanttraps.glif</string>
		<key>kip</key>
		<string>kip.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.italic</key>
		<string>l.italic.glif</string>
		<key>l.mono</key>
		<string>l.mono.glif</string>
		<key>l.roman</key>
		<string>l.roman.glif</string>
		<key>liraTurkish</key>
		<string>liraT_urkish.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>manat</key>
		<string>manat.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>naira</key>
		<string>naira.glif</string>
		<key>newsheqel</key>
		<string>newsheqel.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nineinferior</key>
		<string>nineinferior.glif</string>
		<key>ninesuperior</key>
		<string>ninesuperior.glif</string>
		<key>notequal</key>
		<string>notequal.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>ohm</key>
		<string>ohm.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.flatflag</key>
		<string>one.flatflag.glif</string>
		<key>oneeighth</key>
		<string>oneeighth.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>oneinferior</key>
		<string>oneinferior.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>onesuperior</key>
		<string>onesuperior.glif</string>
		<key>onethird</key>
		<string>onethird.glif</string>
		<key>oogonek</key>
		<string>oogonek.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.italic</key>
		<string>r.italic.glif</string>
		<key>r.italic_square</key>
		<string>r.italic_square.glif</string>
		<key>r.mono</key>
		<string>r.mono.glif</string>
		<key>r.replaced_with_curve</key>
		<string>r.replaced_with_curve.glif</string>
		<key>r.roman</key>
		<string>r.roman.glif</string>
		<key>ruble</key>
		<string>ruble.glif</string>
		<key>rupee</key>
		<string>rupee.glif</string>
		<key>rupeeIndian</key>
		<string>rupeeI_ndian.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.upward-traps</key>
		<string>seven.upward-traps.glif</string>
		<key>seveneighths</key>
		<string>seveneighths.glif</string>
		<key>seveninferior</key>
		<string>seveninferior.glif</string>
		<key>sevensuperior</key>
		<string>sevensuperior.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>sixinferior</key>
		<string>sixinferior.glif</string>
		<key>sixsuperior</key>
		<string>sixsuperior.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>sterling.replaced_with_flat</key>
		<string>sterling.replaced_with_flat.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tenge</key>
		<string>tenge.glif</string>
		<key>thai:baht</key>
		<string>thai_baht.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>threeeighths</key>
		<string>threeeighths.glif</string>
		<key>threeinferior</key>
		<string>threeinferior.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>threesuperior</key>
		<string>threesuperior.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.replaced_with_rounder</key>
		<string>two.replaced_with_rounder.glif</string>
		<key>twoinferior</key>
		<string>twoinferior.glif</string>
		<key>twosuperior</key>
		<string>twosuperior.glif</string>
		<key>twothirds</key>
		<string>twothirds.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.italic</key>
		<string>v.italic.glif</string>
		<key>v.italic_diagonal</key>
		<string>v.italic_diagonal.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.italic</key>
		<string>w.italic.glif</string>
		<key>w.italic_diagonal</key>
		<string>w.italic_diagonal.glif</string>
		<key>won</key>
		<string>won.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.italic</key>
		<string>y.italic.glif</string>
		<key>y.roman</key>
		<string>y.roman.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.altdiagonal</key>
		<string>z.altdiagonal.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
		<key>z.slanttrap</key>
		<string>z.slanttrap.glif</string>
		<key>z.slanttraps</key>
		<string>z.slanttraps.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zeroinferior</key>
		<string>zeroinferior.glif</string>
		<key>zerosuperior</key>
		<string>zerosuperior.glif</string>
	</dict>
</plist>
