<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>L</string>
		<string>a</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>n.alt1</string>
		<string>o</string>
		<string>r</string>
		<string>r.alt1</string>
		<string>s</string>
		<string>t</string>
	</array>
</dict>
</plist>
