<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.typemytype.robofont.layerShow</key>
			<true/>
			<key>com.typemytype.robofont.layerShowCoordinates</key>
			<false/>
			<key>com.typemytype.robofont.layerShowFill</key>
			<false/>
			<key>com.typemytype.robofont.layerShowPoints</key>
			<false/>
			<key>com.typemytype.robofont.layerShowStroke</key>
			<false/>
			<key>com.typemytype.robofont.segmentType</key>
			<string>curve</string>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.3.6
1634586893.2 A_E_.glif
1634586893.2 O_slash.glif
1634586893.2 _arrowhead.glif
1634586893.2 arrowleft.glif
1634586893.2 c.glif
1634586893.2 e.glif
1597766768.9 f.glif
1634586893.2 g.glif
1634586893.2 i.italic.glif
1634586893.2 j.glif
1634586893.2 lslash.glif
1634586893.2 numbersign.glif
1634586893.2 o.glif
1634586893.2 oslash.glif
1634586893.3 question.glif
1634586893.3 section.glif
1634586893.3 t.glif</string>
		</dict>
	</dict>
</plist>
