<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>Scaron</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ydieresis</string>
				<string>Z</string>
				<string>Zcaron</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>Lslash</string>
				<string>OE</string>
				<string>uni00B5</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>scaron</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>zcaron</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>lslash</string>
				<string>oe</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>uni0300</string>
				<string>uni0301</string>
				<string>uni0302</string>
				<string>uni0303</string>
				<string>uni0304</string>
				<string>uni0306</string>
				<string>uni0307</string>
				<string>uni0308</string>
				<string>uni030A</string>
				<string>uni030B</string>
				<string>uni030C</string>
				<string>uni0312</string>
				<string>uni0315</string>
				<string>uni0323</string>
				<string>uni0326</string>
				<string>uni0327</string>
				<string>uni0328</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>asterisk</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>question</string>
				<string>questiondown</string>
				<string>slash</string>
				<string>backslash</string>
				<string>fraction</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>section</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>bullet</string>
				<string>overline</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>divide</string>
				<string>multiply</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>logicalnot</string>
				<string>uni2190</string>
				<string>uni2191</string>
				<string>uni2192</string>
				<string>uni2193</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>Euro</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>acute</string>
				<string>grave</string>
				<string>hungarumlaut</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>breve</string>
				<string>tilde</string>
				<string>macron</string>
				<string>dieresis</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>ogonek</string>
				<string>copyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>degree</string>
				<string>bitcoin</string>
				<string>florin</string>
				<string>fi</string>
				<string>fl</string>
				<string>uni0300.case</string>
				<string>uni0301.case</string>
				<string>uni0302.case</string>
				<string>uni0303.case</string>
				<string>uni0304.case</string>
				<string>uni0306.case</string>
				<string>uni0307.case</string>
				<string>uni0308.case</string>
				<string>uni030A.case</string>
				<string>uni030B.case</string>
				<string>uni030C.case</string>
				<string>uni0312.case</string>
				<string>uni0315.case</string>
				<string>uni0323.case</string>
				<string>uni0326.case</string>
				<string>uni0327.case</string>
				<string>uni0328.case</string>
				<string>braceleft.assymetrical</string>
				<string>braceright.assymetrical</string>
				<string>ampersand.nobar</string>
				<string>ampersand.smooth</string>
				<string>ampersand.crossbar</string>
				<string>ampersand.straightbar</string>
				<string>dollar.lower</string>
				<string>e.italicer</string>
				<string>f.italicer</string>
				<string>g.italicer</string>
				<string>i.italicer</string>
				<string>j.italicer</string>
				<string>k.italicer</string>
				<string>l.italicer</string>
				<string>v.italicer</string>
				<string>w.italicer</string>
				<string>y.italicer</string>
				<string>z.italicer</string>
				<string>a.italic</string>
				<string>f.italic</string>
				<string>g.italic</string>
				<string>i.italic</string>
				<string>l.italic</string>
				<string>r.italic</string>
				<string>y.italic</string>
				<string>c.replaced_with_ss01</string>
				<string>f.replaced_with_ss01</string>
				<string>i.replaced_with_ss01</string>
				<string>l.replaced_with_ss01</string>
				<string>r.replaced_with_ss01</string>
				<string>Y.ss02</string>
				<string>i.ss02</string>
				<string>l.ss02</string>
				<string>r.ss02</string>
				<string>C.rounder</string>
				<string>G.rounder</string>
				<string>S.rounder</string>
				<string>c.rounder</string>
				<string>a.smoothtraps</string>
				<string>r.smoothtraps</string>
				<string>v.smoothtraps</string>
				<string>k.replaced_with_smoother</string>
				<string>x.replaced_with_smoother</string>
				<string>y.replaced_with_smoother</string>
				<string>g.ss01</string>
				<string>y.ss01</string>
				<string>m.roundcounter</string>
				<string>n.roundcounter</string>
				<string>g.ss01alt</string>
				<string>R.smallserif</string>
				<string>g.replaced_with_bigear</string>
				<string>g.replaced_with_rounder</string>
				<string>B.replaced_with_nokinks</string>
				<string>C.replaced_with_nokinks</string>
				<string>D.replaced_with_nokinks</string>
				<string>G.replaced_with_nokinks</string>
				<string>J.replaced_with_nokinks</string>
				<string>O.replaced_with_nokinks</string>
				<string>P.replaced_with_nokinks</string>
				<string>R.replaced_with_nokinks</string>
				<string>S.replaced_with_nokinks</string>
				<string>U.replaced_with_nokinks</string>
				<string>a.replaced_with_nokinks</string>
				<string>b.replaced_with_nokinks</string>
				<string>c.replaced_with_nokinks</string>
				<string>d.replaced_with_nokinks</string>
				<string>e.replaced_with_nokinks</string>
				<string>f.replaced_with_nokinks</string>
				<string>g.replaced_with_nokinks</string>
				<string>h.replaced_with_nokinks</string>
				<string>j.replaced_with_nokinks</string>
				<string>m.replaced_with_nokinks</string>
				<string>n.replaced_with_nokinks</string>
				<string>o.replaced_with_nokinks</string>
				<string>p.replaced_with_nokinks</string>
				<string>q.replaced_with_nokinks</string>
				<string>t.replaced_with_nokinks</string>
				<string>u.replaced_with_nokinks</string>
				<string>zero.replaced_with_nokinks</string>
				<string>two.replaced_with_nokinks</string>
				<string>three.replaced_with_nokinks</string>
				<string>five.replaced_with_nokinks</string>
				<string>six.replaced_with_nokinks</string>
				<string>eight.replaced_with_nokinks</string>
				<string>nine.replaced_with_nokinks</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.glyphBuilder.lastSavedFileName</key>
	<string>recursive-diacritics-for-latin-refined</string>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.layerName</key>
	<string>foreground</string>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/stephennixon/Dropbox/KABK_netherlands/type_media/000-casual-mono/generated-fonts/Recursive Mono v0.0.10 Micro-Light.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typesupply.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>F</string>
				<string>G</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Z</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>mu</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>parenright</string>
				<string>bracketright</string>
				<string>braceright</string>
				<string>guillemetleft</string>
				<string>quoteleft</string>
				<string>guillemetright</string>
				<string>quoteright</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>asterisk</string>
				<string>comma</string>
				<string>period</string>
				<string>slash</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>question</string>
				<string>at</string>
				<string>backslash</string>
				<string>exclamdown</string>
				<string>periodcentered</string>
				<string>questiondown</string>
				<string>plus</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>bar</string>
				<string>asciitilde</string>
				<string>logicalnot</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>minus</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>asciicircum</string>
				<string>grave</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>acute</string>
				<string>cedilla</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>copyright</string>
				<string>registered</string>
				<string>degree</string>
				<string>paragraph</string>
				<string>space</string>
				<string>H</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Lslash</string>
		<string>OE</string>
		<string>uni00B5</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>lslash</string>
		<string>oe</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0300</string>
		<string>uni0301</string>
		<string>uni0302</string>
		<string>uni0303</string>
		<string>uni0304</string>
		<string>uni0306</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>uni030A</string>
		<string>uni030B</string>
		<string>uni030C</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni0323</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>section</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>overline</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>divide</string>
		<string>multiply</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>logicalnot</string>
		<string>uni2190</string>
		<string>uni2191</string>
		<string>uni2192</string>
		<string>uni2193</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>Euro</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>acute</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>tilde</string>
		<string>macron</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bitcoin</string>
		<string>florin</string>
		<string>fi</string>
		<string>fl</string>
		<string>uni0300.case</string>
		<string>uni0301.case</string>
		<string>uni0302.case</string>
		<string>uni0303.case</string>
		<string>uni0304.case</string>
		<string>uni0306.case</string>
		<string>uni0307.case</string>
		<string>uni0308.case</string>
		<string>uni030A.case</string>
		<string>uni030B.case</string>
		<string>uni030C.case</string>
		<string>uni0312.case</string>
		<string>uni0315.case</string>
		<string>uni0323.case</string>
		<string>uni0326.case</string>
		<string>uni0327.case</string>
		<string>uni0328.case</string>
		<string>braceleft.assymetrical</string>
		<string>braceright.assymetrical</string>
		<string>ampersand.nobar</string>
		<string>ampersand.smooth</string>
		<string>ampersand.crossbar</string>
		<string>ampersand.straightbar</string>
		<string>dollar.lower</string>
		<string>e.italicer</string>
		<string>f.italicer</string>
		<string>g.italicer</string>
		<string>i.italicer</string>
		<string>j.italicer</string>
		<string>k.italicer</string>
		<string>l.italicer</string>
		<string>v.italicer</string>
		<string>w.italicer</string>
		<string>y.italicer</string>
		<string>z.italicer</string>
		<string>a.italic</string>
		<string>f.italic</string>
		<string>g.italic</string>
		<string>i.italic</string>
		<string>l.italic</string>
		<string>r.italic</string>
		<string>y.italic</string>
		<string>c.replaced_with_ss01</string>
		<string>f.replaced_with_ss01</string>
		<string>i.replaced_with_ss01</string>
		<string>l.replaced_with_ss01</string>
		<string>r.replaced_with_ss01</string>
		<string>Y.ss02</string>
		<string>i.ss02</string>
		<string>l.ss02</string>
		<string>r.ss02</string>
		<string>C.rounder</string>
		<string>G.rounder</string>
		<string>S.rounder</string>
		<string>c.rounder</string>
		<string>a.smoothtraps</string>
		<string>r.smoothtraps</string>
		<string>v.smoothtraps</string>
		<string>k.replaced_with_smoother</string>
		<string>x.replaced_with_smoother</string>
		<string>y.replaced_with_smoother</string>
		<string>g.ss01</string>
		<string>y.ss01</string>
		<string>m.roundcounter</string>
		<string>n.roundcounter</string>
		<string>g.ss01alt</string>
		<string>R.smallserif</string>
		<string>g.replaced_with_bigear</string>
		<string>g.replaced_with_rounder</string>
		<string>B.replaced_with_nokinks</string>
		<string>C.replaced_with_nokinks</string>
		<string>D.replaced_with_nokinks</string>
		<string>G.replaced_with_nokinks</string>
		<string>J.replaced_with_nokinks</string>
		<string>O.replaced_with_nokinks</string>
		<string>P.replaced_with_nokinks</string>
		<string>R.replaced_with_nokinks</string>
		<string>S.replaced_with_nokinks</string>
		<string>U.replaced_with_nokinks</string>
		<string>a.replaced_with_nokinks</string>
		<string>b.replaced_with_nokinks</string>
		<string>c.replaced_with_nokinks</string>
		<string>d.replaced_with_nokinks</string>
		<string>e.replaced_with_nokinks</string>
		<string>f.replaced_with_nokinks</string>
		<string>g.replaced_with_nokinks</string>
		<string>h.replaced_with_nokinks</string>
		<string>j.replaced_with_nokinks</string>
		<string>m.replaced_with_nokinks</string>
		<string>n.replaced_with_nokinks</string>
		<string>o.replaced_with_nokinks</string>
		<string>p.replaced_with_nokinks</string>
		<string>q.replaced_with_nokinks</string>
		<string>t.replaced_with_nokinks</string>
		<string>u.replaced_with_nokinks</string>
		<string>zero.replaced_with_nokinks</string>
		<string>two.replaced_with_nokinks</string>
		<string>three.replaced_with_nokinks</string>
		<string>five.replaced_with_nokinks</string>
		<string>six.replaced_with_nokinks</string>
		<string>eight.replaced_with_nokinks</string>
		<string>nine.replaced_with_nokinks</string>
		<string>uni1E9E</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>uni00A0</string>
		<string>uni00AD</string>
		<string>pi</string>
		<string>uni2113</string>
		<string>uni2126</string>
		<string>estimated</string>
		<string>partialdiff</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>uni2261</string>
		<string>ij</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>ijacute</string>
		<string>ij.dotless</string>
		<string>ringacute</string>
		<string>ringacute.case</string>
		<string>uni01FA</string>
		<string>uni01FB</string>
		<string>amacron</string>
		<string>emacron</string>
		<string>imacron</string>
		<string>omacron</string>
		<string>umacron</string>
		<string>ymacron</string>
		<string>Amacron</string>
		<string>Emacron</string>
		<string>Imacron</string>
		<string>Omacron</string>
		<string>Umacron</string>
		<string>Ymacron</string>
	</array>
</dict>
</plist>
