<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>700</integer>
		<key>copyright</key>
		<string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Recursive</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>openTypeNameRecords</key>
		<array>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-20</integer>
			<integer>0</integer>
			<integer>540</integer>
			<integer>556</integer>
			<integer>700</integer>
			<integer>720</integer>
			<integer>756</integer>
			<integer>770</integer>
		</array>
		<key>postscriptDefaultWidthX</key>
		<integer>600</integer>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptIsFixedPitch</key>
		<true/>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-210</integer>
			<integer>-188</integer>
			<integer>366</integer>
			<integer>366</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>140</integer>
			<integer>149</integer>
			<integer>140</integer>
			<integer>150</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>156</integer>
			<integer>150</integer>
			<integer>150</integer>
			<integer>145</integer>
		</array>
		<key>styleMapStyleName</key>
		<string>bold</string>
		<key>styleName</key>
		<string>Mono Casual B</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>13</integer>
		<key>xHeight</key>
		<integer>540</integer>
	</dict>
</plist>
