<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>a.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
</dict>
</plist>
