<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt6</key>
	<string>a.alt6.glif</string>
	<key>a.alt7</key>
	<string>a.alt7.glif</string>
	<key>a.alt8</key>
	<string>a.alt8.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.alt1</key>
	<string>b.alt1.glif</string>
	<key>b.alt2</key>
	<string>b.alt2.glif</string>
	<key>b.alt3</key>
	<string>b.alt3.glif</string>
	<key>b.alt4</key>
	<string>b.alt4.glif</string>
	<key>b.alt5</key>
	<string>b.alt5.glif</string>
	<key>b.alt6</key>
	<string>b.alt6.glif</string>
	<key>b.alt7</key>
	<string>b.alt7.glif</string>
	<key>b.alt8</key>
	<string>b.alt8.glif</string>
	<key>balt3</key>
	<string>balt3.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.alt3</key>
	<string>c.alt3.glif</string>
	<key>c.alt4</key>
	<string>c.alt4.glif</string>
	<key>c.alt5</key>
	<string>c.alt5.glif</string>
	<key>c.alt6</key>
	<string>c.alt6.glif</string>
	<key>c.alt7</key>
	<string>c.alt7.glif</string>
	<key>c.alt8</key>
	<string>c.alt8.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.alt1</key>
	<string>d.alt1.glif</string>
	<key>d.alt2</key>
	<string>d.alt2.glif</string>
	<key>d.alt3</key>
	<string>d.alt3.glif</string>
	<key>d.alt4</key>
	<string>d.alt4.glif</string>
	<key>d.alt5</key>
	<string>d.alt5.glif</string>
	<key>d.alt6</key>
	<string>d.alt6.glif</string>
	<key>d.alt7</key>
	<string>d.alt7.glif</string>
	<key>d.alt8</key>
	<string>d.alt8.glif</string>
	<key>dalt3</key>
	<string>dalt3.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.002</key>
	<string>e.002.glif</string>
	<key>e.alt6</key>
	<string>e.alt6.glif</string>
	<key>e.alt7</key>
	<string>e.alt7.glif</string>
	<key>e.alt8</key>
	<string>e.alt8.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.alt1</key>
	<string>f.alt1.glif</string>
	<key>f.alt2</key>
	<string>f.alt2.glif</string>
	<key>f.alt3</key>
	<string>f.alt3.glif</string>
	<key>f.alt4</key>
	<string>f.alt4.glif</string>
	<key>f.alt5</key>
	<string>f.alt5.glif</string>
	<key>f.alt6</key>
	<string>f.alt6.glif</string>
	<key>f.alt7</key>
	<string>f.alt7.glif</string>
	<key>f.alt8</key>
	<string>f.alt8.glif</string>
	<key>f.italic</key>
	<string>f.italic.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>falt3</key>
	<string>falt3.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt6</key>
	<string>g.alt6.glif</string>
	<key>g.alt7</key>
	<string>g.alt7.glif</string>
	<key>g.alt8</key>
	<string>g.alt8.glif</string>
	<key>g.italic</key>
	<string>g.italic.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ver02</key>
	<string>g.ver02.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.alt1</key>
	<string>h.alt1.glif</string>
	<key>h.alt2</key>
	<string>h.alt2.glif</string>
	<key>h.alt3</key>
	<string>h.alt3.glif</string>
	<key>h.alt4</key>
	<string>h.alt4.glif</string>
	<key>h.alt5</key>
	<string>h.alt5.glif</string>
	<key>h.alt6</key>
	<string>h.alt6.glif</string>
	<key>h.alt7</key>
	<string>h.alt7.glif</string>
	<key>h.alt8</key>
	<string>h.alt8.glif</string>
	<key>halt3</key>
	<string>halt3.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.alt3</key>
	<string>i.alt3.glif</string>
	<key>i.alt4</key>
	<string>i.alt4.glif</string>
	<key>i.alt5</key>
	<string>i.alt5.glif</string>
	<key>i.alt8</key>
	<string>i.alt8.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.alt4</key>
	<string>j.alt4.glif</string>
	<key>j.alt5</key>
	<string>j.alt5.glif</string>
	<key>j.alt8</key>
	<string>j.alt8.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.alt4</key>
	<string>k.alt4.glif</string>
	<key>k.alt5</key>
	<string>k.alt5.glif</string>
	<key>k.alt8</key>
	<string>k.alt8.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.alt3</key>
	<string>l.alt3.glif</string>
	<key>l.alt4</key>
	<string>l.alt4.glif</string>
	<key>l.alt5</key>
	<string>l.alt5.glif</string>
	<key>l.alt8</key>
	<string>l.alt8.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.alt1</key>
	<string>m.alt1.glif</string>
	<key>m.alt2</key>
	<string>m.alt2.glif</string>
	<key>m.alt3</key>
	<string>m.alt3.glif</string>
	<key>m.alt4</key>
	<string>m.alt4.glif</string>
	<key>m.alt5</key>
	<string>m.alt5.glif</string>
	<key>m.alt6</key>
	<string>m.alt6.glif</string>
	<key>m.alt7</key>
	<string>m.alt7.glif</string>
	<key>m.alt8</key>
	<string>m.alt8.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>malt3</key>
	<string>malt3.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.alt1</key>
	<string>n.alt1.glif</string>
	<key>n.alt2</key>
	<string>n.alt2.glif</string>
	<key>n.alt3</key>
	<string>n.alt3.glif</string>
	<key>n.alt4</key>
	<string>n.alt4.glif</string>
	<key>n.alt5</key>
	<string>n.alt5.glif</string>
	<key>n.alt6</key>
	<string>n.alt6.glif</string>
	<key>n.alt7</key>
	<string>n.alt7.glif</string>
	<key>n.alt8</key>
	<string>n.alt8.glif</string>
	<key>nalt3</key>
	<string>nalt3.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.alt1</key>
	<string>p.alt1.glif</string>
	<key>p.alt2</key>
	<string>p.alt2.glif</string>
	<key>p.alt3</key>
	<string>p.alt3.glif</string>
	<key>p.alt4</key>
	<string>p.alt4.glif</string>
	<key>p.alt5</key>
	<string>p.alt5.glif</string>
	<key>p.alt6</key>
	<string>p.alt6.glif</string>
	<key>p.alt7</key>
	<string>p.alt7.glif</string>
	<key>p.alt8</key>
	<string>p.alt8.glif</string>
	<key>palt3</key>
	<string>palt3.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.alt4</key>
	<string>q.alt4.glif</string>
	<key>q.alt5</key>
	<string>q.alt5.glif</string>
	<key>q.alt6</key>
	<string>q.alt6.glif</string>
	<key>q.alt7</key>
	<string>q.alt7.glif</string>
	<key>q.alt8</key>
	<string>q.alt8.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.copy_1</key>
	<string>quotedblleft.copy_1.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.copy_1</key>
	<string>quoteleft.copy_1.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt1</key>
	<string>r.alt1.glif</string>
	<key>r.alt2</key>
	<string>r.alt2.glif</string>
	<key>r.alt3</key>
	<string>r.alt3.glif</string>
	<key>r.alt4</key>
	<string>r.alt4.glif</string>
	<key>r.alt5</key>
	<string>r.alt5.glif</string>
	<key>r.alt6</key>
	<string>r.alt6.glif</string>
	<key>r.alt7</key>
	<string>r.alt7.glif</string>
	<key>r.alt8</key>
	<string>r.alt8.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>ralt3</key>
	<string>ralt3.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.alt3</key>
	<string>t.alt3.glif</string>
	<key>t.alt4</key>
	<string>t.alt4.glif</string>
	<key>t.alt5</key>
	<string>t.alt5.glif</string>
	<key>t.alt8</key>
	<string>t.alt8.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.alt1</key>
	<string>u.alt1.glif</string>
	<key>u.alt2</key>
	<string>u.alt2.glif</string>
	<key>u.alt3</key>
	<string>u.alt3.glif</string>
	<key>u.alt4</key>
	<string>u.alt4.glif</string>
	<key>u.alt5</key>
	<string>u.alt5.glif</string>
	<key>u.alt6</key>
	<string>u.alt6.glif</string>
	<key>u.alt7</key>
	<string>u.alt7.glif</string>
	<key>u.alt8</key>
	<string>u.alt8.glif</string>
	<key>ualt3</key>
	<string>ualt3.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.alt2</key>
	<string>v.alt2.glif</string>
	<key>v.alt3</key>
	<string>v.alt3.glif</string>
	<key>v.alt4</key>
	<string>v.alt4.glif</string>
	<key>v.alt5</key>
	<string>v.alt5.glif</string>
	<key>valt3</key>
	<string>valt3.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt2</key>
	<string>y.alt2.glif</string>
	<key>y.alt3</key>
	<string>y.alt3.glif</string>
	<key>y.alt4</key>
	<string>y.alt4.glif</string>
	<key>y.alt5</key>
	<string>y.alt5.glif</string>
	<key>y.italic</key>
	<string>y.italic.glif</string>
	<key>yalt3</key>
	<string>yalt3.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
</dict>
</plist>
