<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m.italic</key>
		<string>m.italic.glif</string>
		<key>notdef</key>
		<string>notdef.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>u.italic</key>
		<string>u.italic.glif</string>
		<key>x.italic</key>
		<string>x.italic.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
	</dict>
</plist>
