<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>recursive-mono-weight-b_c</string>
    <key>guidelines</key>
    <array/>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>549.0518031784841</real>
      <real>569.0518031784841</real>
      <integer>700</integer>
      <integer>720</integer>
      <integer>750</integer>
      <integer>770</integer>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>0</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>weight_1071.55_expression_0.95</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>xHeight</key>
    <real>549.0518031784841</real>
  </dict>
</plist>
