<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cedillacomb</key>
		<string>cedillacomb.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>uni2190</key>
		<string>uni2190.glif</string>
		<key>uni2191</key>
		<string>uni2191.glif</string>
		<key>w</key>
		<string>w.glif</string>
	</dict>
</plist>
