<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Recursive Mono</string>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ARRW</string>
    <key>openTypeOS2WeightClass</key>
    <integer>600</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>535.9056603773585</real>
      <real>551.6132075471698</real>
      <integer>700</integer>
      <integer>720</integer>
      <real>754.2452830188679</real>
      <real>767.0754716981132</real>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>0</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-221.69811320754718</real>
      <real>-197.6509433962264</real>
      <real>369.8018867924529</real>
      <real>370.97169811320754</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>0</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>0</integer>
    <key>styleName</key>
    <string>Casual SemiBold</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>5</integer>
    <key>xHeight</key>
    <real>535.9056603773585</real>
  </dict>
</plist>
