<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B</key>
		<string>B_.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>i.italic</key>
		<string>i.italic.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>n.italic</key>
		<string>n.italic.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>s.italic</key>
		<string>s.italic.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>z.italic</key>
		<string>z.italic.glif</string>
	</dict>
</plist>
