<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.3.6
1597766767.6 B_.glif
1597766767.6 J_.glif
1597766767.6 O_E_.glif
1597766767.6 O_slash.glif
1597766767.6 P_.glif
1597766767.6 Q_.glif
1597766767.6 R_.glif
1597766767.6 S_.glif
1597766767.6 U_.glif
1597766767.6 arrowleft.glif
1597766767.6 at.glif
1597766767.6 c.glif
1597766767.6 d.glif
1597766767.6 e.glif
1597766767.6 f.glif
1597766767.6 g.glif
1597766767.6 germandbls.glif
1597766767.6 i.italic.glif
1597766767.6 j.glif
1597766767.6 n.italic.glif
1597766767.6 p.glif
1597766767.6 percent.glif
1597766767.6 q.glif
1597766767.6 s.italic.glif
1597766767.6 t.glif
1597766767.6 w.glif
1597766767.6 z.italic.glif</string>
    </dict>
  </dict>
</plist>
